[2020-06-01 12:50] #759 closed

[2020-06-01 13:03] krzysztofzablocki commented on #817
could any of you provide a minimal example code / template that causes the issue for you? I've some time to investigate this now

[2020-06-01 16:59] marcelofabri commented on #828
I'm not sure closing this without any changes (at least documentation) is the right call. This behavior is extremely surprising for me as a user and isn't called out explicitly anywhere.

[2020-06-01 20:09] jonnokim17 commented on #817
any updates on this yet?

[2020-06-02 05:50] krzysztofzablocki commented on #828
but this is documented, and as @ilyapuchka said this makes generic support more uniform, previous behavior existed prior to more general generic support

@marcelofabri I'd be fine with adding a convenience accessor for type name to reproduce this old behaviour, you could create a computed variable on the `TypeName` that would just look whether type is generic and if so recreate the fully qualified

[2020-06-04 14:32] metasmile commented on #817
+1: any updates with some standard solution?

[2020-06-12 04:29] jasdeepsaini commented on #816
I tried updating XCodeProj to version 7.0.0 which has the [fix](https://github.com/tuist/XcodeProj/pull/439) needed to support SPM packages.  That has a dependency on PathKit 1.0.0.

The PathKit dependency conflicts with Stencil which has a dependency on PathKit 0.9.2.   Stencil has not done a release since September 2018, but there has been some recent commits including updating to using PathKit

[2020-06-12 11:54] pepibumur commented on #816
Right, the version of XcodeProj used by Sourcery is very old and doesn't have that object type defined. My recommendation is to update to the latest version of XcodeProj

[2020-06-15 17:40] matsoft90 commented on #819
@nicholaslythall While that syntax works for getting types from all three modules it doesn't seem to get the types if the type name is the same in two modules. It only includes one of them.

[2020-06-20 02:54] bitbytedog opened #840 "Cannot Run Sourcery on Catalina"
When running Sourcery on Catalina, the binary is rejected with the message:

“Soucery” cannot be opened because the developer cannot be verified

[2020-06-20 02:59] bitbytedog commented on #840
The problem appears to occur when the binary zip is downloaded using Chrome or Safari.

The issue can be resolved with the following command:

    xattr -dr com.apple.quarantine Sourcery-0.18.0

Maybe the README should be updated to include this piece of information for Catalina+ users

[2020-06-20 16:15] Kentzo commented on #271
@ilyapuchka My understanding is that there should be docset archive somewhere along a binary release, but cannot find it. Was it decided to abandon docsets completely?

I'm looking to add it to Dash.

[2020-06-21 18:06] lalitkantcg opened #841 "Error installing Sourcery"
pod install
Analyzing dependencies
Downloading dependencies
Installing Sourcery (0.18.0)

[!] Error installing Sourcery
[!] /usr/bin/curl -f -L -o /var/folders/xr/j6pyw9xs5b53dnd2jfdqv5800000gq/T/d20200621-1482-9ez0jr/file.zip https://github.com/krzysztofzablocki/Sourcery/releases/download/0.18.0/sourcery-0.18.0.zip --create-dirs --netrc-optional

  % Total    % Received % Xferd  Average Speed   T

[2020-07-01 20:40] marciniwanicki opened #842 "AutoEquatable template can yield a warning in Xcode 11.4+"
Extensions generated with https://github.com/krzysztofzablocki/Sourcery/blob/master/Templates/Templates/AutoEquatable.stencil template can yield the following warning:

[code]

It's probably due to the fact Xcode 11.4 is shipped with Swift 5.2. Checked in Xcode 12 beta1, and looks that the same warning is triggered.

**Example:**

[code]

the following switch statement will produce the warning.

[

[2020-07-07 07:55] #823 closed

[2020-07-10 13:08] asifmujteba opened #844 "String.isValidClosureName() returns false positive for types which have closure as a generic type"
**Scenario:**
[code]

**Expected:**
`TypeName("Observable<(String) -> Bool>").isClosure` should return `false`

**Actual:**
`TypeName("Observable<(String) -> Bool>").isClosure` returns `true`

[2020-07-13 10:36] #844 closed

[2020-07-20 07:54] wxindfx commented on #817
The same issue in Xcode 11.6. I found the temporary solution in my case. Run sourcery in terminal first, it will succeed. Then it will always succeed in XCode.

[2020-07-20 09:07] krzysztofzablocki commented on #817
I think this might be issue with caching of Swift template binaries or some mismatch between what we bundle (SourceryFramework?), given it only happens with Swift templates (this has always been problematic), but @xploit42 said clearing cache didn't help so I'm not sure, I never really worked with SwiftTemplates, what do you think might be the issue @ilyapuchka @Liquidsoul ?

[2020-07-21 16:31] lordzsolt commented on #838
Any updates on this? 😞

[2020-07-27 17:52] csykes commented on #817
I don't have a simplified swift template file but here is how we got here. Everything was working fine using any version of Xcode 11.x with Sourcery 0.17 but when we upgraded to 0.18 we ran into a bunch of build errors along these lines.

`Failed to unarchive /Users/xxxx/Library/Caches/Sourcery/ProjectName/-2737364290730679759.srf due to error, re-parsing`

Tried the usual Xcode project clean, del

[2020-07-28 11:42] krzysztofzablocki commented on #817
@csykes the unarchive messages are totally expected as that's just cache re-invalidation after tool version change, I assume you use Swift template as well? sounds like a different version of toolchain is used when running via xcode build phase vs command line

[2020-07-28 14:08] amadeu01 commented on #703
@denys-meloshyn

One of the ways of doing so is:

[code]

Take a look at ` {{ type.accessLevel }} func copy`

And then in your config file:

[code]

[2020-07-28 22:00] dautovicharis opened #847 "Arguments value not inserted to template"
Before I created this  ticket, I have tried multiple solutions including:
- custom .sourcery.yml config file with args
- without .sourcery.yml
- hardcoded args
- args from env variables
- different sourcery pods versions

Here is an example:

**Target swift version**: `4.2`

**Version** -> `Version: pod 'Sourcery', '~> 0.18.0'`

**.sourcery.yml**
[code]

**Run the script from the target build phas

[2020-07-29 02:56] csykes commented on #817
Yes we are using a Swift template in our project but if I remove the contents from the template file the project still fails in the same way. So I don't think its related the contents of the swift template file and you are probably on the right path to think its related to a difference in the toolchain/caching mechanisms between Xcode vs CommandLine.

If it helps, the command to generate our files

[2020-07-29 05:29] krzysztofzablocki commented on #847
you usually do this in your yaml:

[code]

[2020-07-29 06:33] dautovicharis commented on #847
This works, but I can't figure out what was wrong before. This is fine if we have hardcoded value in yml file.

My real case scenario is
- multiple targets
- every target has its own xcconfig file
- values from xcconfig file should be inject into a template.

This was the initial problem I was solving but then moved to a simple one (hardcoded case), because wanted to be sure that my setup is corre

[2020-07-29 07:35] krzysztofzablocki commented on #847
is the hardcoded value getting passed through in the above case `pollo` ? or is `random` also empty

[2020-07-29 07:37] dautovicharis commented on #847
random is also empty.

[2020-07-29 08:19] krzysztofzablocki commented on #847
@dautovicharis if you have yml file then arguments from command line will be ignored https://github.com/krzysztofzablocki/Sourcery/blob/e15dcb63d4f2dde6fa7abd6fd816e8be769478fd/Sourcery/main.swift#L142

You can use the environment variables in yml files, we had that supported since https://github.com/krzysztofzablocki/Sourcery/pull/724

[2020-07-29 08:40] dautovicharis commented on #847
@krzysztofzablocki  It works now.

 I have tried so many combinations yesterday and I don't know where I did mistake initially.

After trying again my initial cmd it  just started working
`${PODS_ROOT}/Sourcery/bin/sourcery --sources ./Project --templates ./Templates --output ./CodeGenerated --args api=\"$API_SECRET\"`

`API_SECRET` is the value from `xcconfig` file which is assigned to the projec

[2020-07-29 08:40] #847 closed

[2020-07-29 09:04] krzysztofzablocki commented on #847
you probably had `.yml` file before but removed it now :) keep in mind you could achieve the same using .yml file and env variable, even if it's not available you could simply export something as env variable from your build phase

[2020-08-02 19:02] Sega-Zero commented on #817
Any news on it?

[2020-08-10 07:26] krzysztofzablocki commented on #817
@csykes is your command line tools path (`xcode-select -p`) same as your Xcode you use for building the project? I'm assuming that is why via console it works vs when using Xcode build phase

[2020-08-10 14:11] csykes commented on #817
I believe the command line + Xcode are the same
<img width="400" alt="Screen Shot 2020-08-10 at 8 09 34 AM" src="https://user-images.githubusercontent.com/944809/89791706-dfc54b80-dae0-11ea-868f-f4bd2e21fdc1.png">

[2020-08-10 15:11] of99 opened #848 "Syntax: Is "or" operator allowed in forloop"
I have a statement

`{% for enum in types.enums where enum.localName == "someEnum" or enum.localName = "someOtherEnum" %}`

However when i try to execute this statement i get the following error.

` 'if' expression error: dangling token`

At first i thought it was a problem with if somewhere in my template. Took me a while to figure out that the "or" was causing this error. Am i doing something wr

[2020-08-11 08:28] krzysztofzablocki commented on #848
or is allowed https://stencil.fuller.li/en/latest/builtins.html#built-in-filters but you are doing `=` in the second part not equality

[2020-08-11 16:34] of99 commented on #848
How could have i missed it. Thanks :)

[2020-08-11 16:34] #848 closed

[2020-08-13 08:34] DavidBertet commented on #817
I just opened a PR with the fix and an explanation of the problem if you are interested 👍

[2020-08-14 05:34] krzysztofzablocki commented on #817
I've released Sourcery 1.0.0 (finally pulled the plug on proper version value 😂 ) with @DavidBertet fix, can you double check it solves your issue? I'll close the issue afterwards /cc @csykes @hartbit

[2020-08-17 19:56] jasdeepsaini commented on #816
`Stencil` 0.14.0 was released today with the an update to the `PathKit` dependency.  Should be able to update XcodeProj now.

[2020-08-18 11:20] Sieniek opened #850 "Custom Automockable annotation doesn't work for public protocols"
Command: sourcery --config ./.api_sourcery.yml

Does work:
`
// sourcery:file: AutoMockableMyTarget
protocol A {
 func b()
}
`

Doesn't work – no mock is generated:
`
// sourcery:file: AutoMockableMyTarget
public protocol A {
 func b()
}
`
.api_sourcery.yml
[code]

CustomAutoMockable.stencil
[code]

For now I am forced to use AutoMockable protocol conformance

[2020-08-18 20:22] csykes commented on #817
Verified as working for me. Thanks everyone!

[2020-08-19 07:55] #817 closed

[2020-08-25 02:54] amadeu01 opened #851 "Annotations do not work on typealias."
I tried to do something like:

[code]

The `{{ type.annotations }}` will give the following info for annotations

[code]

However, If I try using something like:

[code]

It will bring

[code]

[2020-08-25 05:15] sstadelman opened #852 "per-file generation with `--watch` extends file, instead of re-generating"
I found that using `--watch` parameter causes per-file generation to extend files in-place, rather than re-generating cleanly.  Executing in single mode is fine.

[code]

[2020-08-25 06:03] sstadelman commented on #852
Duplicate of #736

[2020-08-25 09:04] krzysztofzablocki commented on #851
@amadeu01 typealias isn't a proper type, it doesn't extend `Annotated` and doesn't have corresponding annotation dictionary

[2020-08-25 09:04] #852 closed

[2020-08-25 12:45] #851 closed

[2020-09-02 20:10] oltv00 opened #853 "string_1 | lowercase | contains: string_2 | lowercase doesn't work"
➜ swift --version
Apple Swift version 5.2.4 (swiftlang-1103.0.32.9 clang-1103.0.32.53)
Target: x86_64-apple-darwin19.6.0

I am writing my custom template and I have a problem.

There are the following input data:
[code]

If I try to print the result

``
{{ method_2.shortName|lowercase|contains:method_1.shortName|lowercase }}
``

then I suddenly get `false`

If I use the construction:

[code]

then

[2020-09-02 21:02] ilyapuchka commented on #853
What might be happening is that last lowercase is applied on the result of contains, you can try to remove the last filter to see that. If that’s the case It would be stencil issue so you can file it in the Stencil repo.

Ilya Puchka

[2020-09-03 06:48] oltv00 commented on #853
I suppose, you're right.
Because construction
`method.shortName|lowercase|contains:_method.shortName|uppercase`
give me `FALSE`

Ok, I'll check the Stencil repo.
Thanks

[2020-09-03 06:48] #853 closed

[2020-09-03 17:34] inickt opened #854 "Auto indent '// sourcery:inline:auto' comment to the correct level"
In #731 it looks like this is intended behavior, and while its not a huge deal to indent the auto generate the comments manually it would be great if Sourcery was able to detect the level of indentation and auto indent the inline comment (which would also indent the templated code as well).

Thanks for maintaining such a great tool!

[2020-09-09 13:42] rjchatfield opened #855 "Extracting closure type arguments and return type"
Not a bug. Just a help request.

I have a struct the looks like this:

[code]

And I would like to get for each ivar, the arguments in and the return type:

[code]

All I seem to have access to is `typeName`, which I could try using `split` on.

[code]

But I'm hoping I've just overlooked something about function types and there was an easier way. 🤞

I'm hoping for something like `method` which ha

[2020-09-10 11:50] krzysztofzablocki commented on #855
we have closure type that should have all the stuff https://cdn.rawgit.com/krzysztofzablocki/Sourcery/master/docs/Classes/ClosureType.html

[2020-09-10 21:46] jpsim opened #856 "Infinite recursion introduced in 1.0.0"
The change in #845 introduced a crash in Sourcery for me.

To reproduce:

[code]

This crash doesn't happen with the previous commit on master: a441c57219fd933cd63ab49b162ad98cddfbda68

I think the crash is due to a stack overflow caused by infinite recursion.

Here's the backtrace I get when running Sourcery with Xcode:

<details>

<summary>Backtrace</summary>

[code]

</details>

[2020-09-13 07:19] rjchatfield commented on #855
Yes that's exactly the shape I'm interested in. Thanks.

May I ask how I get access to a `ClosureType` from the above type? When I loop through the `instanceVariables`, this is all I see:

[code]

I'm spoilt by strong types in Swift, and I'm not sure how to navigate this. Appreciate any assistance.

[2020-09-14 08:20] krzysztofzablocki commented on #855
you should be able to use `typeName.closure` when `typeName.isClosure`

[2020-09-14 23:16] rjchatfield commented on #855
Thanks so much!

For anyone else that found this helpful, here is my stencil: https://gist.github.com/rjchatfield/6472bbc5a977aacf407d1a59e524ab6f

[2020-09-14 23:20] #855 closed

[2020-09-16 08:58] tum-aweink opened #857 "Upgrading to latest SourceKitten version"
Hi!
I am currently working on a project which uses the Sourcery framework. Another library in our project depends on Yams version 3..<4 but the currently used SourceKitten version relies on Yams 2..<3. Therefore SPM cannot resolve my dependencies correctly.
As SourceKitten released a new version (0.30.0) in which it depends on Yams 4.0.0 - are there any plans on upgrading?

[2020-09-16 09:16] krzysztofzablocki commented on #857
@tum-aweink happy to accept PR upgrading it, I'm way too exhausted atm to do it myself

[2020-09-21 12:42] krzysztofzablocki commented on #856
definitely the cause as when I revert that single function change it works properly, @asifmujteba any ideas on how to fix this?

[2020-09-21 15:54] asifmujteba commented on #856
it seems something wrong during parsing the Typename, not sure about the exact Typename which method is not able to parse, I'll try to investigate.
It would be really helpful if we could reduce the input range or may be adding exception break point and check the Typname value which is causing this.

[2020-09-25 17:50] tum-aweink commented on #857
@krzysztofzablocki we managed to upgrade the Yams dependency (fork: https://github.com/PSchmiedmayer/Sourcery) - therefore we needed to restructure the project folder. We would like to run your tests but after updating the pods and regenerating the Xcode project we ran into a code signing error:
![image](https://user-images.githubusercontent.com/14924669/94299172-91bcb800-ff67-11ea-972e-61f827104e

[2020-09-28 11:20] lordzsolt commented on #838
Can we get an update on this?

[code]

The `AutoMockable` template still fails with this.

[2020-09-28 14:34] askopin opened #861 "Method body access"
Hi
Is there any way to access method body (just as raw string)?
There was suggestion to look inside `__parserData` but in current version it's always nil

[2020-09-29 10:29] krzysztofzablocki commented on #861
are you trying to access it using Sourcery framework or sourcery tool itself? we don't persist that field as it's only for intermediate use while we are doing scanning

[2020-10-02 18:06] lexorus opened #862 "Multiline method declarations parsing"
I'm using Sourcery to generate mocks and noticed the wrong behavior when dealing with functions that are split between multiple lines. When the code is generated, the newlines are removed, but whitespaces remain in place.
This is not a critical issue, since this is generated code, but it's not really that hard to fix anyway.

Seems like the root cause is [`func strippingComments() -> String`](http

[2020-10-05 09:35] krzysztofzablocki commented on #862
I'm definitely happy to make this more consistent, so either remove whitespaces to match newline behaviour or keep both, don't really have any preference here, happy to accept PR :)

[2020-10-09 13:50] #862 closed

[2020-10-12 17:12] AlexIzh commented on #778
I think my case is related to this one as well:

[code]
for this protocol equal variables and functions will be generated and as result - invalid redeclaration issue. Not critical of course, just I have faced up with the issue

[2020-10-18 08:45] forsan commented on #841
I face the same issue, any fix, please?

[2020-10-18 09:35] Liquidsoul commented on #841
Hi,

We cannot replicate your issue if you give us only the output of the commands without the setup you use. If you cannot give us information from your project, try to isolate the problem in a sample project that you can give us.

But by the look of it, this does not seem to be a Sourcery-related issue but more of a Cocoapods one.
I have installed Sourcery in a fresh new project without any issu

[2020-10-19 13:46] forsan commented on #841
now working fine, the problem related to some restrictions on the internet of my company.

[2020-10-19 13:50] #841 closed

[2020-10-21 06:57] tulushev commented on #601
This also happens with regular inlining, if inlining from multiple templates in the same file.

[2020-10-23 09:18] junjielu commented on #816
Any update here?

[2020-10-24 14:46] MutatingFunc opened #864 "Sourcery not finding type conformances on macOS 11 / Xcode 12.1"
**Disclaimer: I'm a first-time Sourcery user. This looks like a bug to me, but I could well be doing something wrong.**

macOS 11 beta (latest 20A5395g)
Xcode 12.1

_What version of Swift are you using (swift --version)?_
Apple Swift version 5.3 (swiftlang-1200.0.29.2 clang-1200.0.30.1)
Target: x86_64-apple-darwin20.1.0

_What did you do?_
Following the tutorial from this page: https://www.hacking

[2020-10-26 06:54] HB-HemantBhatt opened #865 "Getting Use of undeclared type 'MFMailComposeViewController'"
Hi,

I am getting the following error in automockable file which are as follows:

following two are from **FBSDKShareKit**
- Use of undeclared type 'ShareDialog'
- Use of undeclared type 'MessageDialog'

following two are from **MessageUI**
- Use of undeclared type 'MFMessageComposeViewController'
- Use of undeclared type 'MFMailComposeViewController'

Please let me know is there any changes which

[2020-10-26 07:30] krzysztofzablocki commented on #864
CaseIterable needs to be declared in your sources not in the template (thus generated source), Sourcery doesn't scan the source it generated because that would lead to chicken and egg problem

[2020-10-26 07:30] #864 closed

[2020-10-26 10:32] krzysztofzablocki commented on #865
have you imported those frameworks in the generated code you have? because this isn't Sourcery issue

[2020-10-26 11:37] HB-HemantBhatt commented on #865
I have imported frameworks in the code it is being build successfully. When i am running test case then is showing error to me in automockable file.

[2020-10-26 20:17] MutatingFunc commented on #864
Thanks for the advice. Unfortunately, even moving the protocol definition to one of my own sources doesn't solve the issue.

[2020-10-27 09:25] krzysztofzablocki commented on #864
change the template to

[code]

[2020-10-27 12:34] MutatingFunc commented on #864
Still no luck, either changing just that line, or making that the entire template in case that's what you meant. I've pushed a commit with these two changes applied.

[2020-10-28 21:19] MutatingFunc commented on #864
I've got it! I was using:
`{% for enum in types.enums.implementing.CaseIterable2 %}`
when I needed
`{% for enum in types.enum.implementing.CaseIterable2 %}`

Further to that, I missed that your suggestion dropped the `.enums` part of the lookup last time round. Thanks for the support!

[2020-11-07 07:06] sstadelman opened #867 "Is per-file generation compatible with swifttemplate technique?"
I'm migrating some productive stencil templates to swifttemplate, and have been successful until adding the per-file generation annotation.  Can you share whether the `// Sourcery:file:<...>` in-line annotation pattern ought to work in this scenario, or if there is an alternative?

My file structure is like this:

[code]

[2020-11-08 21:25] lordzsolt commented on #865
@HB-HemantBhatt You should modify the AutoMockable.stencil file, this part:

[code]

Just add `import FBSDKShareKit` and `import MessageUI` below `UIKit`.

And if you're not doing any OSX development, you might as well delete the whole `#if #else #endif` parts.

[2020-11-09 09:43] #865 closed

[2020-11-09 09:49] krzysztofzablocki commented on #867
I think markers should work everywhere, replacement happens AFTER the generation phase so you simply need to write your swifttemplate in a way that creates the output in the format described in our docs https://cdn.rawgit.com/krzysztofzablocki/Sourcery/master/docs/writing-templates.html#inline-code-generation

[2020-11-09 16:17] sstadelman commented on #867
@krzysztofzablocki it was the `// sourcery:end` tag that was the culprit.  Thank you for the assistance!

[2020-11-09 16:17] #867 closed

[2020-11-10 13:55] agarmash commented on #856
Got the same situation with the release version trying to generate tests for SwiftLint:

[code]

[2020-11-11 14:27] vsnv commented on #703
@ilyapuchka @krzysztofzablocki  Hi guys! I have this case:

File Foo.swift:
[code]

File Bar.swift:
[code]
type.imports for Bar return [], but i need to get "import UIKit" somehow. Is it possible? Thx!

[2020-11-11 16:28] ilyapuchka commented on #703
Hi. There is no such thing as Type.imports, you’ll need to use arguments to pass imports that you need via —args command line flag or in yaml config file. E.g. --args import=UIKit and then adjust template to access them in the templte as {{ arguments.import }}

Sourcery does not scan and aggregate imports from the source files - it’s not trivial, does not belong to any types, rather modules and th

[2020-11-11 23:32] vsnv commented on #703
@ilyapuchka ok, thank you very much 😃

[2020-11-12 05:45] #703 closed

[2020-11-12 19:46] DavidBertet commented on #857
I fixed Xcode 12 issues in that PR #869

I reused your pictures to illustrate the PR description

[2020-11-12 23:40] DavidBertet commented on #856
There is at least 2 places where the old method returns a different value than the new one with this command
`sourcery --sources Source/SwiftLintFramework/Rules --templates .sourcery/PrimaryRuleList.stencil --output .sourcery`

`isValidClosureName` is called on that string from [StaticOperatorRule.swift](https://github.com/realm/SwiftLint/blob/0cabed81d7e96c27abedb1e0adcbfe36ef8ad28b/Source/SwiftL

[2020-11-13 06:07] DavidBertet commented on #856
I took a few more minutes to dig into it. I would say the issue comes from here
https://github.com/krzysztofzablocki/Sourcery/blob/master/SourceryFramework/Sources/Parsing/FileParser.swift#L495-L497

In both cases, the type of the variable `public static let description = RuleDescription(` is `nil`, and `"<<unknown type, please add type attribution to variable \(declaration)'")>>"` is used instead

[2020-11-13 09:14] krzysztofzablocki commented on #856
@DavidBertet If sourcekit can't parse type properly then probably just nil? or if not nil we can call it `TypeUnknown` so that it generates error when generating code depending on knowing that information, what do you think?

[2020-11-23 15:11] raduraducu opened #872 "Problem when using SwiftyMocky templates"
When trying to generate the mocks using:

I keep getting this error:

 swift --version = Apple Swift version 5.3.1 (swiftlang-1200.0.41 clang-1200.0.32.8)
SwiftyMocky & Sourcery are installed via pods
PODS:
  - SwiftyMocky (4.0.1):
    - Sourcery (>= 1.0)

[2020-11-23 15:21] krzysztofzablocki commented on #872
this issue should go into SwiftMocky repo

[2020-11-24 07:21] #872 closed

[2020-11-26 09:54] #861 closed

[2020-11-26 09:54] #857 closed

[2020-11-26 10:41] krzysztofzablocki commented on #856
I did some digging and it seems that sourcery is really not handling well the multi-line var declarations because of this line of code https://github.com/krzysztofzablocki/Sourcery/blob/master/SourceryFramework/Sources/Parsing/FileParser.swift#L482 @ilyapuchka since you are the one that wrote that line, what was the thinking behind grabbing just first line ? this along with the code in `inferType`

[2020-11-27 10:46] krzysztofzablocki commented on #856
Fixed in 1.0.1

[2020-11-27 10:46] #856 closed

[2020-12-01 13:55] lordzsolt commented on #838
@Uncpy Nope, I wasn't able to fix it 😞

As a workaround, I removed:
- Protocols requiring class conformance, so replace `protocol SomeProtocol: SomeClass` with `protocol SomeProtocol: SomeClassProtocol`.
- Methods that appear in multiple protocols and instead move it to a parent protocol.

[code]

I've only had these problems in a single instance every time, so it was easy to fix.

If the codebase

[2020-12-01 13:56] lordzsolt commented on #838
I would gladly make a PR fixing this, but I would like some opinions from maintainers, if this is a bug or a "feature".

@krzysztofzablocki @Antondomashnev @ilyapuchka

[2020-12-01 15:06] krzysztofzablocki commented on #838
I think just excluding `definedInTypeName` from equality will fix the issue but I'm not sure if that's what we want, @ilyapuchka @Antondomashnev what do you think?

[2020-12-01 16:54] artyom-razinov opened #876 "[minor] [typo] Parenthesis => parentheses (when should used in plural form, which is everywhere)"
Plural form of `parenthesis` is `parentheses`, and it's like in every instance of usage of this word in the project (code works with parentheses in general, not like with only a single one, opening or closing parenthesis).

E.g. this is good:
- left parenthesis
- right parenthesis

This is not good:
- Method name without arguments names and parenthesis, i.e. `foo<T>`
- extracts enums with empty pa

[2020-12-02 07:26] krzysztofzablocki commented on #876
majority of docs is generated so you only need to update code comments and [guides](https://github.com/krzysztofzablocki/Sourcery/tree/a3aab352e78ea3e2eccb2bb9375740ff9bd3427f/guides) and then simply call `rake docs`, I'd be happy to accept PR fixing any wording mistakes, English isn't my native language so no wonder there are mistakes like this

Thanks for pointing it out 👍

[2020-12-02 17:21] mishkaechoes opened #877 "No Brews Available for Earlier Versions"
We are not yet able to upgrade to XCode 12 but the forced upgrade recently no longer supports 10

Is it possible to make older brews available? Such as version `0.17.0`

[2020-12-03 07:54] krzysztofzablocki commented on #877
They are always available since it's in git history, it's just a bit of a hassle https://remarkablemark.org/blog/2017/02/03/install-brew-package-version/

Alternatively you can also use Mint https://github.com/yonaskolb/Mint or simply binary distribution that Sourcery is always bundled with to grab whichever version you want

[2020-12-03 12:48] lordzsolt commented on #838
Well, either way, the fact that `allVariables` and `allMethods` behave differently makes me think it's a bug.

----

Another possible solution I can see is to merge the methods from the two protocols, and make `definedInTypeName` an array. But that solution can get complicated real quick, because it will affect other fields as well. So unless there is need for it, it's probably not worth the time

[2020-12-03 15:40] krzysztofzablocki commented on #838
@lordzsolt yeah it's weird as both aren't excluding the `definedInTypeName`, how is sourcery registering the variables vs methods there?

[2020-12-03 23:42] lordzsolt commented on #838
Given these protocols:

[code]

This is the output:

[code]

As you can see, `value` with `definedInTypeName = `Optional(B)` is not even present, while `doSomething` is present twice.

[2020-12-04 06:32] krzysztofzablocki commented on #838
@lordzsolt definitely something is off, I'll take a look today, can you tell me what behaviour would you expect here? it definitely should be consistent between variable and method but I wonder what the right behaviour is, I personally never used definedInTypeName nor do I see any common need for that so I'd opt in for skipping equality on those properties as for 99% of codegen needs it doesn't ma

[2020-12-04 08:45] lordzsolt commented on #838
Yeah, I agree with you. For codegen reasons, there should be a single method.

Otherwise, everything will be generated twice and won't compile, because "redeclaration" errors.

[2020-12-06 07:34] #829 closed

[2020-12-07 09:35] #877 closed

[2020-12-07 09:42] krzysztofzablocki commented on #838
@lordzsolt fixed this on master by matching the behaviours of `allVariables`, the reason there was a difference was because we filter out the variables composition when we flatten it, we do same for methods now

[2020-12-10 04:32] Robuske opened #879 "Slower parsing time and new warnings since update"
Hello, unfortunately I am not sure which version I was using before, pretty sure it was 1.0.0, but since I updated to 1.0.2 the "Scanning sources" step spews a few new warnings with _"unknown type, please add type attribution to variable"_.
And besides the warnings the parsing got way slower, it used to take around 20-30 seconds, its taking 50-60 seconds now.

This happened booth on a machine that

[2020-12-10 07:49] krzysztofzablocki commented on #879
can you share actual statistics from Sourcery run? file parsing results are cached so they can't be taking same amount of time in subsequent runs

[2020-12-10 09:49] Robuske commented on #879
To make it clear, I do delete the generated files between the runs, but only them, I don't even know where the Sourcery caches are. But here are some results.

After a clean:

[code]

Immediately after:

[code]

And again:

[code]

After another clean:

[code]

[2020-12-10 18:34] krzysztofzablocki commented on #879
looks to me like you are removing your caches, don't you have their folder setup up manually in yml file?

[2020-12-16 14:07] Cyberbeni opened #880 "All files under --output path are checked for write access"
I have this inside my Xcode build phase:
[code]
There is another repository checked out somewhere inside my SRCROOT which is inside the gitignore and is always updated to the latest version.
When this runs, I get an error message `error: '/path/to/repo/.git/objects/61/0a7b68e878da90f425f04d62e78f750c7fd82d' isn't writable.`

[2020-12-16 16:37] Cyberbeni opened #881 "Writing to the same file from multiple stencils causes malformed output"
I wanted to put init and isEqual and hash generation to 3 seperate files but once the `// sourcery:inline:auto:...` was generated for the class I was testing it with, the next code generation cut off the end of the first one in the file, the start of the last one and both ends of the middle one. If I put them all in 1 stencil, they are working correctly.

When having 2 inline blocks automatically

[2020-12-16 16:38] Cyberbeni opened #882 "@objcMembers in separate line breaks annotation"
This works:
[code]

This doesn't:
[code]

[2020-12-16 20:54] Robuske commented on #879
Nope, here is our _Makefile_ code:

[code]

And our yml:

[code]

I don't think that should influence this, but we also use SwiftGen generation. But we also just generate some files and clean them directly, there is not even an wildcard in their case.

(Sorry for the delay on the response)

[2020-12-17 10:21] krzysztofzablocki commented on #880
hey, you'll need to show us what you are actually passing in to our tool, we can't be asked to analyse your script code or know your environment setup

[2020-12-17 10:25] krzysztofzablocki commented on #879
is this on your local machine or CI ?
it's really odd you are getting whole parsing process, was it happening before as well? normally when people use Sourcery you only re-parse source files that actually changed.

Unless you have a script that touches modified date on every file in your project all subsequent runs of Sourcery should take minimal amount of time, e.g. Times app has 2500+ types and

[2020-12-17 10:29] krzysztofzablocki commented on #881
Generally we recommend using inline code-gen only if it's required by the language for multitude of reasons but merge conflicts with other teammates might get annoying if you do this too often.

The way `:auto` works is that it places the code at the end of class declaration, so if you are going to use multiple templates then it makes sense it's messed up because we don't reparse file, so if you a

[2020-12-17 19:54] Cyberbeni commented on #881
Isn't it higher chance to get merge conflict if all the generated code is in 1 file?

One of our use case is to generate code for plain model classes (init, isEqual, etc.), so having the generated functions next to the variables in this case is more readable for us.

Since having the stencils all in one file works mostly good, adding a flag to handle the input stencils as a single unit should be a

[2020-12-17 20:24] Cyberbeni commented on #880
It can be reproduces just by doing this:
[code]
The script in the OP finds all the .git named files/folders and then passes their parents into `--exclude-sources`, so `--exclude-sources ./a/.git/..` should exclude `./a`

[2020-12-17 20:28] Cyberbeni opened #883 "Exclude hidden files and files inside hidden folders"
Relates to https://github.com/krzysztofzablocki/Sourcery/issues/880

Most of the files that people might want to exclude are usually inside hidden folders, like `.git` or `.DerivedData.noindex` or `.build`, so having a single option to exclude those instead of finding and excluding them manually would be nice.

[2020-12-17 22:44] krzysztofzablocki commented on #881
with normal.generated files merge conflicts aren't a problem because you simply run Sourcery again and it replaces the content.

happy to accept that pr :)

[2020-12-18 02:27] Robuske commented on #879
It's on my local machine.

Based on what you said I decided to test something, apparently _SwiftGen_ string generation "dirties" the files for some reason, but only the strings one, not the assets. Which is pretty weird since it should only look in two specific folders 🤔
Seems like I need to open an issue there too.

Well, that explains the long time on subsequent runs, but doesn't explain the tim

[2020-12-18 06:22] krzysztofzablocki commented on #879
the parsing time increase is totally expected because we didn't actually parse as much as we simply parsed a first line of your variable declaration, we now parse a whole block and do more transformations.
In complex declarations before we'd often not get proper type inference because of that, now we only miss very few types which is what the warning let's you know.

This shouldn't be a big deal f

[2020-12-18 11:06] Robuske commented on #879
I see, based on the release notes I didn't get that something like that had changed. Makes sense then.

Good point about the caching for other tools too, I will have to take a look a that, thanks.

[2020-12-18 11:07] #879 closed

[2020-12-18 13:21] Cyberbeni commented on #881
As there is an easy workaround (manually merge the stencils), it is pretty low on my TODO list.

And I guess calling sourcery separately within the build script is a better workaround as it allows using separate files (A little bit slower but luckily sourcery is pretty fast). So something like this:
[code]
I haven't had time to test it, will do so later, but I'm pretty sure this will work. If you

[2020-12-18 13:33] Cyberbeni commented on #881
We commit files as you suggested in the video linked in the README and we are also running UI tests on macOS 10.11 and the brew formula says xcode 12.0 required, so I don't think not commiting the generated files would work for us. (Only the test runner has to be rebuilt but that's where a lot of the generated code is needed for Swift 3.0 support)

[2020-12-18 19:34] krzysztofzablocki commented on #881
I think the better workaround for this limitation is my original suggestion of using explicit markers not ':auto'

[2020-12-19 13:55] Cyberbeni commented on #880
Tried to do some debugging but for some reason breakpoints don't work for me in this project (I opened Package.swift)
But I managed to figure out that the error is coming from this line: https://github.com/krzysztofzablocki/Sourcery/blob/5d77d28852879980c0bc3d36a465f42970b4fef1/Sourcery/main.swift#L73

As far as I understand, if the output is a folder then that has to be checked for write access a

[2020-12-19 13:56] Cyberbeni commented on #697
Relates to #880
@jeremierichard If I understand this correctly, passing a single file to output instead of a folder (or the default current folder) should solve this issue.

[2020-12-20 08:44] krzysztofzablocki commented on #880
yes output needs to be writable and the file names aren't just based on templates names but it's more flexible than that (you can customize them in template code) so we can't have a check here. Just make a dedicated output folder for codegen that's writeable

[2020-12-20 08:51] krzysztofzablocki commented on #697
sounds like a bug, will take a look

[2020-12-20 09:52] krishnaagarwal1994 opened #885 "How to add extra new lines spacing in sourcery output?"
I am trying to generate mocks using Sourcery by writing my own stencil template, in the output at some places I need to give a single line spacing between two variables. I tried doing {{ type.name \n }}, assuming that each variable in the output would also add a new line before printing the next type, but it's not working.
Can you please help suggest how to add line spacing in the stencil template

[2020-12-20 13:39] Cyberbeni commented on #885
This will have a newline after each `type.name`:
[code]
This will print them in a single line with 1 space between them (and omitting the space after the last):
[code]

[2020-12-20 17:05] krishnaagarwal1994 commented on #885
@Cyberbeni Thanks for the reply and I totally agree with what you say. But the above template will print each type on a new line. eg.
A
B
C
But what I need is one extra line of spacing between each type.name in the output, eg.
A
//Empty Line
B
//Empty Line
C

[2020-12-20 17:18] Cyberbeni commented on #885
Then just add an extra newline, like this:
[code]

[2020-12-21 06:05] krishnaagarwal1994 commented on #885
@Cyberbeni That's the first thing I tried, and it's not working for me. Can you please help confirm if this is working correctly for you?

[2020-12-21 18:47] Cyberbeni commented on #885
Hmm, it doesn't work for me either. Weird, I remember having some empty lines in my generated file. 🤔

[2020-12-22 08:29] krishnaagarwal1994 commented on #885
@Cyberbeni Having empty lines is a very normal use case. Do let me know in case you figure out the solution.

[2020-12-22 08:52] krishnaagarwal1994 opened #886 "Support for while loop of something like recursion"
I have a use case where I am parsing a struct/class along with its properties and make those struct/classes conform to Codable protocol, struct/class properties may be of primitive data types like String, Int, Bool, Double, etc, or custom user-defined data types. For properties that custom user-defined data type, i again need to declare a struct/class for them and make it conform to Codable protoc

[2020-12-22 10:54] ilyapuchka commented on #886
This could be a an issue or a feature request for Stencil, not Sourcery. You could use Sqift templates for more powerful language features. Built-in codable template already is written in Swift.

Ilya Puchka

[2020-12-22 14:02] krzysztofzablocki commented on #885
I just tested and it works as expected

[code]

[code]

[2020-12-22 15:18] krzysztofzablocki commented on #886
Recursion works in Stencil, I use it in in many templates, I think your template is written incorrectly, you are calling `printNonPrimitiveType` with a variable when it expects a `type`

[2020-12-22 16:54] krishnaagarwal1994 commented on #885
@krzysztofzablocki Thank you, it's now working for me as well, earlier it didn't work for me, and @Cyberbeni , I don't know why. Since the issue is now resolved I am closing this issue.

[2020-12-22 16:54] #885 closed

[2020-12-22 16:56] krishnaagarwal1994 commented on #886
@krzysztofzablocki So does that mean a macro can call itself recursively, right?

[2020-12-22 19:39] samadhiBot opened #887 "Resolved Types lost when using xcodeproj integration instead of sources"
**What version of Swift are you using (swift --version)?**
*Swift version: 5.3.1*

**What did you do?**
*Updated Sourcery from 0.18.0 to 1.0.2*

**What did you expect to see?**
*Actual types resolved as they were in 0.18.0*

**What did you see instead?**
*Certain actual types fail to resolve in 1.0.0 and later.*

The issue appears to have been introduced in [PR 834: Fixed namespace resolution for

[2020-12-23 11:17] krzysztofzablocki commented on #886
yep like you'd expect

[2020-12-23 12:47] krishnaagarwal1994 commented on #886
@krzysztofzablocki  Thanks for confirming, will close the issue now.

[2020-12-23 12:47] #886 closed

[2020-12-23 13:50] Cyberbeni opened #888 "Shorter expression for non-local typeName?"
Imagine a structure like this:
[code]
When generating code for C to a separate file into a separate extension using `variable.typeName`, it will look like this:
[code]
(I know that init has to be generated in the same file, it's just an example)
But this will error because B is not defined in the scope, so I need to use the following expression: `{% if variable.type %}{{variable.type.name}}{% else

[2020-12-23 17:03] krzysztofzablocki commented on #888
I don't know how your template looks for the output you provided but a variable won't have type **only** if Sourcery doesn't know it (it's not scanned or it can't be inferred [easy fix by attributing it explicitly] ) which you really shouldn't is not a case you should be running into in our own types, so your template should be using just `{{ variable.type.name }}`

[2020-12-23 17:15] Cyberbeni commented on #888
String/Bool/etc. didn't have `type`, just `typeName`.

[2020-12-24 21:43] krzysztofzablocki commented on #888
you can make a function using macro tag to not repeat the pattern multiple times

[2020-12-24 21:43] #888 closed

[2020-12-31 22:41] hhanesand opened #889 "Changes in imported swift files do not trigger a cache rebuild"
Assuming we have a file like `Generation.swift` and it's imported like so:

[code]

If there is a compilation error stemming from code in `Generation.swift`, fixing that error and rerunning Sourcery results in the same compilation error popping up.

Workaround: Make a trivial change to the template that is importing the file to force Sourcery to re-import the effected file.

[2020-12-31 22:44] hhanesand commented on #889
I'm also seeing a bug where Sourcery overwrites Generation.swift with a previous version if one tries to re-run Sourcery, but I haven't quite tracked down reproduction steps. Currently the only fix I've found is to rename the file being imported. Nuking the Sourcery staging directory may work, but I haven't tried that. (passing --disableCache doesn't seem to help)

[2021-01-04 10:46] krzysztofzablocki commented on #889
what is `Generation.Swift` because Sourcery doesn't write to files that are included (they are only read) so I don't really see how you could experience 2nd issue you've mentioned

[2021-01-10 14:25] RomanTysiachnik commented on #887
@krzysztofzablocki @ilyapuchka Hey guys, would you mind paying attention to that issue, please?

I've also faced that issue when I've tried to migrate from 0.18.0 to 1.0.0. I have a Prism template for my models with nested structure, like:

[code]

And I expect to have generated prisms as:
[code]

Instead, I'm getting a compile error, because the generated code now creates an extension with only `

[2021-01-12 11:01] krzysztofzablocki commented on #887
@RomanTysiachnik I don't really think we have a way to test this in TDD since this issue only happens when using xcodeproj integration which isn't the way I originally wrote this, it was added as extension later on by contributor

[2021-01-12 11:37] krzysztofzablocki commented on #887
@samadhiBot I've added a spec that I think reproduces your setup and your changes fix it, do you mind providing an example of what you meant about those changes breaking other functionality?

[code]

[2021-01-13 19:59] sstadelman opened #891 "Swifttemplate `includeFile("../lib/MyFile.swift")` not documented: is it supported?"
Question:  is it intended that the `<%- includeFile("../lib/MyFile.swift") -%>` pattern is supported in swifttemplate generation?  I stumbled onto it in the tests, and it appears to work as expected.  Is there any reason we should avoid it?

[2021-01-13 20:07] sstadelman commented on #891
Submitted PR #892 with doc addition

[2021-01-13 21:22] hhanesand commented on #889
Yeah, I figured that. Something else must be going on. Poor form to report 2 things in one issue anyways, let's leave discussion for the first comment.

[2021-01-14 09:32] #891 closed

[2021-01-18 12:20] Lutzifer commented on #816
@junjielu

I found a workaround for us using shell:

[code]

Note: I have not tested, if the marker "Begin XCSwiftPackageProductDependency section" and similar is vanilla Xcode or is a result of using https://github.com/yonaskolb/XcodeGen

[2021-01-20 13:26] AndrewPetrov commented on #87
Guys, just add folder with your Source code to the script

[2021-01-27 08:01] Cyberbeni opened #893 "Approve arm64 homebrew fix"
@krzysztofzablocki https://github.com/Homebrew/homebrew-core/pull/69794

[2021-01-27 18:25] krzysztofzablocki commented on #887
@samadhiBot thanks, I added test case for that scenario but everything seems to be working now :)

[2021-01-29 11:00] #816 closed

[2021-01-29 16:28] Cyberbeni commented on #893
ARM64 bottle available: https://github.com/Homebrew/homebrew-core/blob/430c2705d6295f35df02ffd19fb3899f4da08127/Formula/sourcery.rb

[2021-01-29 16:28] #893 closed

[2021-02-03 08:02] #887 closed

[2021-02-03 09:22] sochalewski commented on #838
@krzysztofzablocki Could you please describe how to get old behavior with `allMethods` in 1.0.3?

[2021-02-03 10:29] krzysztofzablocki commented on #838
@sochalewski why do you want to have duplicates? you should be able to get that by walking the inheritance / conformance hierachy

[2021-02-03 14:32] sochalewski commented on #838
@krzysztofzablocki It seems that flattening sometimes works incorrectly. I've got a template to auto generate mocks which uses `allMethods` and most of mocks are generated correctly, but some of them not.

In example:
[code]

This treats `open(_ url: URL)` from the inherited protocol as a duplicate while it's not. Thus only `open(_:options: completionHandler:) appears in the generated mock. In 1.0

[2021-02-03 15:29] krzysztofzablocki commented on #838
looks like we should use selectorName for flattening functions?

[2021-02-04 11:17] #880 closed

[2021-02-04 11:34] krzysztofzablocki commented on #838
@sochalewski I added a test with the code you provided and the AST sourcery parses is correct https://github.com/krzysztofzablocki/Sourcery/commit/94d85c8ad99192b42dda2814470da6225f51b176

same when copying your code and running basic template:

[code]

Can you provide a failing spec or a running example?

[2021-02-04 11:53] #838 closed

[2021-02-04 13:42] sochalewski commented on #838
@krzysztofzablocki As I mentioned I use `allMethods` combined with `!definedInExtension`.

[code]

Let's go with the example above.

### `allMethods`

[code]

The above outputs `open(_ url: URL)` twice as the first comes from the protocol and the second from the extension.

### `allMethods|!definedInExtension`, ex. 1

[code]

This works correctly. But going with a bit more complicated example (bel

[2021-02-05 11:18] krzysztofzablocki commented on #838
this isn't issue with method flattening but with type extension, I don't think that in the first example it should list 3 methods because the type really has 2 methods, one just have default implementation and from Sourcery standpoint that shouldn't be treated as separate method

[2021-02-05 11:31] krzysztofzablocki commented on #838
@sochalewski take a look at https://github.com/krzysztofzablocki/Sourcery/pull/897 and the tests I added there, let me know if the changes make sense

[2021-02-05 13:24] sochalewski commented on #838
@krzysztofzablocki I've checked changes from #897 out and it works well ❤️

[2021-02-08 21:33] hectr opened #898 "Fixed StencilSwiftKit version instead of branch"
[Latest StencilSwiftKit release](https://github.com/SwiftGen/StencilSwiftKit/releases/tag/2.8.0) should allow Sourcery's `Podfile` and `Package.swift` to use a fixed version (`2.8.0`) instead of pointing to the `stable` branch.

Would it be possible to have a new Sourcery release that uses **StencilSwiftKit 2.8.0**?

[2021-02-08 22:33] krishnaagarwal1994 opened #899 "Automatically resolve types across modules"
I am parsing a method in a class A present in TargetA,
Class A has a method that has a return type of Class B, which is also present in TargetA.
But sourcery is still returning false for
[code]
The configuration file that I am using

[code]

[2021-02-08 22:33] krishnaagarwal1994 commented on #899
@ilyapuchka Can you please help me with this?
Thank You.

[2021-02-09 09:45] krzysztofzablocki commented on #899
@krishnaagarwal1994 can you create a sample project reproducing the issue? it would help

[2021-02-09 15:15] krzysztofzablocki commented on #898
yeah we can, we didn't use fixed version because they didn't have release in a long time

[2021-02-09 15:42] krzysztofzablocki commented on #898
Done in 1.1.1

[2021-02-09 15:42] #898 closed

[2021-02-09 15:43] #763 closed

[2021-02-09 15:44] #789 closed

[2021-02-09 15:44] krzysztofzablocki commented on #789
we are on newest version now

[2021-02-09 15:44] #787 closed

[2021-02-09 15:45] #784 closed

[2021-02-09 15:46] #750 closed

[2021-02-09 15:46] #753 closed

[2021-02-09 15:50] #811 closed

[2021-02-09 15:50] #745 closed

[2021-02-09 15:51] krzysztofzablocki commented on #778
this should be fine with recent changes

[2021-02-09 15:51] #778 closed

[2021-02-09 15:56] #735 closed

[2021-02-09 21:19] krishnaagarwal1994 commented on #899
[sourcery0.zip](https://github.com/krzysztofzablocki/Sourcery/files/5954296/sourcery0.zip)
Hi @krzysztofzablocki , thanks for your response.
I have created a sample project, in which I am able to reproduce the problem.
Please have a look into it, and do let me know in case you have any questions regarding this Sample Project.
Thanks.

[2021-02-09 21:31] krzysztofzablocki commented on #899
thanks, seems that something is off with cross module resolution, if you add the target name explicitly to `getStudentB() -> CustomTarget.Student` then it gets all information, I'll look into it.

[2021-02-09 21:55] krishnaagarwal1994 commented on #899
@krzysztofzablocki Yeah, I already tried that, if mentioning the target name explicitly then it's identifying correctly.
Also, I would like to share one more finding with you.

If I am mentioning project path, target names then the Sourcery is retuning the returnType as nil
But if you simply provide the target files path using the source attribute in the Sourcery configuration file then it's able

[2021-02-09 22:01] krishnaagarwal1994 commented on #899
@krzysztofzablocki
Changing the sourcery.yml file contents to below is giving the right results.
[code]

[2021-02-10 06:45] krzysztofzablocki commented on #899
yeah sources don't run into those kind of issues, that's original implementation and more popular, xcodeproj was contributed later and there are some kinks there to figure out

[2021-02-10 07:43] krishnaagarwal1994 commented on #899
Actually, I am working on a quite complex project, where I need to support functionality on a module/target level.
At some places the physical path and logical path of files are different. and some files belong to more than one target.
So rather than relying on physical paths for the modules, I would love to use the project-target functionlity of the Sourcery configuration file.
Also thanks for al

[2021-02-10 08:33] vsnv commented on #708
Sorry for necroposting :) Maybe someone has this problem too: I solved it by using $(SCROOT) instead of $(PROJECT_DIR)

[2021-02-10 13:58] #840 closed

[2021-02-10 13:59] #835 closed

[2021-02-10 14:00] krzysztofzablocki commented on #819
this should be fixed on newer Sourcery versions

[2021-02-10 14:00] #819 closed

[2021-02-10 14:01] #828 closed

[2021-02-10 14:02] #726 closed

[2021-02-10 14:03] #720 closed

[2021-02-10 14:04] #714 closed

[2021-02-10 14:04] #574 closed

[2021-02-10 14:04] #568 closed

[2021-02-10 14:05] #551 closed

[2021-02-10 19:15] erichoracek opened #900 "Variables with Self type do not get resolved"
In [Swift 5.1](https://swift.org/blog/swift-5-1-released/), [SE-0068](https://github.com/apple/swift-evolution/blob/master/proposals/0068-universal-self.md) expanded Swift’s use of `Self` so that it refers to the containing type when used inside classes, structs, and enums. However, Sourcery doesn't seem to support this. For example:

If you have the following Swift file `test.swift`:
[code]

And

[2021-02-10 19:36] krzysztofzablocki commented on #900
Thanks for providing nice report @erichoracek, I'll try to add this feature to next release

[2021-02-11 20:44] #899 closed

[2021-02-11 20:44] #900 closed

[2021-02-12 05:52] krishnaagarwal1994 commented on #899
@krzysztofzablocki Thanks for the fix.

[2021-02-15 11:24] Lutzifer opened #903 "Lots of warnings 'Found "extension <Type>" of type for which there is no original type declaration information' with v1.2.0"
Since Version 1.2.0 I have a lot of warnings like:

`Found "extension Dictionary" of type for which there is no original type declaration information`

This happens to Foundation classes (Dictionary, Collections, UnitDuration, Measurement, FileManager), classes from Pods (RxSwift.Observable) and classes defined in the current app.

Config file:

[code]

Maybe related to https://github.com/krzyszto

[2021-02-15 12:01] krzysztofzablocki commented on #903
@Lutzifer those kind of messages are expected, Over last couple of releases I've added more warnings during parsing so that the users of Sourcery know what kind of types aren't fully defined.

But if you are seeing this on types you've defined in the source code Sourcery scans let me know more details, I think there should only be messages related to either ambigious types or type inference on var

[2021-02-15 12:43] mlight3 opened #904 "configuration: Linking to different path from output path"
My recent project's group hierarchy is not the same as actual folders.
When I try to link my generated files to target, it created different folders and got errors.

### Configuration
[code]

### Group Hierarchy
* mytype (Root Group)
  * Sourcery
      * Sourcery
        * Generated

### Folder Hierarchy
* mytype
  * Sources
    * Sourcery
      * Generated

**`mytype` group location is `mytype/So

[2021-02-15 12:48] krzysztofzablocki commented on #904
hey @mlight3, can you provide a minimal sample project reproducing the issue?

also are you generating many files using extended annotations? if not then given your configuration might be simpler to just not link automatically since you are not really leveraging module integration at scanning level and just use output directory

[2021-02-16 11:13] Lutzifer commented on #903
Yeah, upon closer investigation, all types that had a warning where either in a pod, foundation or a local module.

As sourcery runs in the build phase in our case: What do you think about making this configurable to not yield a warning but info or something like that?

[2021-02-16 13:04] krzysztofzablocki commented on #903
@Lutzifer is this turning into actual Xcode warnings for you? you can always use `--quiet` argument and that should suppress anything except errors

[2021-02-16 14:07] Lutzifer commented on #903
yep, its Xcode warnings, because the format matches.

Doing
` sourcery --config sourcery.yml | sed "s/warning: Found \"extension/info: Found \"extension/g"`
now to change it before Xcode sees it.

[2021-02-16 14:13] krzysztofzablocki commented on #903
right, I guess we should change it to info then, It's too verbose for warnings

[2021-02-16 14:30] krzysztofzablocki commented on #903
Released 1.2.1 which changes them to info

[2021-02-16 14:30] #903 closed

[2021-02-16 14:31] Lutzifer commented on #903
Cool, thanks for the fast release.

[2021-02-23 21:18] rstone4-chwy commented on #766
This would be really useful. The use case would be that a developer has defined a concrete object with documentation and we generate the protocol from the concrete instance. From there the developer would almost never reference the concrete object on its own, so the quick documentation would come back blank.

[2021-02-24 17:34] erneestoc opened #905 "Allow protocol compositions to be AutoMockable"
I have a use case where protocol compositions would greatly simplifies my app's routing layer. Is there any plans to support protocol compositions to be AutoMockable?

[2021-02-24 18:11] krzysztofzablocki commented on #905
@erneestoc I think you just need to change the main loop to include both `type.kind == protocol` and `type.kind == protocolComposition`

[2021-02-24 22:43] nnnax opened #906 "configuration: Linking inside the root group"
I've created a very basic Xcode project named "simple"
I want to link my generated files directly inside the default group named "simple" so my configuration file is set as follow :

<img width="853" alt="Capture d’écran 2021-02-24 à 23 20 04" src="https://user-images.githubusercontent.com/2895717/109073971-621d0200-76f7-11eb-8523-850b5ab9216c.png">

After each Sourcery generation, a new group nam

[2021-02-25 07:01] krzysztofzablocki commented on #906
@nnnax hey, what happens if you don't specify the group name in the config? I'm looking at docs and they say that it should add the files to your root group

[2021-02-25 08:23] nnnax commented on #906
Hi @krzysztofzablocki,
If I don't specify the group, my file is added under the project node (so near my default group) exactly as we see in the second screenshot. I think it's the expected behavior because the root group is the project node.

And the code itself is correct, I mean by default the rootGroup is used :
        var fileGroup: PBXGroup = rootGroup

But, I think the real problem is that

[2021-02-25 08:35] krzysztofzablocki commented on #906
Ok, thanks for detailed write up 🙇‍♂️

I'll fix it but likely in next release after 1.3 since 1.3 is already going to be massive

[2021-02-26 13:51] nnnax commented on #906
@krzysztofzablocki
Just to let you know, after an in-depth analysis, in fact the issue is exactly the same as the issue #904

There is two different types of groups in Xcode since version 9

- Groups with folders (a folder exists on the disk, associated to the group)
- Groups without folders (a virtual folder for organizing files)

If we use "Groups with folders" (actually used in Sourcery)
The ou

[2021-02-27 18:22] krzysztofzablocki commented on #906
@nnnax for now you could just not use automatic linking feature, as to not be blocked from using the tool. Right now I'm wrapping up 1.3 release which massively improves parsing (upto 12x faster) and reduces memory usage and after that I want to start prototyping more powerful AST but I'll take a look at fixing this before I do that since it's much smaller feature than AST overhaul 😂

[2021-02-27 19:04] nnnax commented on #906
@krzysztofzablocki
Great to know that the tool is going to be improved ! I'm using it right know, I'm learning Stencil also. I'm not blocked 👍

[2021-02-28 21:25] #905 closed

[2021-03-02 12:20] MaximKotliar commented on #214
Any updates on this issue?

[2021-03-02 20:09] krzysztofzablocki commented on #214
Sourcery have been doing lookups by module for a while now but there will be big changes in next releases anyway so if it doesn't do something atm then it won't until that AST rewrite happens

[2021-03-02 22:13] ilyapuchka commented on #854
If formatting is a problem I'd suggest to run tools like SwiftFormat on the files generated by Sourcery, or even anything that is using Stencil which is not great with formatting.

[2021-03-03 00:31] vincentisambart opened #908 "x86_64+arm64 fat binaries"
The binaries provided are currently x86_64 only.
Thanks to Rosetta, that works without any problem on M1 Macs, but it would be nice to have fat binaries supporting both arm64 and x86_64.

[2021-03-03 08:21] krzysztofzablocki commented on #908
do you know how you get that from Swift package manager? I just recently switched us building to it

[2021-03-03 08:34] vincentisambart commented on #908
I've never done it but it seems specify multiple architectures does the trick: https://liamnichols.eu/2020/08/01/building-swift-packages-as-a-universal-binary.html

[2021-03-03 20:37] jpsim opened #909 "_InternalSwiftSyntaxParser error with 1.3.0"
Steps to reproduce:

[code]

[2021-03-03 21:32] krzysztofzablocki commented on #909
@jpsim you'll need Xcode in default path, it's noted in release info.

I'm going to look into bundling the dylib with the tool but need to read up how one can replace rpath to point to local file with spm, or maybe you have any ideas?

[2021-03-03 21:37] jpsim commented on #909
What do you mean by "default path"? You mean what's set to `xcode-select`? As I indicated in the first comment, that's set to  `/Applications/Xcode-12.4.app/Contents/Developer`

[2021-03-03 21:44] krzysztofzablocki commented on #909
@jpsim I don't really know much about the SPM building / dylib linking but I've exact same Xcode version but in `/Applications/Xcode.app` and people that tested tool before also had Xcode in non-default location and they had to symlink it to that default one

I run your steps on my machine and had this output
[code]

 I really want to embed the dylib with the tool, did you had any luck with that o

[2021-03-03 21:51] jpsim commented on #909
We don't embed the SourceKit dylib, and I think there might be some tricky legal/licensing issues with redistributing Apple binaries anyway.

SourceKitten dynamically resolves which SourceKit/clang libraries to load and accesses them via `dlopen`. It's one of my favourite implementation details about how it works: https://github.com/jpsim/SourceKitten#how-is-sourcekit-resolved [source](https://git

[2021-03-03 21:54] krzysztofzablocki commented on #909
oh that's helpful, they do deal with moving the dylib [in this script] (https://github.com/dduan/DrString/blob/main/Scripts/package-darwin.sh)

[2021-03-04 09:12] krzysztofzablocki commented on #909
fixed in 1.3.1

[2021-03-04 09:12] #909 closed

[2021-03-04 13:26] Cyberbeni opened #910 "type.accessLevel resolves to wrong value after updating from 1.2.1 to 1.3.1"
Stencil:
[code]

Generated code:
[code]

1.2.1 resolves type.accessLevel to public (correct) while 1.3.1 resolves it to internal

[2021-03-04 14:43] krzysztofzablocki commented on #910
can you provide sample source code that works wrong for you ? because we have tests for type access levels and all of them pass
e.g.
[code]

[2021-03-04 15:34] #910 closed

[2021-03-05 10:08] avnerbarr opened #911 "Question - Is it possible to generate SwiftUI views for models?"
I require some simple data entry, but have lots of different models.

Is it possible to annotate the models and the SwiftUI data entry views could be generated for me :)

Thanks!

[2021-03-05 10:27] krzysztofzablocki commented on #911
@avnerbarr yep, I've pretty much did that in https://github.com/krzysztofzablocki/AutomaticSettings

[2021-03-05 10:47] avnerbarr commented on #911
Thanks @krzysztofzablocki !

I'm trying it now, but running into an issue integrating `AutomaticSettingsViewDSL`

[code]
(there are several more scattered around)

In the package https://github.com/krzysztofzablocki/AutomaticSettings/blob/main/Package.swift it seems like it should support mac applications right?

[code]

[2021-03-05 10:50] krzysztofzablocki commented on #911
the idea and almost all of the template will work but you'd need to add some system `#if os(macOS)` in the template, I didn't really have time to attribute it correctly (sorry), would love a pr with those changes if you could add one :)

[2021-03-05 12:08] avnerbarr commented on #911
Working on it now.

Still trying to understand how to compile the templates. I can open the PR though for review.

[2021-03-05 13:08] krzysztofzablocki commented on #911
@avnerbarr sure, we can discuss it in settings repo

[2021-03-06 13:31] #727 closed

[2021-03-07 06:50] krzysztofzablocki commented on #658
fixed long ago

[2021-03-07 06:50] #658 closed

[2021-03-07 06:50] #381 closed

[2021-03-07 06:50] #305 closed

[2021-03-07 06:51] krzysztofzablocki commented on #305
I migrated distribution for all channels to SPM a month or so ago, will migrate main app too sometime soon

[2021-03-07 06:54] krzysztofzablocki commented on #659
duplicate of #601

[2021-03-07 06:54] #659 closed

[2021-03-07 06:55] #708 closed

[2021-03-08 17:21] Mazorati opened #913 "No class named "SourceryRuntime.Import" was found"
Hi all. Just wanted to move Sourcery to cocoapods and updated it from 1.0.0 to 1.3.2 and got this error:

[code]

I use template from [here](https://github.com/krzysztofzablocki/Sourcery/blob/master/Templates/Templates/AutoCodable.swifttemplate).
In 1.0.0 everything works as expected.
Could somebody help?

[2021-03-08 18:08] krzysztofzablocki commented on #913
@Mazorati try killing your cache `sudo rm -r ~/Library/Caches/Sourcery`

[2021-03-09 15:34] #913 closed

[2021-03-10 08:44] falcowinkler opened #915 "Sourcery 1.3.2 fails to generate mocks"
[code]
Command:
`./Pods/Sourcery/bin/sourcery --disableCache --watch`

Expected behaviour:
Code generation works as before

Actual behaviour:
[code]

Generated file:

[code]

I am using a slightly modified AutoMockable.stencil, but also with the original the error persists.
When downgrading again to 1.3.1 everything works fine again

[2021-03-10 09:13] krzysztofzablocki commented on #915
@falcowinkler we are gonna need a bit more data to do anything about this, show us a code of a sample type that doesn't get processed

[2021-03-10 13:47] #675 closed

[2021-03-10 15:12] Lutzifer opened #916 "Make "No templates provided" warning a warning and not an error."
We have uniform folder structures across multiple projects.

Sometimes, we don't yet have sourcery templates for specific cases, which yields this error:

` ❌  error: while reading .yml 'sourcery.yml'. 'Invalid templates. No templates provided.'`

What do you think of toning this down to "warning"?

[2021-03-10 15:56] krzysztofzablocki commented on #916
fine by me, it's error since it's just wasteful operation but send over a pr and I'll merge it

[2021-03-11 01:42] GabrielHauber opened #917 "Performance when using multiple .swifttemplates"
We are using Sourcery to generate several different files from different templates. Currently we have 8 templates, 7 of which are `.swifttemplate` and one is a `.stencil`

I've noticed that there seems to be significant overhead for each `.swifttemplate` - between 2.5 and 3s on my machine, that is not present for the `.stencil` file. This means that a code generation run is of the order of of 20-3

[2021-03-11 04:16] krzysztofzablocki commented on #917
swifttemplates are compiled as normal Swift application which is why they are so slow, not much you can do there. I really recommend Stencil or ejs over swifttemplate for that reason

1.3.1 will probably be faster than 1.3.3 for your setup since old composer didn't require extra processing

[2021-03-11 10:42] Cyberbeni opened #918 "AssociatedValue external name fallback only works well when adding a prefix"
https://github.com/krzysztofzablocki/Sourcery/blob/542bf3576404cff3367218107b4b8f6171db5d91/SourceryFramework/Sources/Parsing/SwiftSyntax/AST/EnumCase%2BSwiftSyntax.swift#L19-L21

I think this should be something like this:
[code]

Currently if it's a single unnamed associated value then externalName will be empty.
If it's multiple values then it is currently named as just a single number but Swif

[2021-03-11 10:58] krzysztofzablocki commented on #918
@Cyberbeni I don't understand what you are talking about here?  this is implemented to correlate with how you'd use the names in a binding sysstem:

if you have enums with associated values that are unnamed you refer to them by numbers e.g.
[code]

if you have named arguments those are external names and that's working as expected

[2021-03-11 11:11] Cyberbeni commented on #918
Ah, I was expecting it to be used like this:
[code]
but I guess `forloop.counter` can always be used for this

[2021-03-11 11:11] #918 closed

[2021-03-11 11:32] krzysztofzablocki commented on #918
yeah no worries, most AST decisions are based on how what's going to enable you to write valid swift

[2021-03-11 20:49] GabrielHauber commented on #917
Thanks. I thought that might be the case but was hoping for something different.

[2021-03-11 20:49] #917 closed

[2021-03-12 12:38] #915 closed

[2021-03-13 17:24] m1entus opened #920 "[Question] Register custom @propertyWrapper as Attribute"
First of all big up for Sourcery @krzysztofzablocki!

1. I am wondering if it is possible to register custom @propertyWrapper as Attribute.Identifier type and find them in stencil files ?
2. Trying to get {% for var in type.variables %} `{{ var.type.inherits.UIView }}` and check if veriable inherits from UIView, seems type is always nil no matter what, but typeName give me UILabel/UIView is there

[2021-03-13 17:30] krzysztofzablocki commented on #920
@m1entus
regarding 2. `UIView` is unknown type so you'd have to use `type.based.UIView`, you should be getting `type` property if the types are known to Sourcery (defined in the source it scans), let me know if that's not the case

as for 1 I think you'll get attribute propertyWrapper and could look into it's arguments to find whatever you are looking for

[2021-03-13 17:54] m1entus commented on #920
Thanks for quick reply!

For the 1 i have defined, where `@AccessibilityIdentify` is propertyWrapper type and seems there are no results, IBOutlers etc. are working fine but for my custom one i am not getting anything:
`@AccessibilityIdentify(identifier: "custom_id")
    var testView = UIView(frame: .zero)`

Regardin 2. i have done some workaround and extended UIView with my custom protocol `UIVie

[2021-03-15 08:52] falcowinkler commented on #915
@krzysztofzablocki
It seems that the problem exists only for types that are annotated with interface inheritance

[code]
And for example
[code]

So it seems that `where type.based.AutoMockable` predicate doesn't work anymore since the version upgrade. As i said, the mocks are generated fine in 1.3.1... Did something change in this regard?

[2021-03-15 09:11] krzysztofzablocki commented on #915
use type.implements.AutoMockable if you define the protocol in your scanned source code

[2021-03-15 09:39] falcowinkler commented on #915
no, `type.implements.AutoMockable` also doesn't work for 1.3.1 even.. also if i just use the AutoMockable.stencil from this repo.

I'm not really sure what's going on. I think best would be to create a minimal project first, or i can write a test for it

[2021-03-15 10:01] krzysztofzablocki commented on #915
example would be ideal, and probably easier for you to prep, I can write tests once I confirm the issue

[2021-03-15 13:58] airowe-ra opened #922 "Equals sign in string results in invalid parse"
If I have an equals sign in my string value that is being parsed, the resulted generated value is "1" instead of the expected value.

"aBC123" generates "aBC123"
"aBC123=" generates "1"

[2021-03-15 17:07] airowe-ra commented on #922
Disregard. Just needed to pass it as a string value with escaped quotes "\"aBC123=\"" and it worked.

[2021-03-15 17:07] #922 closed

[2021-03-16 11:46] leoture opened #923 "isMutable always returns true for subscripts"
When I define a protocol with a subscript (get only), `isMutable` is true  instead to be false.

* What version of Swift are you using (swift --version)?
Apple Swift version 5.3.2 (swiftlang-1200.0.45 clang-1200.0.32.28)
Target: x86_64-apple-darwin20.3.0

* What did you do?
My template:
[code]

My protocol:
[code]

* What did you expect to see?
[code]
* What did you see instead?
[code]

[2021-03-16 13:33] falcowinkler commented on #915
@krzysztofzablocki i am able to reproduce it reliably also in a small example project.
https://github.com/falcowinkler/sourcery-experiments
can you kindly have a look if you can reproduce the issue? i added the necessary steps in the README

[2021-03-16 14:43] krzysztofzablocki commented on #915
yeah Sourcery works fine, but you'd need to use fully qualified name which for your configuration is `type.based["sourcery-experiments.AutoMockable"]` given you use module integration

I know @eldudi wanted to add convience support for skipping module name when querying those things but he doesn't have time right now, so probably next release?

[2021-03-16 14:48] paweldudek commented on #915
@falcowinkler yeah I'm a bit busy right now but I might be able to have a fix next week. I managed to work around this by doing the following:

[code]

[2021-03-16 15:53] falcowinkler commented on #915
thanks for the fast reply! with explicit module it works in version 1.3.2. i am curious why it worked in the previous version... otherwise thanks for this great software, it's working really well for us.

[2021-03-16 16:27] krzysztofzablocki commented on #915
@falcowinkler because as I kept improving composer I need to rely on fully qualified names, you could have 2 types with the same name in different modules and old version would be broken but new would work

[2021-03-18 18:11] IlyaPuchkaTW opened #924 "Protocols members access levels"
Access level of protocols members is defined by the access level of the protocol and can't be set explicitly on each member, so for protocol members instead of assuming default access level (internal) we should set the same access level as their protocol. For example with custom AutoMockable template we generate mocks with the same access level as protocols they mock. If the protocol is public but

[2021-03-19 05:23] #924 closed

[2021-03-22 21:34] hborawski opened #927 "open vars/classes showing accessLevel as "internal""
Ignore the edits, accidentally hit enter while going for the quote key 🤦

First time using sourcery and it's working great for the most part, but I've run into an issue where `open` variables and classes are showing the access level as `internal`, and I haven't been able to find other issues like this or any mention of a configuration issue.

I put together a quick demo repo to illustrate the prob

[2021-03-25 17:56] daltonclaybrook commented on #803
Is this possible now that Sourcery is built on SwifySyntax rather than SourceKit? (cc: @krzysztofzablocki)

[2021-03-26 12:11] Cyberbeni opened #929 ""private" on top level should translate to "fileprivate""
Original file:

[code]

Stencil:
[code]

Expected result:

[code]

Actual result:

[code]

Private on top level always means fileprivate.

Although in my case, only specifying open/public for access level also solves the issue and also works for nested private types.
[code]

[2021-03-26 14:40] krzysztofzablocki commented on #929
Sourcery provides you with AST, the syntax you used is private so it should be private, it's your specific context that you'd have it more convenient to make Sourcery lie about AST declaration in, but in other contexts it wouldn't be accurate

[2021-03-26 15:16] Cyberbeni commented on #929
I had the whole thing typed out when I found a better solution for my problem, so I just sent it in case you have a different opinion.

[2021-03-26 15:16] #929 closed

[2021-03-27 17:00] daltonclaybrook commented on #803
I started sketching out some ideas for this. It looks like property wrappers are supported in SwiftSyntax via the `CustomAttributeSyntax` type.
https://github.com/krzysztofzablocki/Sourcery/compare/1.3.4...daltonclaybrook:dalton/property-wrappers

[2021-03-27 17:45] krzysztofzablocki commented on #803
definitely doable now, I'd tweak the implementation to use real list instead of description string splitting in custom syntax case

[2021-03-30 09:20] krzysztofzablocki commented on #803
@daltonclaybrook send me a pr when you finish 👍 I'm focused on SourceryPro app for a bit longer but will merge after

[2021-03-30 09:21] krzysztofzablocki commented on #927
thanks for reporting, I'll take care of that soon

[2021-03-30 16:34] daltonclaybrook commented on #803
@krzysztofzablocki Will do. I'll probably have some more time to look at this in the next few days.

[2021-04-01 16:00] ferologics commented on #908
what's the status of this issue @krzysztofzablocki?

[2021-04-01 16:02] krzysztofzablocki commented on #908
It's not as simple as just using those flags because of SwiftSyntax dylib, I didn't have time to figure it out yet, you are welcome to try figuring out how to package this

[2021-04-02 13:14] ferologics commented on #908
I see, well I'm not so familiar with SPM packaging myself 🤷‍♂️ all I can offer is [another post](https://www.smileykeith.com/2020/12/24/swiftpm-cross-compile/) I found while researching the topic that suggests that "another option is to build once for each architecture, and then combine the binaries using lipo. Unlike the `--arch` option, this approach also works on Linux."

[2021-04-02 13:28] havebeenfitz opened #933 "Autoinline in nested types"
Hello, I'm trying to use a template for public init generation

[code]

And in code I have something like this:

[code]

**What I was expecting after running sourcery:**

[code]

**What happens instead:**

[code]

So it's kind of treating the nested annotated type wrong. Is my template wrong or is it a bug?) I'm using sourcery 1.3.4, latest release

[2021-04-02 16:29] gegulaxe opened #934 "Installation on M1"
Before everything Sourcery is irreplaceable part of my projects and I'm hoping it'll be for many following.

But bad news came, I faced implementation problems when I started my first on M1.
Until I moved to M1 I was installing it through Homebrew and imported it as a Script Phase, making my folders architecture as shown on images below, with stencil file.

Please update installation steps via SPM

[2021-04-02 21:30] #934 closed

[2021-04-03 06:19] Liquidsoul commented on #933
Seems to me like we have a bug with generated code inlining. Could you try previous versions? This way we could find the version that may have introduced the issue.

[2021-04-03 06:40] Liquidsoul commented on #933
@havebeenfitz I have performed a test with the template and code you are giving here and this runs fine with the latest Sourcery (`1.3.4` and `master`).
Note that my sample only contains the one source file you are giving with the AutoInit code. Maybe your context is different and you are using the AutoInit template in more files.
Could you try and give more information?

[2021-04-03 11:06] Roman-Andreyenko opened #936 "Annotations field is empty for protocol composition starting from Sourcery 1.3.0"
I use Swift version 5.3.2.
I have following source code:

// sourcery: AppContext
typealias AppContext = NetworkReachabilityServiceContainer
    & RootStylePropertyServiceContainer
    & FirebaseAppServiceContainer
    & DeeplinkHandlerServiceContainer

NetworkReachabilityServiceContainer, RootStylePropertyServiceContainer, FirebaseAppServiceContainer and DeeplinkHandlerServiceContainer are protoc

[2021-04-03 12:15] havebeenfitz commented on #933
I'm using it in a multi-module workspace, it's the only annotation for one file. I will try to reproduce it in a new simple project as soon as I can, thanks for your help) I will also try some older versions

[2021-04-05 06:43] havebeenfitz commented on #933
I was able to reproduce the issue In test project with `1.3.4`. However with `1.2.1` there is no such issue. But in order to get the older version I needed to change run method in build phase to `${SRCROOT}/sourcery/bin/sourcery` as opposed to just `sourcery`.

As I can see from release notes there were major changes:

Maybe it's somehow connected? Or maybe there is something wrong with running th

[2021-04-05 12:02] Roman-Andreyenko opened #937 "configuration: "force-parse" option issue"
I found issue when I used configuration file. If I use "project" option as source of source code, then "force-parse" option does not work for multiple phases generation. In case if I use "sources" option as source of source code, "force-parse" does well.

Configuration file:
[code]

I did following:
1. run sourcery with configuration file described above
2. sourcery generates several source code f

[2021-04-06 10:18] funzin opened #938 "Can't get genericTypeName"
## Overview
- Can't get genericTypeName
- Until `v1.3.1`,  I can get genericTypeName
- From `v1.3.2`, I can't get genericTypeName😢

Attached template file and swift code

## Template&Swift File
e.g. `var` type is `GenericArgumentStruct<Bool>`
[code]

[code]

[2021-04-06 15:19] Roman-Andreyenko commented on #937
@krzysztofzablocki seems that "force-parse" option was missed for "project" option flow, so I made PR #939. All tests passed locally. I couldn't run tests on CircleCI, because it requires paid plan. Please take a look 😄

[2021-04-08 09:11] krzysztofzablocki commented on #938
Thanks for the raport, I'll fix it after I finish Sourcery Pro companion app

[2021-04-09 14:04] bdunay3 commented on #936
I'm seeing this exact same issue in 1.3.4. I've modified the AutoMockable template to take protocol compositions into account since we are doing dependency injection using protocol compositions. If I remove the `where type|annotated:"AutoMockable"` check, it works (but I get all protocol compositions which is not what I want).

[2021-04-11 03:36] robertjpayne commented on #927
@krzysztofzablocki I think `isFinal` on classes may be affected by this as well. Using 1.3.4 it's breaking our build pipeline because `isFinal` is set to `0` even when the class is clearly marked as final.

[2021-04-11 06:11] krzysztofzablocki commented on #927
@robertjpayne might making a ticket with a code sample that fails? I'll make a new release of https://merowing.info/sourcery-pro/ and will get on it

[2021-04-12 04:55] krzysztofzablocki commented on #937
thanks @Roman-Andreyenko 🙇

[2021-04-12 04:55] #937 closed

[2021-04-12 20:48] bdunay3 commented on #936
I've just posted a PR that fixes this issue. Hopefully that fixes your issue as well @Roman-Andreyenko.

[2021-04-12 21:17] #936 closed

[2021-04-13 14:11] fchauvin opened #943 "1.3.4 Catalina bottle is missing"
This error seems to have started yesterday when running `brew install sourcery` on our CI.

![Screen Shot 2021-04-13 at 10 08 11 AM](https://user-images.githubusercontent.com/1099119/114566560-69b14f80-9c40-11eb-82d8-0f8764a8e9fb.png)

[2021-04-13 14:22] krzysztofzablocki commented on #943
that's a release that happened a while ago, we didn't change anything on our side so seems like brew issue?

[2021-04-13 15:11] fchauvin commented on #943
Yeah you seem to be right, according to this thread here: https://github.com/Homebrew/discussions/discussions/691

Thanks for the quick response, will close now.

[2021-04-13 15:11] #943 closed

[2021-04-13 15:52] krzysztofzablocki commented on #938
@funzin I'm not seeing the issue on my end, I just tried your code and it works fine, take a look at this template and let me know if I'm doing differently

[Issue_938.sourcerytemplate.zip](https://github.com/krzysztofzablocki/Sourcery/files/6305043/Issue_938.sourcerytemplate.zip)

[2021-04-14 01:43] funzin commented on #938
@krzysztofzablocki

Oh, sorry.
Please check the following another exmaple code.
I can't get typeName.

swift
[code]

stencil
[code]

output
[code]

[2021-04-14 11:47] krzysztofzablocki commented on #938
@funzin The issue here is the type inference, that's not provided by Syntax parser and I've manually added support to infer some basic cases, you can workaround by simply adding type attribution to your variable as in my example

[2021-04-14 15:08] #938 closed

[2021-04-15 01:26] funzin commented on #938
Thank you for you reply!
will workaround:pray:

[2021-04-15 05:24] krzysztofzablocki commented on #938
@funzin you don't need to anymore, it's closed because I fixed already in 1.4 😂

Inference isn't perfect since it's just string manipulation but it should work in most cases, let me know if you run into issues

[2021-04-19 13:18] gotev commented on #344
After upgrading from `1.0.2` to `1.4.0` it happened. Using `--disableCache` as reported in https://github.com/krzysztofzablocki/Sourcery/issues/774 solves the problem

[2021-04-27 00:04] robertjpayne commented on #927
@krzysztofzablocki it's not the easiest to get setup into the project files – but from quick looks the entire `attributes` dictionary you get from `ClassDeclSyntax` is always empty. I'm trying to sort it out.

[2021-04-27 16:33] daniele-pizziconi commented on #909
I'm having the same issue with the newly released version of Xcode 12.5.

`The loaded '_InternalSwiftSyntaxParser' library is from a toolchain that is not compatible with this version of SwiftSyntax`

[2021-04-28 04:19] krzysztofzablocki commented on #909
@daniele-pizziconi which version of Sourcery are you on, and how did you install it?

[2021-04-28 13:54] danielPeloton commented on #909
I'm having the same problem with Xcode 12.5, and I'm handling Sourcery entirely through mint. Should we not be doing this?

[2021-04-28 16:11] krzysztofzablocki commented on #909
@danielPeloton until we migrate fully to self-contained SPM via #935, you want to use brew or binary distributions because both of those rewrite rPath to be exact version we use and not rely on your machine setup, mint just runs swift package manager and that setup isn't properly handling dylib yet

[2021-04-28 16:15] daniele-pizziconi commented on #909
Thank you Krzysztof for the heads up. I was indeed using directly 'swift build -c release'.
Is there any eta for that work you mentioned?

[2021-04-28 16:28] krzysztofzablocki commented on #909
I'll try to find some time on the weekend to wrap up the open prs

[2021-04-29 09:26] lizhihui0215 opened #948 "AutoCodable not generating code"
I have run sourcery in my project. and I have copied the [AutoCodable.swifttemplate](https://github.com/krzysztofzablocki/Sourcery/blob/master/Templates/Templates/AutoCodable.swifttemplate) and [AutoEquatable.stencil](https://github.com/krzysztofzablocki/Sourcery/blob/master/Templates/Templates/AutoEquatable.stencil) into my project
I did everything on doc here: [Codable](https://github.com/krzysz

[2021-04-29 09:55] krzysztofzablocki commented on #948
Which version of Sourcery are you running?

[2021-04-29 09:56] krzysztofzablocki commented on #948
what's your command line tools version? `xcode-select -p` ?

[2021-04-29 10:27] lizhihui0215 commented on #948
@krzysztofzablocki hope this can help.
<img width="566" alt="Screen Shot 2021-04-29 at 6 24 41 PM" src="https://user-images.githubusercontent.com/3880275/116537179-790aeb00-a918-11eb-8dfb-b3eb058b2502.png">

[2021-04-29 11:44] krzysztofzablocki commented on #948
@lizhihui0215 could you try creating a sample that reproduces the issue? without sample code it's not going to be easy to reproduce because Sourcery succeeded but the template just doesn't generate output?

are you using annotations or marker protocol to find types to extend?

[2021-04-29 12:53] lizhihui0215 commented on #948
Hi @krzysztofzablocki
here is sample project [SourceryTest](https://github.com/lizhihui0215/SourceryTest)

[2021-04-29 13:59] krzysztofzablocki commented on #948
@lizhihui0215 this is working properly, your code doesn't need any generated code to work so the template doesn't generate any, you need to do something that actually requires a custom implementation for it to generate it, otherwise it just falls back to default which system generates, e.g. add this

[code]

and you'll see generated code appearing.

Or add some custom coding keys, or processing pe

[2021-04-30 07:05] #948 closed

[2021-04-30 07:05] krzysztofzablocki commented on #948
@lizhihui0215 let me know if anything is unclear

[2021-05-03 07:53] Cyberbeni commented on #881
fixed by #944

[2021-05-03 07:53] #881 closed

[2021-05-03 09:40] #923 closed

[2021-05-03 09:56] HeMet commented on #933
I think it's fixed by #944 since I can't reproduce it in `1.4.1`.

[2021-05-03 10:00] #927 closed

[2021-05-03 10:01] #933 closed

[2021-05-03 23:52] Robuske commented on #879
I just want to report that whatever was the problem between _Sourcery_ and _SwiftGen_ seems to have been fixed. I am not sure when it was fixed, so I can't say for sure, but if I had to guess I would say it was [version 1.3.0](https://github.com/krzysztofzablocki/Sourcery/releases/tag/1.3.0) with the change from _SourceKit_ to _SwiftSyntax_.

[2021-05-05 13:48] ayla08 opened #955 "sourcery on gem: Gem spec?"
Would it be possible to have sourcery on rubyGems?
As I need to use sourcery with Gemfile, so I can fix the version used on the bundler

[2021-05-06 22:54] cheeseonhead opened #956 "`inout` incorrectly parsed when it's inside the parameter of the closure."
`inout` seems to be interpreted for the top level type no matter where it appears. For example
[code]
The inout attribute is for the `String` parameter in the closure, but in Sourcery 1.4.1, it's interpreted for `t`.

This is the output if you print the name property on the method.
[code]

[2021-05-07 00:52] cheeseonhead commented on #956
Example test spec
[code]

[2021-05-07 07:39] vincentisambart commented on #908
Today I did some testing and indeed the binaries generated when specifying multiple `--arch` to SPM are pretty different. Doing a `swift build` per architecture then a `lipo` did seem to generated an OK binary, but once the build directory is deleted, it complains that it cannot find `Sourcery_SourceryJS.bundle`

[code]

Just in case, my current diff.
[code]

Also the code in Package.swift to dete

[2021-05-07 16:45] Lutzifer commented on #909
@krzysztofzablocki You know how to reach me, if you need a guinea pig for the mint-compatibility

[2021-05-07 16:48] krzysztofzablocki commented on #909
unfortunately it seems this is not doable in pure spm package as far as I could tell, spm doesn't support linker flags when building through command line so mint won't work until Apple fixes it 😞

[2021-05-09 23:36] vincentisambart commented on #908
Trying once again `rake build` without my modifications, I still get the `Sourcery_SourceryJS.bundle` problem.

@krzysztofzablocki How are you currently building your binaries? Using `rake build` gives me a binary that searches for `Sourcery_SourceryJS.bundle`, and that bundle is deleted at the end of the `build` task with the rest of `BUILD_DIR`.

[2021-05-10 14:11] jpsim commented on #909
@krzysztofzablocki Mint & SwiftPM support should be feasible. Here are some open source projects that link SwiftSyntax and work just fine with Mint:

* https://github.com/dduan/DrString
* https://github.com/SwiftDocOrg/swift-doc

You could look at those to compare how they integrate with SwiftSyntax with the approach taken by Sourcery to see how they may have addressed this issue.

[2021-05-10 14:24] jpsim commented on #909
Hmmm, maybe you're right. I'm not running Big Sur so I can't install Xcode 12.5 to troubleshoot.

[2021-05-12 07:18] krzysztofzablocki commented on #916
@Lutzifer want to send that pr?

[2021-05-12 08:43] #956 closed

[2021-05-12 10:54] Lutzifer commented on #916
Yeah, still needs some testing, might find some time later today

[2021-05-12 12:58] krzysztofzablocki commented on #955
Sourcery isn't a ruby project so I don't see how that would make sense?

[2021-05-12 14:45] Lutzifer commented on #916
@krzysztofzablocki I can no longer reproduce this using 1.4.2

[2021-05-12 14:49] #916 closed

[2021-05-12 14:54] avdyushin opened #959 "configuration: Multiple target for linking to project"
Sometime it's hardly to have multiple targets under output/link/target to be linked to

[2021-05-12 14:55] #955 closed

[2021-05-19 21:25] bdunay3 opened #963 "Should AutoMockable template generate a getter and setter for non-optional protocol properties?"
I've noticed in the AutoMockable template that it will cause a getter and setter to be generated for a protocol property even if it's declared as a get-only property.

For example if you declare the following protocol:
[code]

I would expect this output:
[code]

But what we get is:
[code]

I've implemented my expected functionality in my own version to AutoMockable but ran into an issue when deter

[2021-05-20 13:56] bdunay3 commented on #963
Ah... yes! As I talk through it more I see exactly what you are saying. My issue I addressed in my PR still stands, but there's no need to modify the template. Thanks for taking the time to talk about this issue!

[2021-05-20 13:56] #963 closed

[2021-05-24 10:06] letiemble opened #964 "isMutable always return false for read/write properties"
Hello,

I have noticed a regression in Sourcery 1.4.2 when dealing with read/write properties. The behaviour has changed from Sourcery 1.4.1: `isMutable` now always return `false` for read/write properties.

### What version of Swift are you using (swift --version)?

Apple Swift version 5.4 (swiftlang-1205.0.26.9 clang-1205.0.19.55)
Target: x86_64-apple-darwin20.4.0

### What did you do?

My templ

[2021-05-26 10:18] #964 closed

[2021-05-26 12:42] JoGoFo- opened #965 "[Feature Request] Same-line trailing comment annotation parsing"
It would be really cool if Sourcery could identify comment annotations at the _end_ of the line and associate it with the preceding statement.

For example:
[code]
and
[code]
This would be helpful for cleaner formatting of code.

In the Writing Templates guide it says:

My initial interpretation of this was as described in above `Foo` example, it wasn't particularly clear that the annotation had t

[2021-05-26 13:44] krzysztofzablocki commented on #965
hey you want to open package.swift in Xcode and use that for development now, thanks for reminding me to update circle config 😅

AnnotationParser is a separate object you could try tweaking to support that logic, I'd be fine with same line being annotation like that being processed with the associated statement 👍

[2021-06-02 06:02] avdyushin opened #966 "[Cleanup code] Update group creation after XcodeProj update"
Once XcodeProj updated to version 7.24.0 (not released yet) replace workaround function call:
https://github.com/krzysztofzablocki/Sourcery/blob/46157b01b908a2ce2c471fb73ca8d4e2707f3b7f/Sourcery/Utils/Xcode%2BExtensions.swift#L38
with fixed one. And get rid of `addGroupFixed` method.

Related issue is already merged: https://github.com/tuist/XcodeProj/pull/614

[2021-06-05 20:22] Cyberbeni opened #967 "Detecting build running from terminal doesn't work (in GitHub Actions)"
My action was running these commands:
[code]

The build failed because of `<unknown>:0: error: unknown argument: '-rpath'`: https://github.com/Cyberbeni/install-swift-tool/runs/2754226819?check_suite_focus=true#step:3:224

It's not supposed to add that linker flag when running from command line: https://github.com/krzysztofzablocki/Sourcery/blob/1.4.2/Package.swift#L225

Shouldn't we check if `Pro

[2021-06-05 23:34] nikitamounier commented on #803
Hi! Just wanted to know, has there been any progress on this? I'm creating a "publification" template to make a type public using Sourcery Pro (I'm modularising my app into Swift packages) & make a public init if necessary, but have ran into the same problem of not being able to detect property wrappers.

[2021-06-06 12:27] krzysztofzablocki commented on #967
you might be onto something @Cyberbeni, can you make that work with both normal Swift build and rake build?

[2021-06-06 12:29] krzysztofzablocki commented on #803
not sure if @daltonclaybrook had any time to do finishing touches? if not you could pick up the code he linked and just apply my improvement if you are free? otherwise I can take a look when I get some time this week

[2021-06-06 16:11] daltonclaybrook commented on #803
Hey folks, sorry for the neglect on this. Let me see if I can wrap this up today.

[2021-06-08 06:57] #967 closed

[2021-07-19 19:10] mhays118 opened #972 "Basic types (i.e. String, Bool, etc) that are properties on an annotated type seem to inherit those annotations"
Hello,

I currently have a use-case that is requiring me to rename some types in my code (Objective-C wrappers around Swift code), and ran into a bit of an issue.

I want to add a suffix to all types that share the annotations. This was going well, until I hit a bit of a snag.

It appears that all basic properties on an annotated type inherit those annotations. As an example, if I have two models,

[2021-07-19 19:23] krzysztofzablocki commented on #972
hey,
Sourcery doesn't know about primitive types like `String`, `Int` since they aren't in your codebase, you can only use logic that depends on `typeName` for those, your type for primitives is nil unless you added some extensions.

This template seems a bit odd but you are probably trying to execute logic against undefined nil value, do a check if type is set before checking for annotations

ps.

[2021-07-19 20:01] mhays118 commented on #972
Thanks @krzysztofzablocki!

Adding a nil check appears to have worked. Good to know that Sourcery doesn't know about primitive types! Thanks for your help and the quick response!

----

And for the `types.types` I actually saw it done like that in one of the included templates, so I followed suit. https://github.com/krzysztofzablocki/Sourcery/blob/d45b28715b2cb8a36285507cb14476e4c6072b26/Templates

[2021-07-19 20:01] #972 closed

[2021-07-20 18:48] melMass opened #973 "[QUESTION] Are there other examples of inline code templates?"
Hi,

Amazing tool!
Is there an example of inline init for instance?

I don't understand this part of the doc, is it inserting the comment? What is .TemplateName?

To see if inlining worked I tried the auto example and it added the comment at the end of every type declaration of my project, fortunately, I committed before testing it. But I can't wrap my head around how It works and how to avoid "co

[2021-07-20 19:33] krzysztofzablocki commented on #973
the way auto variant of inline works is exactly that, it will add code at the end of type declaration.

As you saw it adds blocks to mark the code that was generated:

[code]

that way in next sourcery run it knows which code not to parse and which to replace in subsequent runs, that's how it avoids corruption and chicken-egg situations

[2021-07-20 20:10] melMass commented on #973
Thanks!
So if I understand you, when I deleted the `inline:auto` from my template it should have deleted the section in the source code? Or maybe just the comment remains.

---

Sorry but I'm still not sure so I will take an example.

### Controls.swift
[code]

How would you convert this to have the init inline instead of an extension:

### ControlsInit.stencil

[code]

[2021-07-21 05:38] krzysztofzablocki commented on #973
probably like this
[code]

PS. if you start using Sourcery more I recommend getting [SourceryPro](https://merowing.info/sourcery-pro/) since it has powerful stencil editor and Xcode extension

[2021-07-21 05:43] #803 closed

[2021-07-21 08:06] cheeseonhead opened #974 "Attributes of closures inside extra closures are lost when unwrapping type name."
This is a legit piece of code:
[code]

## Losing attributes

When parsing `(@convention(c) () -> ())?`, I expected one level of type name unwrapping to become `(@convention(c) () -> ())`. However, it currently turns into `(() -> ())`, completely losing the attributes.

I understand omitting the attribute is intentional, as shown by this test case:
[code]

But here the attribute is "inside" the ext

[2021-07-21 09:15] cheeseonhead commented on #974
I tried submitting a PR but the following two example test cases fail with that fix
[code]

I'll try to tackle this later.

[2021-07-21 13:13] melMass commented on #973
Ohhhh ok! this: `{{ st.name }}.ControlsInit` is just for reference or is sourcery using the value somehow (that's what causes confusion to me).

Just got it!

![image](https://user-images.githubusercontent.com/7041726/126494015-6d84b744-08b7-4f95-96c0-a63eb0d5e581.png)

[2021-07-21 13:18] melMass commented on #973
Do you have a version compatible with macOS 10.15? I can't update for the meantime...

[2021-07-21 13:58] krzysztofzablocki commented on #973
it's just reference convention so that you know where to look for the template code later on, as you often have many templates in project.

as far as Pro it requires Big Sur because it's using SwiftUI

[2021-07-21 14:46] #973 closed

[2021-07-21 14:48] melMass commented on #973
IMO it should be stated clearly.
Also, I guess you know, but there is another templating software called Sourcery Pro: https://sourcery.ai/pro/

[2021-07-22 03:23] cheeseonhead commented on #974
The more I dug into the issue the more I understood the intention of `unwrappedTypeName`. So the original proposal doesn't make sense. Instead of opening another issue, I've opened a PR #977 to start addressing these problems.

[2021-07-22 03:23] #974 closed

[2021-07-30 02:38] Robuske opened #978 "[QUESTION] Is possible to get the module where the type is defined?"
I was not able to find documentation for this, is it possible to get the name of the module where the type was defined? That way I could do something like this:

Original type on _ModuleA_:

[code]

Generated code on _ModuleB_:

[code]

[2021-07-30 09:21] krzysztofzablocki commented on #978
yes if you use pbxproj / target integration, each type has module optional field.

Not if you just use source paths  since how could Sourcery know in that case

[2021-07-31 02:20] Robuske commented on #978
Hum... I think I see the problem... I use trough command line because the source code is on Package and de generated code will be used on the Package too. Do you know of any way I could do that?

[2021-07-31 08:08] krzysztofzablocki commented on #978
If there is no target information provided Sourcery can't really know what module it's scanning, there is `path` on `Type` but that wouldn't really help.

We'll be adding SPM support as one of the config options in near future

[2021-08-03 02:03] Robuske commented on #978
There is `path` on `Type`? It doesn't appear on [the reference](https://cdn.rawgit.com/krzysztofzablocki/Sourcery/master/docs/Classes/Type.html). It could be enough since SPM follows a pretty rigid structure, but I guess _Stencil_ doesn't allow for the level of string manipulation that I would required right?
Basically extracting only the content between _Source/_ and the next _/_.... And transfor

[2021-08-11 03:37] leon503 opened #980 "the rawgit link has been invalid"
the links in cdn.rawgit.com has been invalid.
the rawgit.com service has been closed

where can we get the new link?

[2021-08-27 08:35] fabianmuecke opened #983 "fore-parse not working (for protocols?) in 1.5.0"
Hi,

I'm using Sourcery with AutoProperties and in a later stage, I'm trying to generate structs for compositions (typealiases) of these. Sourcery 1.5.0 does not find my auto generated protocols, although I'm using force-parse for the generated files. Using Sourcery 1.4.2, this works as expected.

Maybe related or not: I'm also trying to use a template to generate an initializer for the generated

[2021-08-31 15:04] samadhiBot opened #984 "[QUESTION] Is it possible to register custom Stencil filters?"
In several cases I'm bumping into the limits of Stencil and StencilSwiftKit's built-in filters, and would like to register my own custom filters. Is this possible in Sourcery?

I know there's `.swifttemplate` if it can't be done, but I'd prefer to use Stencil if possible.

[2021-09-01 07:07] mirel-spr opened #985 "Squiggly blue line on comment instead of code"
Using Sourcery in VSCode on Windows 10.

Sourcery puts the squiggly blue line underneath the commented code instead of the actual line of code.

![image](https://user-images.githubusercontent.com/44804291/131626986-221098d5-02b3-48b9-be5e-eb2fc03e6ced.png)

![image](https://user-images.githubusercontent.com/44804291/131627066-9f0c6fcd-485f-4d5e-987f-7e7470d242ee.png)

VS Code info:
![image](https:

[2021-09-01 09:08] krzysztofzablocki commented on #985
wrong sourcery :) this is Swift codegen tool

[2021-09-01 09:08] #985 closed

[2021-09-01 10:46] mirel-spr commented on #985
Oops my apologies

[2021-09-08 14:35] krzysztofzablocki commented on #984
Sourcery CLI is compiled so how would that work? nothing better than defining processing macros in stencil

[2021-09-08 15:04] #984 closed

[2021-09-09 18:38] CraigSiemens opened #986 "Getting the names of generic types on a function."
Say I have a function like this.

[code]

I'd like to get an array of the generic types (just names or an object of some kind) that the function defines (`[G1, G2]`). `Method` has an `isGeneric` property, but there doest seem to be a way to get the generic types or know which properties are using the generic types.

My current work around has been something kind gross like this that splits the met

[2021-09-11 14:03] tdermendjiev opened #987 "Extensions are not parsed"
Trying to list `types.extensions`, I noticed that for some reason extensions are not being parsed.

Example:

[code]

[code]

[code]

[2021-09-11 18:40] saroar opened #988 "HI Sourcery can update .xccconfig file value ?"
<img width="984" alt="Screenshot 2021-09-11 at 21 38 49" src="https://user-images.githubusercontent.com/8770772/132958057-f672d07d-f75f-4fa5-bd1a-d6fa2db7e430.png">

I am talking about this value? 👆🏻

[2021-09-12 13:05] tdermendjiev commented on #987
I found out that this is caused by merging all types with the same name:

https://github.com/krzysztofzablocki/Sourcery/blob/master/SourceryRuntime/Sources/Composer.swift#L53

Why is it necessary?

[2021-09-13 13:46] krzysztofzablocki commented on #987
because you want to combine the AST same as language does, Sample should list open as it's function even though it's added in extension

[2021-09-13 14:32] tdermendjiev commented on #987
I agree but what if I still need to list all extensions? It is not true that there are 0 extensions.

[2021-09-13 14:37] krzysztofzablocki commented on #987
what's your example use case to need that?

[2021-09-13 15:14] tdermendjiev commented on #987
I am working on a tool that exposes Swift classes to Objective-C runtime. This would enable frameworks based on objc runtime (like NativeScript) to use Swift libraries. For that purpose I need to list all extension declarations.

[2021-09-14 09:12] krzysztofzablocki commented on #986
couldn't you use `method.parameters` and just grab their `typeName` ?

[2021-09-14 16:24] CraigSiemens commented on #986
That would work when all parameters are generic, but if there's a mix it isn't possible to tell which ones are generic and which ones aren't.

[code]

My end goal is to make a struct like the following from any function

[code]

[2021-09-15 10:11] krzysztofzablocki commented on #986
makes sense, I don't think anything available for that right now, so we'd need to add it

[2021-09-16 09:58] richardxyx opened #989 "Unable to build on Xcode 13 RC"
I was trying to build the latest release of Sourcery (1.5.0) via SPM on the Xcode 13 RC 1 (13A233) toolchain. Due to an API change in `strdup` one of Sourcery's dependencies [PathKit](https://github.com/kylef/PathKit) fails to build:

[code]

A PR fixing the issue has already been opened in the PathKit repo (https://github.com/kylef/PathKit/pull/78). Once PathKit offers a release containing the fi

[2021-09-17 07:45] richardxyx commented on #989
Issue we can follow in the PathKit repo: https://github.com/kylef/PathKit/issues/77

[2021-09-17 07:52] fabianmuecke opened #990 "Documentation HTML invalid"
The sourcery documentation has been broken for a couple of days now. It looks, like there is an additional `</div>` generated after `</body>`, which makes at least my browser (Chrome on macOS) show me the source code instead of rendering the HTML page.

e.g. https://cdn.jsdelivr.net/gh/krzysztofzablocki/Sourcery@master/docs/Classes/ProtocolComposition.html

![image](https://user-images.githubuserc

[2021-09-24 07:00] AF-cgi commented on #989
Please merge the open PRs to release a hotfix version. Currently it's not possible to compile Sourcery with Xcode 13. From that reason It's not possible to install it via Mint, if you have only Xcode 13 installed.

[2021-09-24 15:33] Armenm commented on #989
It's a blocker for us too!

[2021-09-24 15:36] mthole commented on #989
Blocker here as well.

[2021-09-25 09:44] krzysztofzablocki commented on #990
fixed

[2021-09-25 09:44] #990 closed

[2021-09-25 09:44] krzysztofzablocki commented on #980
fixed

[2021-09-25 09:44] #980 closed

[2021-09-25 09:46] krzysztofzablocki commented on #989
updated on master, but you'd be better off using binary distribution (or brew once I release it) since using just SPM causes the issue with the config wheres if you use binary it doesn't matter which version of Xcode your developers have it will still work consistently

[2021-09-25 09:47] #989 closed

[2021-09-25 12:18] krzysztofzablocki commented on #988
no since we don't scan those files

[2021-09-25 12:18] #988 closed

[2021-09-25 15:34] krzysztofzablocki commented on #983
you missed the info about renaming the argument to be consistent, from changelog:
correct passing force-parse argument to specific file parsers and renames it to forceParse to align with other naming

[2021-09-25 15:34] #983 closed

[2021-09-25 15:37] #911 closed

[2021-09-26 15:10] #883 closed

[2021-09-26 15:10] #966 closed

[2021-09-27 08:50] fabianmuecke commented on #983
I see. Thanks for pointing it out!

[2021-09-27 17:40] antonyalkmim opened #993 "The build using mint with xcode12 is failing."
We updated our project to `sourcery@1.6.0` to fix the builds on Xcode13, but after that, some of our teammates and our CI could not build sourcery when running on Xcode12.5.1. There is no error building on M1+Xcode13.

#### Error Logs running on Xcode12.5.1:

<details>

[code]
</details>

[2021-09-27 20:59] johntmcintosh opened #995 "Binary directory changed in 1.6.0 with CocoaPods installation"
The project readme mentions that with a CocoaPods installation, it's expected for the Sourcery binary to be available at:

[code]

After upgrading to the new 1.6.0 version, the binary is instead now located at

[code]

which is more difficult to use with build scripts since the version number is part of the binary path.

I glanced at the last few commits but it wasn't apparent to me that there was

[2021-09-28 05:56] krzysztofzablocki commented on #995
should be ok now, let me know if it isn't

[2021-09-28 05:56] #995 closed

[2021-09-28 05:58] krzysztofzablocki commented on #993
This is expected, and nothing we can do about it, Mint is not right way to integrate Sourcery since we moved to SwiftSyntax, use cocoapods, brew or binary distribution because SPM can't build lipo correctly

[2021-09-28 05:58] #993 closed

[2021-10-05 15:07] g-amichnia opened #996 "Subscript `returnTypeName` does not contain `where` clause."
As in title, example:

[code]

In `Subscript` documentation it says:

[code]

It seems to be regression, as in Sourcery 1.0.3 it was still working.

Is this a new bug or known limitation? It would be great to have at least something similar to the `Method` `.name` variable, that returns the whole name, with all generic constraints, etc.

// Using Sourcery 1.6.0, Swift 5.5

[2021-10-05 15:11] krzysztofzablocki commented on #996
We should probably add `genericRequirements` same as I did for protocols

[2021-10-06 13:13] g-amichnia commented on #996
Would love that! Also for methods. We would use that a lot in SwiftyMocky, now we have very ugly heuristics to parse full name by ourselves.

As for subscripts, also one more small thing, I noticed that params labels and names seem to work differently:

[code]

When trying to recreate the original, since full `name` is lacking, some ambiguity arises.

[2021-10-14 17:30] DanKaplanSES opened #998 "Readme "Most common uses are:" links go to raw html files"
On the readme, clicking on any of the "Most common uses are:" links brings you to a raw html file, instead of human readable documentation. I'm referring to on the github page, not on a local fs clone. It should take you to a rendered html page.

[2021-10-15 10:07] #998 closed, assigned to nobody

[2021-10-15 10:07] #697 closed

[2021-10-15 13:37] paveltrafimuk opened #999 "Performance issue"
Hi, during analyzing a performance issue in our stencil for generation injections (a huge project),
I found two issues:
1) seems like during executing it spends a lot of time to find needed value of a var.
E.g. if I have if-else with 30+ 'elif' blocks where I declare the vars with the same name, it starts spend more and more time to understand current value of this var in each block (but all other

[2021-10-16 17:38] #999 closed

[2021-10-18 07:51] RalfK92 opened #1000 "Bad CPU type in executable with 1.6.0"
After updating to 1.6.0 i am getting the following error.

`/Pods/Sourcery/bin/sourcery: Bad CPU type in executable`

I am integrating Sourcery via CocoaPods. When i force the version to 1.5.0 my build completes.

My MacBook is from 2018 an has the 6-Core i9

[2021-10-18 08:00] krzysztofzablocki commented on #1000
there was an update to binary you need to call
`pod cache clean 'Sourcery' --all`

[2021-10-18 08:27] #1000 closed, assigned to nobody

[2021-10-20 22:50] wilmarvh opened #1001 "Exclude some variables from processing"
I want to define an exclusion list of variable names that should not be processed when generating output.

Example syntax:
[code]

Output is completely empty, no variables at all are processed:
[code]

Any hints as to the correct syntax would be helpful. The Stencil docs seem incomplete on this sort of use case too.

Thanks

[2021-10-21 21:55] JetForMe opened #1003 "Docs should clarify that to access --args, you need to prefix with `argument`"
I spent a long time trying to find the answer to this, and eventually had to step through the code to see what it was doing. I had tried arguments, but that didn’t work, and in the getting started docs this wasn't clear. I finally found it after very carefully re-examining the Usage Reference. But the README and the executable help `--help` don't specify this. It would be easy and very helpful if

[2021-10-23 02:46] cheeseonhead opened #1004 "Closures with @convention(c) attributes lost it in func.name."
It seems like `@convention(c)` is not being retained, here's a simple example:
[code]

If you access the function's `name` property, you will see this:
[code]

I'm not sure if it's due to the closure being in a singular optional tuple?

[2021-10-25 07:56] redryerye opened #1006 "Changing Yams from `.exact("4.0.0")` to `from: "4.0.6"`"
I'm getting a SwiftPM conflict between dependencies that are using Yams.
Since [Yams prefers](https://github.com/jpsim/Yams#swift-package-manager) dependency requirement to be set as `from: "4.0.6"` and many libraries follow this, I would like to change the dependency requirement in Sourcery as well.

Is there a reason where the dependency requirement is set as `.exact()` in Sourcery?

[2021-10-26 12:13] #1006 closed, assigned to nobody

[2021-10-28 14:20] ajorg-aws opened #1008 "Clarify license of generated code"
Thank you for writing this software and providing it under the MIT license! Can you clarify if projects that include output from Sourcery should consider those portions of code as being under the same license (and its license condition)? Some projects have statements clarifying this. For example LLVM has an exception that clarifies that portions of the software that become part of your own softwar

[2021-11-01 14:00] ajorg-aws commented on #1008
Thanks for clarifying that. I've recommended to a team that's using Sourcery that they put a note in their notices mentioning the project.

[2021-11-01 14:00] #1008 closed

[2021-11-04 22:28] erichoracek opened #1009 "Threading crashes in Composer.resolveType"
We're experiencing some random threading crashes with Sourcery in the `Composer.resolveType` implementation.

Specifically, while in the concurrent logic in the `Array.parallelPerform` sections in the `Composer.uniqueTypesAndFunctions` method we're experiencing
nondeterministic `EXC_BAD_ACCESS`s. It would appear that there's something thread-unsafe going on in the parallel performs.

We have rever

[2021-11-14 08:52] S-V opened #1010 "EnumCase.rawValue returns "-" for negative enum rawValues"
Hi,
we've noticed a regression in Sourcery 1.6.0 when dealing with negative raw enum values.
It's a legacy project that was previously using Sourcery 1.2.1.

### What version of Swift are you using (swift --version)?

Apple Swift version 5.5.1 (swiftlang-1300.0.31.4 clang-1300.0.29.6)

### What did you do?

My template (simplified from https://github.com/eugeneego/legacy/blob/master/Sources/Templa

[2021-11-20 10:09] notcome opened #1012 "How to reference the type “SourceryRuntime.Protocol” using Swift templates?"
If I just write `Protocol`, the compiler will complain of ambiguity between `SourceryRuntime.Protocol` and `ObjectiveC.Protocol`:

[code]

If I use `SourceryRuntime.Protocol` directly, Swift will treat the `SourceryRuntime` in `SourceryRuntime.Protocol` as a type (but it is a module) and `.Protocol` as referencing the protocol metatype of SourceryRuntime.

One solution would be doing

[code]

But

[2021-11-22 06:38] krzysztofzablocki commented on #1012
it's just regular swift, so normal swift limitation but there is a typealias already that we use `SourceryProtocol`

[2021-11-22 06:38] #1012 closed

[2021-11-25 05:13] vincentisambart commented on #908
Should be fixed by #1011

[2021-11-25 05:14] #908 closed

[2021-11-26 02:04] ipodishima opened #1013 "autoMockableImports does not work with single value from command line"
I attached a project to demonstrate.

## Using a Config.yml file
This config contains

[code]

To run: `sh withConfig.sh`
Output: WithConfigGenerated/AutoMockable.generated.swift

It **contains**

`import CoreData` as expected

## Using only the command line
Why did I got into the issue? Because my templates are shared with an SPM and I need the path from `${BUILD_DIR%Build/*}`
So I had no option

[2021-11-28 01:44] vapor-pawelw opened #1014 "SwiftLint reports fileprivate use in global scope"
Hey! Just a minor thing, but it would be great if you could update the stencils included in the project to use `private` instead of `fileprivate` when defining extensions to suppress that warning :) Thanks in advance!

[2021-12-03 08:26] TitouanVanBelle opened #1015 "Type.based not working on type if typealias is used"
## Context

I have tried this using the soucery command line or the Sourcery Pro app (version 1.3.4) and I am getting the same result. Below is my current configuration

### Sourcery Version

[code]

### Sample Code

[code]

### Stencil

[code]
id // ExpressibleByStringLiteral
idUsingTypealias //
[code]
id // ExpressibleByStringLiteral
idUsingTypealias // ExpressibleByStringLiteral
[code]

[2021-12-09 14:48] #1010 closed

[2021-12-09 19:44] tapsandswipes opened #1016 "lib_InternalSwiftSyntaxParser.dylib missing x86_64 architecture"
The library bundled in release (1.6.1) from cocoapods,  comes with arm64 support only so It can't run on Intel Macs.

[2021-12-10 09:16] krzysztofzablocki commented on #1016
interesting, I see it but surprised how it built thin version of lib rather than use the fat one, I've updated the zip to contain the right one.

You need to run `pod cache clean 'Sourcery' --all`

[2021-12-10 09:16] #1016 closed

[2021-12-11 01:02] rubensamsonyan commented on #906
Hi there,

I'm using the sourcery 1.6.1 version to generate some mocks in the project I'm working on now. Almost everything works great and I'm using the output path to physically locate the files and using target and group to automatically link the generated files. I'm using cocoapods with some development pods and the target I'm trying to link is one of these pods. The linking works perfectly, b

[2021-12-11 02:57] rubensamsonyan commented on #906
I did a little bit of investigation and find out the issue. Opened a [PR](https://github.com/krzysztofzablocki/Sourcery/pull/1017)

[2021-12-23 07:25] mRs- commented on #1014
My hot take: This is not really an issue but you should not run swiftlint on auto generated code anyway.

[2021-12-23 09:41] vapor-pawelw commented on #1014
This seems like a workaround because fileprivate actually doesn't make sense in global scope anyway. Also autogenerated code already contains swiftlint exceptions like `// swiftlint:disable file_length` so it would make sense to change this as well. I know I can exclude these files with lint, but it would be inconsistent to have it sort of support swiftlint but report an actual lint warning.

[2021-12-23 10:50] krzysztofzablocki commented on #1014
@vapor-pawelw feel free to just update the stencils, I'm happy to accept the change I'm just not around to do it atm

[2021-12-28 15:35] alexito4 opened #1018 "How to know if a Method is async?"
I've looked at the docs and printed a method using `{{ method }}` but I don't see how to know if a method is async.
I can see a boolean for the throwing effect (`throws = true`) but not for the async one.

Is there a way to know if a method is async or is just not supported yet?

[2021-12-28 16:56] krzysztofzablocki commented on #1018
Not supported yet, we'd need to add it

[2022-01-12 10:10] grsouza commented on #1018
I'm also interested in that, I have a template for generating initializers but thats not working with async closures.

[code]

Is someone already adding support for this? If not I can try to add it, just point me to the right direction @krzysztofzablocki

[2022-01-13 13:57] ailtonvivaz commented on #1018
When I run the command `sourcery` in root path of project, i get this error.

[code]

[2022-01-13 16:59] ailtonvivaz commented on #1018
I submitted the PR, but the tests are failing in CircleCI.
I didn't know why.

[2022-01-20 12:25] artem-alexandrov commented on #1013
I have the same issue with autoMockableTestableImports. It also produces odd output when I use environment variables:

[code]

produces:

[code]

[2022-01-24 04:26] collisionspace opened #1020 "Migrating from Cocoapods to SPM"
I was working on migration from Cocoapods to SPM and when I went to migrate Sourcery over I ended up getting the below error.

`the target name Sourcery has different case on the filesystem and the Package.swift manifest file`

I've looked at other issues here for SPM and also tossed the error into Google but not seeing anything that could be helpful.

[2022-01-24 21:44] ailtonvivaz commented on #1018
@krzysztofzablocki I think this issue could be closed, doesn't it?
The implementation was merged and available for using in master branch.

[2022-01-25 07:24] pavel-trafimuk opened #1021 "Inline generating in the specific class"
Hello all.
I had a huge codebase, where Sourcery parsing is too slow, so I used one swift file as a `source` for generation (with enum with frameworks list under the hood). On the base of this enum I want to generate an assembly for each framework.
Some fully generated files works great with `per-file annotation`,
but I detected that I can't say _"put this piece of the code in this 'inline' block

[2022-01-25 12:37] #1018 closed

[2022-01-28 07:24] krzysztofzablocki commented on #1021
Your understanding is correct, Inline annotations only work in parsed Sources, otherwise we don't know anything about the files so we wouldn't know where to replace things.

what size of codebase do you have? and how slow it is?
Sourcery runs in projects like Bumble / Airbnb and they have milions of line of Swift, it's heavily cached too

[2022-01-28 07:25] krzysztofzablocki commented on #1020
migrate to use as framework? you shouldn't use `sourcery` target since that's the executable not framework

[2022-02-02 13:45] sroebert opened #1022 "`@MainActor` results in class not being found"
When using `@MainActor` for a class it does not get picked up and it will not be part of `type.classes` in the templates for generating code.

As soon as I remove `@MainActor` the class gets picked up as normal. I guess there is some update needed to support this new syntax since Swift 5.5?

[2022-02-02 13:51] sroebert commented on #1022
Actually it does work if I put the comments underneath `@MainActor`, so:

This works:
[code]

This does not:
[code]

[2022-02-03 13:48] alexito4 commented on #1018
FYI I used the master branch to update our templates and this works as expected 👌🏻
Thanks!

[2022-02-04 20:49] BrentMifsud opened #1023 "[Suggestion] Add support for the new SPM build plugins"
Apple just announced that the new SPM build commands is going to be available in the next version of xcode. Its currently in beta, but adding support for this feature would be an awesome addition to Sourcery

[code]

[2022-02-06 16:52] alexvbush opened #1024 "how to use argument.autoMockableTestableImports and argument.autoMockableImports ??"
hi, I'm trying to have my project main target be and other dependencies be automatically imported into my auto generated mocks file. I see that the default template has `autoMockableTestableImports` and `autoMockableImports` argument params in it but I can't figure out how to use it?

[2022-02-07 08:29] krzysztofzablocki commented on #1024
you pass them in your sourcery configuration file as arguments, [example configs are in docs](http://merowing.info/Sourcery/usage.html)

[2022-02-07 11:27] krzysztofzablocki commented on #1023
@BrentMifsud until they support R-Path rewrites you can't build Sourcery properly with SPM only

[2022-02-07 19:31] alexvbush commented on #1024
thank you @krzysztofzablocki

I created the following config but it doesn't seem to work:

[code]

[2022-02-07 23:40] sadlerjw-bridgit opened #1025 "Annotations apply to lines that they shouldn't"
From the documentation:

However it appears that these annotations apply both to the line on which they appear as well as line after.

### Environment
[code]

Produced the following example using Sourcery Pro 1.3.4. (But also reproduced the same problem in similar ways on Sourcery 1.0.3 and Sourcery 1.6.1.)

### Example source
[code]

### Expected result
- only the "paramB" `MethodParameter` shoul

[2022-02-08 11:20] fabianmuecke commented on #990
This issue seems to be back: https://cdn.jsdelivr.net/gh/krzysztofzablocki/Sourcery@master/docs/index.html
![image](https://user-images.githubusercontent.com/317346/152977073-1b37d865-f79c-440d-ad9a-05462c8d0a89.png)

[2022-02-08 11:26] krzysztofzablocki commented on #990
the documentation is now hosted [here](http://merowing.info/Sourcery/)

[2022-02-08 12:22] fabianmuecke commented on #990
Ah, thanks. Google sent me to this page https://github.com/krzysztofzablocki/Sourcery/blob/master/guides/Writing%20templates.md which contains an outdated link to the Types documentation. Will update my bookmark.

[2022-02-10 01:25] ipodishima commented on #1013
I understood something today, when you run {{ argument.autoMockableImports.count }} you get the count of the characters of the single autoMockableImports argument. Can't find a workaround though :/

[2022-02-13 19:20] alexvbush opened #1026 "Project Setup For Contributing"
Hi, I'm trying to setup the project to walk through its codebase in order to better understand how it works and to potentially contribute with changes. Specifically I'm trying to figure out why passing import arguments in my config file doesn't work https://github.com/krzysztofzablocki/Sourcery/issues/1024

I am experiencing issues setting up Sourcery project for development.

I looked at `.circle

[2022-02-15 17:05] krzysztofzablocki commented on #1026
don't use `swift package generate-xcodeproj` like I said above, just open Package.swift, Apple have not updated project generation for a while and it's broken

[2022-02-15 17:20] alexvbush commented on #1026
ah, I missed it, sorry about that! it works now, thank you! now I can play around with it.

[2022-02-15 17:20] #1026 closed

[2022-02-15 17:40] krzysztofzablocki commented on #1026
no problem, and thanks for wanting to contribute 🙇

[2022-02-15 19:18] hborawski opened #1027 "[QUESTION] Is there a way to get the source file a type is defined in?"
Been looking through the docs and issues here and either can't find anything about it or my search skills are lacking.

Looking into using `completeDeclarationRange` to copy the actual code for annotated types, the byte range doesnt really have any use if i dont know what file its from. But haven't been able to figure out a way to get the file a given type is declared in.

Also open to other ways

[2022-02-16 09:31] Nikoloutsos opened #1028 "[Stencil] How to get count of filtered array."
Looking for getting the filtered count. Any ideas? I've been searching for an hour and couldn't find how this syntax is.
I know this is not a strictly sourcery issue but a little help would be appreciated!

**Usecase:**
I want to know the number of method's parameters that are not closures

BTW:
Filtering for for loops works great
[code]

**Example:**
[code]

Given the above protocol function:
`ta

[2022-02-16 15:27] marinofelipe opened #1029 "Potentially wrong `method.returnType.isGeneric`"
## What version of Swift are you using (swift --version)?
Apple Swift version 5.5.2 (swiftlang-1300.0.47.5 clang-1300.0.29.30)

## What did you do?
I tweaked my `Automockable.stencil` template trying to also generate mocks for basic generic cases, like a protocol with functions that have only generic parameters and might have a generic return type.

My change was based on:
- checks for `method.isG

[2022-02-16 15:53] Nikoloutsos commented on #1028
@krzysztofzablocki
Hmm, thanks for the sourceryPro looks good 🚀 .
My goal is to write a stencil if statement that will evaluate to true only if there is at least 1 non-closure parameter.

I hope i could write something like this (but still haven't found how to do it):
[code]
I guess I have to create my own filter? Since I have tried many combinations from your jazzy docs. Is there any documentatio

[2022-02-16 17:17] krzysztofzablocki commented on #1028
Can't you just do `{% if method.parameters|!isClosure|count %}` since that will execute if it's not zero ? given how bool are evaluated

[2022-02-16 20:28] Nikoloutsos commented on #1028
[code]
Will produce error when running Sourcery. It must be a syntactic error.
So what are you suggesting? Still haven't found an answer to my question 😞

[2022-02-17 07:30] krzysztofzablocki commented on #1028
[code]

works just fine, are you trying to use filter that doesn't exist ? I don't see `isClosure` filter in the codebase

[2022-02-17 09:02] Nikoloutsos commented on #1028
@krzysztofzablocki
Yes I'm trying to find a filter that maybe doesn't exist. I want to know if a method has at least 1 argument that is not a non-escaping closure. Is there a way to make my own filter?

When doing a for loop I use isClosure and works fine but for what I want I don't find something...

[2022-02-17 09:09] krzysztofzablocki commented on #1028
@Nikoloutsos you can submit PR, I'm ok with accepting additional filters, you can see how they are [done here](https://github.com/krzysztofzablocki/Sourcery/blob/c8a9d15efb2353e48daa9862e44585dfa16ec589/SourceryStencil/Sources/StencilTemplate.swift) and it should just follow this setup

[2022-02-17 10:06] #1028 closed

[2022-02-17 10:10] krzysztofzablocki commented on #1027
you can get `path` just use `type.path`, it's [not documented] (https://github.com/krzysztofzablocki/Sourcery/blob/master/SourceryRuntime/Sources/AST/Type.swift#L338) because I didn't think anyone will need it but it's reliable since it's needed for Sourcery processing

[2022-02-17 13:43] Nikoloutsos commented on #978
If stencil supported the regex then it would be so cool!
Btw do have have a workaround now for SPM packages? For modules integrated with pbxproj/target works fine.
❓

[2022-02-17 13:45] Nikoloutsos commented on #1027
Keep in mind `type.path` will give you the full path. So you would have to do a text processing to get what you want :/

[2022-02-17 14:10] Nikoloutsos commented on #1024
@alexvbush
FYI at any given moment write the following in the stencil file to get what the arguments have (good for debugging)
[code]
So if you do that you will realise your arguments are there. But why they are not playing correctly?
That's because if you take a closer look to the implementation of autoMock.stencil **a for loop is used**.

And for loop works only for arrays. So nothing happens fo

[2022-02-17 16:26] krzysztofzablocki commented on #1027
or just send up pr with computed property 😉

[2022-02-17 18:25] hborawski commented on #1027
`type.path` will work for me, I already have a bunch of different post-processing for this project, so i don't mind additional processing

Thank you!

I'll look into putting up a PR to make it easier when i get some extra time. Just to keep it in this thread, the computed property would be to provide the path relative to the execution directory? Or relative to the config file?

[2022-02-17 21:10] alexvbush commented on #1024
Thank you @Nikoloutsos ! it fixed it!

[2022-02-17 22:57] Nikoloutsos commented on #1013
Exactly, you have to write `--args autoMockableImports=["CoreData"]` instead

[2022-02-18 07:20] #1013 closed

[2022-02-18 07:26] krzysztofzablocki commented on #1027
yeah I just meant to get specifics parts of the path we already have e.g. just file name.

[2022-02-18 07:30] krzysztofzablocki commented on #978
we'd either need to add scanning of `Package.swift` or we could add support for injecting module name for a given source path

[2022-02-18 12:07] ef1rspb opened #1031 "Redundant `async` keyword in method signature"
definition:
[code]

produces
[code]
@ailtonvivaz I guess it relates to https://github.com/krzysztofzablocki/Sourcery/pull/1019

[2022-02-19 12:13] fvolchyok opened #1032 "Whether and how to submit general-purpose templates?"
I have a simple and cool template that I think might be useful to other developers. Should I submit it somewhere and if so then how? Is there some public repo with general-purpose templates? Submitting PR that treats my template as README.md worthy and modifies it feels kind of rude and invasive. What should I do?

[2022-02-19 14:37] #1032 closed

[2022-02-20 08:56] #1031 closed

[2022-02-21 09:59] krzysztofzablocki commented on #1032
@fvolchyok there isn't a generic repo  but if you share it here I can decide whether to add it to bundled one, what does the template do?

[2022-02-22 12:18] Nikoloutsos opened #1033 "What's the name of syntax used by sourcery?"
I've been creating some templates for my team for a while and I always looking Sourcery objects like this because I can see what options I have.
![image](https://user-images.githubusercontent.com/14034942/155130627-d806a6ba-b415-4340-ab0f-13362a56ff1d.png)

I want to beatify this (just like we do with json beautifiers) but don't know what's the name of this syntax.
Does anyone know?

Thank you 💙

[2022-02-22 13:48] krzysztofzablocki commented on #1033
This is just rendering objc description I think, so you could try generating custom description for our Runtime types (you can use Sourcery for it, same way we do encoding etc)

[2022-02-22 14:26] #1033 closed

[2022-02-26 08:07] #1021 closed

[2022-02-26 08:09] #1003 closed

[2022-02-26 08:09] #1001 closed, assigned to nobody

[2022-02-26 08:10] #987 closed

[2022-02-26 08:17] #906 closed

[2022-02-26 08:24] #1027 closed

[2022-03-01 11:33] mwierzbinski opened #1036 "Missing x86_64 architecture on brew installed Sourcery. M1"
**Environment**
Sourcery Version 1.7.0 installed through `brew`
Mac M1 running Xcode 13.2.1 on Rosetta.

**Notes**
The command works if I run it in terminal, however if I add it to pre-build scripts it ends with error shown below. Not really sure why Im assuming that because one of the libraries Im using is not yet Compatible with `arm64` Xcode builds the project in `x86_64`.

**The Error:**
Getti

[2022-03-03 07:27] krzysztofzablocki commented on #1036
I imagine running through Rosetta has something to do with it, our `brew` formula builds thin slice from what I remember, if you use normal release of cocoapods you should have universal binary, mind checking if that works in your case?

[2022-03-08 09:16] mwierzbinski commented on #1036
Currently we're using SPM rather then cocoa in the project, but I can temporary install and check.

[2022-03-15 19:42] BrentMifsud opened #1038 "Mint support?"
I get a long list of these errors:

[code]

[2022-03-15 21:40] BrentMifsud commented on #1038
yep using mint

[2022-03-16 01:38] kvacquier commented on #1038
We've got the same issue using the cocoapods version (updated)

[2022-03-16 07:31] hujunfeng commented on #909
Any chance that the new [Extensible Build Tools](https://github.com/apple/swift-evolution/blob/main/proposals/0303-swiftpm-extensible-build-tools.md) and [Command Plugins](https://github.com/apple/swift-evolution/blob/main/proposals/0332-swiftpm-command-plugins.md) features in Swift 5.6 could fix the Mint support?

[2022-03-17 08:05] alvarozizou commented on #1038
I know that it's not the best solution but I downgraded the version to 1.0.2 using Mint and it works with Xcode 13.3

[2022-03-17 11:47] krzysztofzablocki commented on #1038
Mint is not supported because we need stable rPath

@kvacquier you got linker issue with dylib with cocoapods? Do you have logs? That shouldn't happen

[2022-03-18 12:18] artem-alexandrov commented on #1013
I'm still having

[code]

Instead of what I need even if I use

[code]

[2022-03-18 16:18] AF-cgi commented on #1038
I use Sourcery via Mint and it works perfect. But the current issue is the usage of the wrong SwiftSyntax version. For Xcode 13.3 Apple has released a new version. See here: https://github.com/apple/swift-syntax/releases/tag/0.50600.1. Also look to this PR #1037.

[2022-03-18 21:56] liamnichols commented on #1038
The Sourcery binary produced using `swift build` or `mint run` won’t work if it’s built with the wrong version of Xcode, or if the version of Xcode used to build it is relocated/deleted from disk.

If I understand correctly, updating Sourcery to support parsing of Swift 5.6 syntax in files (which would require using the newer SwiftSyntax library) is slightly different to this issue of which versio

[2022-03-18 22:03] liamnichols commented on #1038
That being said, since the patch in #1037 avoids spm/mint from linking to the lib_internalSwiftSyntaxParser.dlyb located in the toolchain of the version of Xcode that you use to build the binary, you could actually build `sourcery` using Xcode 13.3 on that branch:

[code]

[2022-03-21 09:06] AF-cgi commented on #1038
@liamnichols That's right, but `0.50500.0` is the wrong version for using Xcode 13.3. The `0.50500.0` is the right version to built Sourcery with Xcode 13.0 ..< 13.3. For Xcode 13.3 you should use `0.50600.1`. Look here: https://github.com/apple/swift-syntax. SwiftLint did this fix in his release 0.47.0-rc.4.

[2022-03-21 09:26] liamnichols commented on #1038
Yeah, I'm not 100% sure here but my understanding of that table is that the "Xcode Release" column is just describing with version of Xcode ships with the default toolchain for that version of Swift and since we can still build SwiftSyntax `0.50500.0` with Xcode 13.3/Swift 5.6 (as long as we still link to the `0.50500.0` version of lib_InternalSwiftSyntaxParser), it shouldn't be an issue.

It woul

[2022-03-21 09:51] liamnichols commented on #1038
Sorry, to clarify actually because I was kind of wrong..

The version of **Xcode Release** in the table is important when you rely on it to link to the correct version of lib_InternalSwiftSyntaxParser.dylib which is located at **Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib/swift/macosx/lib_InternalSwiftSyntaxParser.dylib**. If you used Xcode 13.3 to `swift build`/`mint

[2022-03-21 11:03] krzysztofzablocki commented on #1038
the problem with Mint is simply the fact it skips my manual re-write of rPath and as such doesn't use the lib version I bundled with the binary in normal Cocoapods / Brew releases, static linking will fix all of it

[2022-03-23 09:13] Nikoloutsos opened #1039 "Attach information for every property (compile time required)"
I'm trying to build an automatic way to create fixtures that are used in unit tests to easily create models.
[code]

The only way to pass information about a single property was to add a comment like `// sourcery fixture = 18`. But this is not compile time checked as it is a comment.

So I was wondering.. can Sourcery somehow read actual code? Or is there any workaround to pass information for a p

[2022-03-23 14:07] liamnichols opened #1040 "SwiftTemplate fails to generate sometimes when swift/xcode print warnings to stdout"
# Background

While working on Xcode 13.3/StaticInternalSwiftSyntaxParser support, I noticed that the .swifttemplate generation started to become a lot more flakey than before and the errors weren't always obvious.. For example:

[code]

This is confusing, because it's reported "Build complete! (1.22s)", but for some reason it failed and it wasn't really clear until I realised that the warning abo

[2022-03-23 15:34] krzysztofzablocki commented on #1040
I think option 1 makes most sense to me 👍

@liamnichols would you like to get extra access / join as one of the core team for Sourcery? you contribution are very appreciated

[2022-03-24 16:56] LuckyDmitry opened #1043 "Attributes don't work properly"
Hi, I'm trying to use attributes to generate FeatureFlags for app. I use them as description.
I retrive it like that.

`
<%_ for variable in type.variables { -%>
                <%_ if let newVal = variable.attributes["FeatureFlag"] { -%>
                    <%= "\(newVal[0])" %>
                <%_}%>
            <%_}%>
`
It works fine, I got my struct, but to extract remoteFeatureName for exampl

[2022-03-28 08:19] #889 closed

[2022-03-28 09:40] krzysztofzablocki commented on #1040
@liamnichols can we close this now that #1037 is merged?

[2022-03-28 09:40] krzysztofzablocki commented on #1038
fixed on main by #1037

[2022-03-28 09:40] #1038 closed

[2022-03-28 09:46] liamnichols commented on #1040
Yep, thanks for merging!

[2022-03-28 09:46] #1040 closed

[2022-03-28 16:16] AF-cgi opened #1045 "Sourcery 1.8.0 isn't buildable on non-supported Xcode 13.3 Macs"
Thanks a lot for the new release and the fast fix for integrating the new SwiftSyntax release. But now it's required to use Xcode 13.3 to build Sourcery. Xcode 13.3 isn't available for the same Macs like Xcode 13.2.1 did this. Do you see a chance to add this support again?

[2022-03-28 16:30] krzysztofzablocki commented on #1045
we won't be adding backward compatibility, we are always moving forward since we are also integrating newer SwiftSyntax versions and people can stay on older version until they are ready to switch

[2022-03-28 18:30] AF-cgi commented on #1045
I see your point. But Xcode 13.3 requires a Mac running macOS Monterey 12 or later. That means that new Sourcery features are only available for Macs with macOS Monterey 12 or later. I know, that SwiftLint solve this point.

[2022-03-31 14:54] Lutzifer commented on #909
We did not have this issue until Xcode 13.3.0, it then appeared and was fixed with v1.8.0 😆

[2022-03-31 15:43] jpsim commented on #909
You should use https://github.com/keith/StaticInternalSwiftSyntaxParser as SwiftLint now does.

[2022-03-31 15:45] krzysztofzablocki commented on #909
@jpsim we did from 1.8.0

[2022-04-01 06:50] bolo992 opened #1047 "Sourcery 1.8.0 - No config file provided or it does not exist issue"
After installing Sourcery using mint, i am getting this error now:

"No config file provided or it does not exist. Using command line arguments.
error: No sources provided.
No sources provided.%"

Does anyone knows how to solve this issue?

[2022-04-01 07:00] bolo992 commented on #1047
If i run this command:
**sourcery --sources . --templates tools/sourcery/templates/ --output tools/sourcery/**

It's generating the code but i am getting again:
"No config file provided or it does not exist. Using command line arguments."

[2022-04-01 09:05] krzysztofzablocki commented on #1047
the default (and recommended) mode is having the `.sourcery.yml` file

[2022-04-01 09:10] bolo992 commented on #1047
Ok, i didn't notice this warning before so that's why i asked. I'll close this issue.

[2022-04-01 09:10] #1047 closed

[2022-04-01 09:22] liamnichols commented on #1045
The prebuilt binary of 1.8.0 (downloaded from the releases page, or via CocoaPods/Homebrew) should work on any supported macOS version (10.12+ iirc), this is only about compiling the tool (i.e using it with Mint).

Given that pre 1.8.0 always discouraged using Mint, I don't think this would be a widespread issue.

As a temporary workaround, can you use a precompiled version instead of Mint on your

[2022-04-01 11:51] AF-cgi commented on #1045
Our CI infrastructure doesn't support macOS 12 right now. From that point the local and CI builds are diverge. There is also some Apple hardware which doesn't supports macOS 12.
We use also Mint as CLI dependency manager, because we use many other CLIs. From that perspective it would be great to find a solution to solve it.
As a temporary workaround it's possible to use a precompiled version. But

[2022-04-01 12:22] revolter opened #1048 "Incorrect variable type name when using type casting"
1. What version of Swift are you using (`swift --version`)?

[code]

2. What did you do?

Having this code:

`MyError.swift`:
[code]

and this template:

`MyTemplate.stencil`
[code]

I executed this command:

[code]

3. What did you expect to see?

`MyError.generated.swift`:
[code]

4. What did you see instead?

`MyError.generated.swift`:
[code]

[2022-04-01 13:26] liamnichols commented on #1045
So I thought a bit harder about this, maybe #1049 is what we want. It's still Sourcery using SwiftSyntax 5.6 with the statically linked lib_internalSwiftSyntaxParser, but it allows for building using Xcode 13.x.

This approach would probably be good up until we want to use Swift 5.6 specific language features in the codebase, which is probably far enough away to give teams time to move to Xcode 13

[2022-04-01 14:33] AF-cgi commented on #1045
Looks fine for me and works perfect. Thanks @liamnichols

[2022-04-01 15:29] krzysztofzablocki commented on #1048
type inference isn't done on AST by SwiftSyntax, I'm building my own inference and that's already complex, just add explicit type to variable definition

[2022-04-02 18:35] erichoracek commented on #1009
We're still seeing this issue in 1.8.0, even after @igor-savelev-at-bumble's fix.

[2022-04-05 11:26] krzysztofzablocki commented on #1045
fixed on main

[2022-04-05 11:26] #1045 closed

[2022-04-08 23:55] Nikoloutsos opened #1051 "Get attribute argument (property wrapper)"
I have an attribute and I want to extract what is red-underlined in the picture. Is there a way to do this?
I want to extract `Human(name: "zoe", age: 23)`
Given:
[code]
<img width="1097" alt="image" src="https://user-images.githubusercontent.com/14034942/162547417-36d6d880-28ed-4f05-bf74-dc4a7f502380.png">

For some reason arguments gives me this which is not what I want ( it has removed all " ch

[2022-04-12 07:43] pjcau opened #1052 "Question - ViewBuilder Injectable for SwiftUI"
Hi Guys,

so I think to reduce the code to implement the Inject on View...so I image to create a ViewBuilder

[code]

and obvious to call it

[code]

but unfortunately doesn't work. I see that's pass correctly in `InjectionObserver`.
So anybody can help me or did someone did like that this

Thank you

Jonny Cau

[2022-04-13 05:44] krzysztofzablocki commented on #1052
Wrong repo but this won't work for Inject in that form

[2022-04-13 05:44] #1052 closed

[2022-04-15 11:55] iudovenko opened #1054 "Version 1.8.0 is not available in brew"
Hi!
It looks like your [pull request](https://github.com/Homebrew/homebrew-core/pull/97994) to brew was rejected due to failed tests.
Please fix it, we really need this update to work on Xcode 13.3

Thank you

[2022-04-18 04:12] aomathwift opened #1055 "Version 1.8.1 is not available for download"
Release URL for v1.8.1 is not found and version 1.8.1 is not available for download.
https://github.com/krzysztofzablocki/Sourcery/releases/download/1.8.1/sourcery-1.8.1.zip

Version 1.8.1 exists on Cocoapods, but the tag does not exist on Github Release.
https://github.com/krzysztofzablocki/Sourcery/releases
https://github.com/CocoaPods/Specs/blob/master/Specs/9/2/2/Sourcery/1.8.1/Sourcery.podspe

[2022-04-18 06:26] krzysztofzablocki commented on #1055
I reverted the release, 1.8.1 will come out later

[2022-04-18 06:26] #1055 closed

[2022-04-22 00:14] dan-stytch opened #1056 "Multiline doc comments not working properly"
As I was building documentation w/ DocC and generating code (with docs) using Sourcery, I noticed that not all documentation comments are parsed correctly (and this may also affect parsed annotations). It seems the multiline doc comment style is not properly parsed. I've tried to outline some examples below. Thanks for having a look!
[code]
## Relates to
https://github.com/krzysztofzablocki/Source

[2022-04-22 07:04] krzysztofzablocki commented on #1054
@liamnichols any idea what we need to do for the xcodebuild failure? switching from swift build seems to be what's causing it, something related to sandbox, maybe adding explicit pathes for checkouts / derived data

[2022-04-22 07:14] liamnichols commented on #1054
Hmm interesting, I tested locally with Xcode 13.3 and all was working, but I'll take a look at the error in the PR and see what's going on

[2022-04-22 09:34] liamnichols commented on #1054
Yep, I guess this was fine before because `swift build` was invoked with `--disable-sandbox`, which isn't available when using the `xcodebuild` command 😕 It's the same issue that is described here: https://github.com/Homebrew/discussions/discussions/59

It looks like there might be some workarounds (a fake sandbox wrapper) but nothing official has been merged back into `brew`. Maybe there are some

[2022-04-22 09:36] krzysztofzablocki commented on #1054
@liamnichols which approach you feel more comfortable with? we already have `fat` build as option, so you could just switch to using swift build in the `thin` version and I guess that would work again and solves issue at hand?

[2022-04-22 09:39] liamnichols commented on #1054
Yeah that is the easiest option (or even just using `swift build --disable-sandbox -c release` directly in the formulae), but tbh it would be nicer if we could avoid the inconsistency of using `xcodebuild` for fat and `swift build` for thin.

I'll see how it looks and put up a PR later today 👍

[2022-04-24 15:07] krzysztofzablocki commented on #1054
1.8.1 is in brew

[2022-04-24 15:07] #1054 closed

[2022-04-25 19:05] djbe opened #1058 "Bad CPU type in executable with 1.8.1"
Refs #1000.

Installed through CocoaPods, tried pods cache clean as mentioned in previous issue. I'm on `i386`, output of `lipo` on the Sourcery binary:
[code]

Edit: reverting to 1.8.0 fixes the issue.

[2022-04-26 08:50] krzysztofzablocki commented on #1058
Something is wrong with rake using non-fat build for gh release, I'll look into it, in the meantime I've updated the distro, so just running the cache clean should fix it:

`pod cache clean 'Sourcery' --all`

[2022-04-26 08:52] #1058 closed

[2022-04-26 15:47] Cyberbeni opened #1059 "Consider taking over the maintainership of the syntax highlighting plugin"
It seems to be completely neglected: https://github.com/stencilproject/vscode-stencil/pull/2 https://github.com/stencilproject/Stencil/issues/304

[My current version](https://github.com/Cyberbeni/vscode-stencil) has the fix from that PR, the fix from [this issue comment](https://github.com/stencilproject/vscode-stencil/issues/4#issuecomment-777800425) and also added a script to package.json to be

[2022-04-27 05:07] krzysztofzablocki commented on #1059
I can't possibly maintain anything else, also SourceryPro has way more powerful Stencil editor with types and inline errors / documentation

[2022-04-27 08:11] #1059 closed

[2022-05-05 08:02] Nikoloutsos opened #1061 "Brew doesn't install latest 1.8.1"
I can't get brew install sourcery 1.8.1 on this machine.
It only installs 1.7.0

![CleanShot 2022-05-05 at 11 00 48](https://user-images.githubusercontent.com/14034942/166883456-648d68a4-a895-4890-9441-82ffc3754492.png)

Xcode version 13.3
MACOS:  12.2
brew: 3.4.10

Can this be related to MacOS version? Does anyone know any fix on that?

[2022-05-05 09:54] krzysztofzablocki commented on #1061
that's more of a question to brew not Sourcery since the formula is released https://formulae.brew.sh/formula/sourcery#default

need brew up or brew doctor maybe?

[2022-05-05 10:16] sochalewski opened #1062 "CocoaPods can't install Sourcery 1.8.1"
It can successfully install 1.8.0 and earlier, but not 1.8.1.

[code]

macOS 12.3.1 @ M1
CocoaPods 1.11.3

[2022-05-06 07:38] Nikoloutsos commented on #1061
anyway I finally manually downloaded the binary!

[2022-05-06 07:38] #1061 closed

[2022-05-06 08:18] krzysztofzablocki commented on #1062
honestly, no idea what's going on, I looked at the zip and the format is exactly the same

[2022-05-06 09:19] sochalewski commented on #1062
I noticed that exactly the same happens when unzipping `Sourcery-1.8.1.zip` from [here](https://github.com/krzysztofzablocki/Sourcery/releases/tag/1.8.1), while unzipping `Sourcery-1.8.0.zip` (from [here](https://github.com/krzysztofzablocki/Sourcery/releases/tag/1.8.0)) works smoothly.

[code]

I assume that CocoaPods is unable to answer the above question.

On the other hand I noticed that `Sour

[2022-05-06 11:42] krzysztofzablocki commented on #1062
@sochalewski can you try again? I repackaged the zip and re-uploaded it

[2022-05-11 06:39] #1009 closed

[2022-05-11 08:06] Nikoloutsos opened #1064 "String annotation not parsed correctly by sourcery"
According to documentation
[code]
     //sourcery: booleanAnnotation
     //sourcery: stringAnnotation = "value"
     //sourcery: numericAnnotation = 0.5
[code]
The " characters are removed!
![CleanShot 2022-05-11 at 11 01 11](https://user-images.githubusercontent.com/14034942/167799384-ee18f03f-ab32-48b0-af59-4f3c66d2749e.png)

So I can't have a string with [] (array) as it parses differently? I

[2022-05-11 08:18] krzysztofzablocki commented on #1064
what does this return?

[code]

[2022-05-11 11:06] timbaev opened #1065 "Error when building with Xcode 13.3"
I am trying to install Sourcery via mint, but I get an error:
[code]

If clone a project (tag 1.8.1) and try to build it, the error will be identical:
[code]

I tried changing the Swift version to 5.6 in the `.swift-version` file and now the build was successful. This does not seem to be an ideal solution, as it would require a minimum version of Xcode 13.3

Do you have any better ideas?
The probl

[2022-05-13 13:14] lexon opened #1066 "/Applications/Xcode.app hardcoded?"
Is the path to Xcode, to be concrete: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib/swift/macosx/lib_InternalSwiftSyntaxParser.dylib

hardcoded? I am on a m1 mac and I am not using Xcode.app, since its a CI agent, which compiles different Apps with different requirements to Xcode version, e.g. we have Xcode_13.1.app etc.
We are setting current Xcode using D

[2022-05-13 13:28] krzysztofzablocki commented on #1066
We moved over to static lib in last releases so it shouldn't care what Xcode you have

[2022-05-16 06:14] cheeseonhead opened #1067 "Infinite recursion crash when a protocol and class conform to each other."
I think this is a language feature to allow protocols to limit the conformers to a particular class, but it's also valid to have that class conform to that protocol:
[code]

This snippet of code is totally valid in Swift, but I can see why it might cause an infinite recursion during Sourcery parsing.

It doesn't happen if there are no members involved on either types:
[code]

[2022-05-31 09:46] pchmelar commented on #1023
Is this possible now (after changes in https://github.com/krzysztofzablocki/Sourcery/pull/1037) ? 🤔

[2022-05-31 09:50] krzysztofzablocki commented on #1023
yeah it should be possible now, anyone wants to contribute that integration? 😉
I'm pretty low on having personal time between work and conferences

[2022-06-15 22:18] liamnichols commented on #1065
This suggests that your command line tools are set to a version of Xcode that is using Swift version 5.3, which would be something like Xcode 12.3.. Is that the case?

Can you run `swift --version` and `xcodebuild -version` to confirm which version is set?

You can change it using `sudo xcode-select -s ...` if you need to.

[2022-06-16 10:32] timbaev commented on #1065
`swift --version` output:
[code]
`xcodebuild -version` output:
[code]
I only have Xcode 13.3 installed

[2022-06-16 12:23] liamnichols commented on #1065
Interesting. Please also try running Mint with `--verbose` and share the output

[code]

[2022-06-16 12:27] liamnichols commented on #1065
Sorry, I misread the last part:

What version had you specified in `.swift-version` prior to changing it to 5.6? Version 1.8.0 of Sourcery required Swift 5.6/Xcode 13.3 but version 1.8.1 added support back so that you can use Swift 5.5/Xcode 13.0 or later.

If your `.swift-version` was something earlier than 5.5 then then unfortunately you are out of luck and you'd need to use Sourcery 1.7.x, whic

[2022-06-17 06:37] liamnichols commented on #1065
Ahhhh I see! Sorry about that, I'm not too familiar with the file as I've never used it.

Do you maybe use something like swiftenv then? I'm just a little confused because I don't think that I have ever used anything that actually checks the .swift-version file before.

We can submit a PR to bump this file up to 5.5, which it probably should have been as part of #1049, I hope that can solve your o

[2022-06-17 07:21] liamnichols commented on #1065
I just corrected the file so that the version is now set to **5.5**. Please let me know if this solves your problem?

[2022-06-17 10:12] timbaev commented on #1065
I tried it and first encountered an error:
[code]
Then I installed Swift version 5.5 with [swiftenv](https://github.com/kylef/swiftenv):
[code]
Now it's fail on building:
[code]

[2022-06-17 10:29] liamnichols commented on #1065
Right I see, thanks again! So `swiftenv` appears to install a separate swift toolchain rather than using the one included as part of Xcode. Looking at the logs, the different toolchain is causing the PathKit dependency to fail complication.

Did the same thing happen using Swift 5.6 installed via `swiftenv`? Or were you just using the version of swift included as part of Xcode?

[2022-06-17 12:52] timbaev commented on #1065
Yes, the same error when using Swift 5.6

[2022-06-17 13:04] liamnichols commented on #1065
Ok thanks for confirming. In that case, it looks like these issues are due to using a different Swift toolchain than the one included in Xcode.

I'm not familiar with `swiftenv` and how the versions of Swift installed using that tool differ to the Xcode toolchain but it looks like this would need some more investigation, as well as potential fixes to upstream dependencies (PathKit judging by the l

[2022-06-25 16:45] cal-os commented on #1023
+1 would love to see this as a feature with apple's new plugin build tool system

[2022-06-28 13:02] hassila opened #1071 "Documentation for typealiases doesn't work"
Trying to use the nice documentation on type aliases doesn't work:

Stencil:
[code]

Generated code is:
[code]

All the typealises should also have single documentation lines attached, but seems to return empty.

The original source is appropriately documented in both cases:
[code]

and

[code]

respectively and they use the same macro defined above, so it seems the typealias simply doesn't have '

[2022-07-07 09:21] doozMen commented on #1023
I would love to work on this and might be very interesting in my project at work. It would be my first time contributing. Any tips before I start?

[2022-07-07 12:33] krzysztofzablocki commented on #1023
@doozMen 🙇 shouldn't require anything special given Sourcery now builds purely with SPM. The 2 WWDC sessions about plugins cover everything I think, but if you run into issues you can report here and I can get Apple folks to look at it if we can't figure it out ourselves

[2022-07-08 08:28] otusweb opened #1072 "request: add support for class method mocks"
### Background:
WE use OpenAPI generator to generate the network code to interact with our REST API. The code that is generated use class methods.
Unfortunately, sourcery stubs that is generated for this won't work as it creates instance methods and variable on the mock. So we get compile errors
The workaround I have adopted is to:
- ask sourcery to generate the stub
- copy and paste it in a diffe

[2022-07-08 08:31] krzysztofzablocki commented on #1072
hey @otusweb, want to update the template? this is actually quite easy because Sourcery [knows this info](http://merowing.info/Sourcery/Classes/Method.html#/c:@M@SourceryRuntime@objc(cs)SwiftMethod(py)isClass) so you should be able to just add simple if check

[2022-07-08 12:05] otusweb commented on #1072
I'll take a look, I figured it would be "complicated" :-)

[2022-07-08 16:23] markst opened #1073 "Generate output on a per directory basis"
Rather than generate one giant file, I wish to generate files based on my original directory structure.

This is my stencil currently:

[code]

However I'd like to ignore the last component of the path entirely, rather than just replacing the `swift` extension.

Is this possible?

Otherwise is it possible to loop through directories & perform generate rather than loop through all discovered types?

[2022-07-08 16:30] markst commented on #1073
Ah perhaps I've been able to achieve it with the following:
[code]

[2022-07-08 16:31] markst commented on #1073
Although ideally like to generate based on files in each directory, rather than one generated file per discovery.

[2022-07-11 11:26] pkurzok commented on #1023
I was trying out building a Command Plugin using Sourcery as a dependency. But I get the following error when the Packages are resolved:

`error: multiple targets named 'lib_InternalSwiftSyntaxParser' in: 'sourcery', 'swiftlint'`

My Package File looks like this:

[code]

Any ideas what could be the issue and how to fix it?

[2022-07-11 12:05] krzysztofzablocki commented on #1023
I see SwiftLint also uses static swift syntax release workaround, but not sure how the 2 are related, we don't need SwiftLint in this project, I wonder if it's any related dependency, are you brining in SwiftLint in that project @pkurzok ?

[2022-07-11 12:39] pkurzok commented on #1023
In the Plugin I'm building Sourcery is literaly the only dependency I'm using. In the project where I'm using the plugin, there is also no direct SwiftLint dependency also dont see it in the package list. I'm wondering where it comes from.

Although I have it installed on my machine. But that shouldn't make any difference, does it?

[2022-07-11 13:08] pkurzok commented on #1023
Found it: stencilswiftkit depends on komondor and they depend on swiftlint.

Nice tool for that: https://swift-dependency-graph.opticalaberration.com

[2022-07-11 17:21] jimmya opened #1074 "Assertion failed in big project using .swifttemplate"
Hi!

I'm using sourcery in quite a big project 300k+ lines. And when using .stencil templates all was working fine. But to finetune my templates I switched to .swifttemplate since it feels a lot more powerfull.

However in a smaller module within my project it worked fine. But after finetuning and running it on the main project it fails on an assertion.

![Screenshot 2022-07-11 at 19 16 34](https:

[2022-07-11 19:04] jimmya commented on #1074
Apparently this was caused by a `fatalError` in one of my helper files (empty template still causing errors seemed to be caused by caching). Is there any way to make this error more usable?

[2022-07-12 07:19] krzysztofzablocki commented on #1074
the assertion you are hitting is around the type being recognized as extension, mind nuking the cache folder? seems like stalled cache issue

[2022-07-12 07:44] jimmya commented on #1074
I've tried it again with first cleaning the cache dir (I assumed `~/Library/Caches/Sourcery`), but I'm hitting the same assertion. This is the full log in verbose mode:
[code]
There are a lot of warnings about types at the top but that is also outputted when using the .stencil template.
[code]

[2022-07-12 07:48] jimmya commented on #1074
If I build sourcery locally and remove the assertion and compile the template using `/usr/bin/env "xcrun" "--sdk" "macosx" "swift" "build" "-c" "release" "-Xswiftc" "-O" "-Xswiftc" "-suppress-warnings" "--disable-sandbox"` it all works fine (the `Log.astWarning("Found \\"extension \\(type.name)\\(inheritanceClause)\\" of type for which there is no original type declaration information.")` also isn

[2022-07-12 08:27] krzysztofzablocki commented on #1074
would have to be issue in that composer file, probably `typeFromComposedName` or `resolveGlobalName`, but either way you shouldn't be getting actual assertion in release mode, feels like we are missing `-c -release` in `SwiftTemplate.swift`.

Do you have time to make a PR adding the release to start with, and maybe looking at the resolution in your case?

[2022-07-12 08:36] jimmya commented on #1074
@krzysztofzablocki please see: https://github.com/krzysztofzablocki/Sourcery/pull/1075

[2022-07-12 09:09] krzysztofzablocki commented on #1074
@jimmya SwiftTemplates copy the files from Sourcery target, then they compile using compiler, the flags are different which is why it didn't happen with Stencil

[2022-07-12 09:11] jimmya commented on #1074
Ahh I see, yeah makes sense. I didn't think about the assertion not going off on the compiled version of sourcery. I'll try to do some digging around today to see what could be causing the assertion to go off.

[2022-07-12 14:38] jimmya commented on #1074
I did some digging around but I really lack enough knowledge to fully understand what's happening and what's supposed to happen. But I could really easily reproduce it with a very simple setup (see attachment). I hope this can help someone who is more experienced figure out what's going on.

In the mean time @krzysztofzablocki could you perhaps publish a new version containing #1075?

[SourcerySam

[2022-07-13 08:54] krzysztofzablocki commented on #1073
hmm, how can you have the same type name in a single file? do you have a sample?

[2022-07-13 11:02] krzysztofzablocki commented on #1073
but those are different type names right? not sure what the original issue was

[2022-07-14 10:54] doozMen commented on #1023
I will follow up on this later cool you guys picked this up already. Will have more time end of July.

[2022-07-19 14:37] markst commented on #1073
Resolved with combo of changes in PR & the following script to achieve what we're after:

[code]

[2022-07-19 14:37] #1073 closed

[2022-07-20 15:15] doozMen commented on #1023
I have found a workable solution for using swiftgen which uses sourcery too I guess. It relies on providing a build artifact. This is very nice explained in https://github.com/SwiftGen/SwiftGen/pull/926. Making sourcery available in a simular way would be a good way to do it.

The problem happens when you do not expose it as a build artefact that if you apply it to a target for iOS, which a lot wi

[2022-07-21 12:12] Nikoloutsos opened #1077 "Support for actors in swift"
Looks like actors are currently not supported by Sourcery.
Is it planned to add support for actors or is it open for PRs?

[code]

[2022-07-21 13:52] krzysztofzablocki commented on #1077
Always appreciate PR's :) afaik no one started on it yet

[2022-07-21 13:54] Cyberbeni opened #1078 "Documentation links result in 404"
Both in `README.md` and `Writing templates.md` the links pointing to `merowing.info/Sourcery/...` result in 404

[2022-07-21 14:38] krzysztofzablocki commented on #1078
Fixed the old one in writing, dont' see any in readme?

[2022-07-21 14:49] Cyberbeni commented on #1078
The image of the badge in readme is still broken.

[2022-07-21 14:59] krzysztofzablocki commented on #1078
updated, thanks!

[2022-07-21 14:59] #1078 closed

[2022-07-22 18:58] SpacyRicochet opened #1080 "Large numbers in arguments are printed in scientific notation"
When running Sourcery with a large number as one of its arguments, using the argument in a stencil will instead give the number's scientific notation.

As simple example, you can execute the following commands in your terminal;

[code]

The expected result here is the output `"123456789"`, but instead you get `"1.234568e+08"`.

Tested on Sourcery 1.8.1.

[2022-07-25 14:22] samcortez opened #1081 "Let's discuss: not all variables are parsed"
So... this is more of a discussion rather than anything else. First things first, awesome tool, thanks for all the effort that was put in it. =)

In my project we needed some sort of tool to generate code based on the source code of the pods that we have installed, the fact that the tool is compatible with `.swiftinterface` files was magical as all of the pods are not open source. There was just o

[2022-07-26 12:48] jimmya commented on #1074
@krzysztofzablocki sorry to bug you again about this. But could you perhaps create a new version containing the latest changes from master? I'm kind of stuck without those changes at the moment.

[2022-07-28 09:56] krzysztofzablocki commented on #1074
@jimmya sure!

[2022-07-28 10:28] krzysztofzablocki commented on #1074
@jimmya 1.8.2 is released

[2022-07-28 10:28] #1074 closed

[2022-08-03 12:38] Nikoloutsos opened #1085 "Twitter script for making class final not working as expected"
Hi Ι saw in your Twitter you added this, and our team liked it and we tried to integrate it as well: https://twitter.com/merowing_/status/1522558910648967174
[code]

I observed that something is wrong with `type.attributes["final"]`. As I see sourcery swiftTemplate `attributes` dictionary property is empty. I guess this is a bug on swifttemplates. So I fixed by using this workaround:

[code]

So i

[2022-08-03 14:39] krzysztofzablocki commented on #1085
thanks! I wrote this originally on older AST version and the modifiers model changed since then. Do you use project integration with Sourcery? otherwise it doesn't know anything about different modules, even with that though multi-module global scripts like this are not trivial

[2022-08-04 15:09] Nikoloutsos commented on #1085
@krzysztofzablocki  Out of curiosity at this time, I'm adding a SPM path to sourcery input and for some reason sourcery is parsing its dependencies as well. My module is `Analytics` and have a dependency on Firebase.

Is there any way to disable this dependency parsing for SPM? I want the sourcery to parse only my spm. Firebase has many classes and it takes a lot of time 😄

Thank you!

[2022-08-04 16:49] Nikoloutsos commented on #1085
Indeed, it was the .build/checkouts folder that contained the dependencies in case someone face the same problem 😲

[2022-08-04 22:10] #1085 closed

[2022-08-05 09:59] darindra23 opened #1086 "[ASK] How do I go about sorting generated code?"
Hi wanted to ask,

I have 2 file that implemented custom protocol that i build so it could generate my template but somehow when it's generated for the first file it's sorted but on the next file it's not.

Example:
FileA.swift
struct A: Codeable {
   let A: String
   let B: String
}

Struct B: Codeable {
  let A: String
  let B: String
}

FIleB.swift
struct C: Codeable {
   let A: String
   let B

[2022-08-05 10:44] Nikoloutsos commented on #1086
May I ask if you are using swifttemplate or stencil ?

[2022-08-06 08:41] krzysztofzablocki commented on #1086
yeah ^, this is responsibility of the template, you can apply sort to your array whatever it is

[2022-08-08 03:09] darindra23 commented on #1086
Currently my template is using stencil

here is my template :

[code]

[2022-08-08 04:34] darindra23 commented on #1086
Basically what i need is import statement to be always on top since i moved the generated file into a new file based on its original filename due to unsorted array the import statement could be in the middle of the file

[2022-08-08 06:49] krzysztofzablocki commented on #1086
you can just sort an array to have whatever order you want, as for the imports, just do a 2 pass array where you first generate imports and then specific type code

[2022-08-08 07:29] krzysztofzablocki commented on #1081
is that the only thing that you'd need to do for this to work? I could live with it but it's hacky as hell 😂

[2022-08-08 10:20] samcortez commented on #1081
hahahaha indeed! I'm not proud of it at all!

I'm studying the possibility of shifting interely to actual source code instead of relying on the `.swiftinterface`. If that doesn't work I guess I'll just fork it a version with this flag.

[2022-08-08 17:38] PaulLafytskyi commented on #1015
I have a similar issue with  `returnType.implements.ProtocolName`

[2022-08-09 04:45] darindra23 commented on #1086
thank you for the info sir 🙏

[2022-08-09 04:45] #1086 closed

[2022-08-09 08:21] krzysztofzablocki commented on #1015
Typealiases / module cross resolution is not trivial, this code lives in [Composer](https://github.com/krzysztofzablocki/Sourcery/blob/master/SourceryRuntime/Sources/Composer.swift#L684) if you wanted to take a stab at figuring out what's missing.

I'd start with adding a unit test for the example above and seeing where we cut off the resolution incorrectly

[2022-08-16 03:58] ssly1997 opened #1087 "The generic type is not recognized correctly"
[code]
variable haha conforms protocol JSONDictionaryConvertible
but  variable haha's type.implements do not include JSONDictionaryConvertible

[2022-08-17 10:33] adarovsky opened #1088 "Wrong name for force-parse parameter in documentation"
[Config file example](https://github.com/krzysztofzablocki/Sourcery#configuration-file) reads
[code]
while it should read
[code]

[2022-08-17 12:42] krzysztofzablocki commented on #1088
thanks!

[2022-08-17 12:42] #1088 closed

[2022-08-19 07:24] stefanrenne commented on #1087
Had the same issue, as a workaround I added this to my stencil, definitely not perfect, but it works.
Hope it helps you :)

[code]

[2022-08-23 18:24] blindmonkey opened #1089 "Swift Templates appear to cause intermittent build errors"
We have Sourcery integrated as a build step in our projects, running it before compiling sources. Up until now, we've been using Stencil templates and things have been working pretty well for the most part. However, we added a Swift Template to do some validation since the features in the version of Stencil used by the latest Sourcery release made it impossible to accomplish this in Stencil templa

[2022-09-01 15:18] Pwyll28 commented on #620
Does anyone has succeed doing this ?
We're using TCA and i want to generate a full module with separated files.
Module+View
Module+Reducer
Module+Generated.
But i only want Module+Generated to be overwritten each time we execute sourcery. The other files need to be created only it they don't exists.
Maybe there's a `// sourcery:no-override:file:{{ scope.localName }}/{{ scope.localName }}+View.swif

[2022-09-01 21:00] Nikoloutsos commented on #620
@Pwyll28
I have not implemented something like this but here is my idea.
Assuming that your code is under git version control.

You can run sourcery and after it you can discard modified files that has `.generated` substring in their names. Hence only new files will be left.

[2022-09-05 06:50] krzysztofzablocki commented on #620
Sounds to me like you want to run Sourcery in bootstrap/generator mode for those files, I use that as a separate workflow where you can kick off a template from some Source data, rather than CLI integration.

Also, this is the modus operandi for Sourcery Pro Xcode Extension albeit that can't generate new files due to Xcode plugin system limitations.

If you wanted to contribute something like this

[2022-09-05 08:05] pol-piella opened #1090 "Adding support for Swift Package Plugins"
Hi everyone! 👋

After speaking to @krzysztofzablocki, we decided that it would be good to get my [sourcery-plugins]() repo into the Sourcery's main repository.

I will be looking at this piece of work shortly, which will involve the following work:

- [ ] Modify the release code to include a `Sourcery.artifactbundle` artefact for the plugins to use. _Could potentially use the executable target ins

[2022-09-05 08:19] Nikoloutsos commented on #1090
Kudos @pol-piella. Nice article

[2022-09-05 08:53] krzysztofzablocki commented on #1090
BTW @pol-piella you might be able to use cache path argument for the sandbox issue

[2022-09-05 18:53] artyom-stv opened #1091 "Invalid type lookup"
Hi!

I ran into a problem in my `.swifttemplate` template. It seems that the `type` of a `Variable` is resolved incorrectly if there is a nested and global type with the same name.

In the following example, the `type` of a `Variable` `a` is resolved to the global type `A` instead of the expected nested type `X.A`.

[code]

[Example (zip)](https://github.com/krzysztofzablocki/Sourcery/files/949161

[2022-09-06 07:16] Nikoloutsos commented on #1091
IIRC when I had this problem I used the full type. in your example is `X.A` as the type of variable.

[code]

[2022-09-06 10:27] markst commented on #1023
Not sure if this is helpful: https://github.com/KarimAlweheshy/spm-build-tools

[2022-09-06 15:12] #1023 closed

[2022-09-09 14:22] pol-piella commented on #1090
Awesome! 🎉 I am nearly done with the first PR, will add support for that before I open it 🚀

[2022-09-13 12:28] dalewking opened #1094 "Link to info on configuration file in readme is broken"
The link to get more info on the configuration file in the readme is a 404

[2022-09-14 09:58] krzysztofzablocki commented on #1094
sorry about that, I might need to change redirects in ghost, in the meantime this should work https://krzysztofzablocki.github.io/Sourcery/usage.html

[2022-09-14 14:53] blindmonkey commented on #1089
Thank you, this worked for us! We ended up keeping it as part of our builds phases when building locally, and added it as an explicit operation on CI.

One thing that wasn't great about doing it as part of the Schema was that Xcode doesn't seem to notify you when it's pre-building, so there was a 20 second delay before we saw it doing anything, which was an odd experience.

[2022-09-14 14:53] #1089 closed

[2022-09-16 21:07] 1is10 commented on #664
Hi guys,
I just want to realise json output to std, i read contribution guide and found this topic 🙌

I have a POC here https://github.com/1is10/Sourcery/pull/1

is it what are you talking about or should I create another topic to discuss that one?

[2022-09-19 16:20] tahirmt opened #1095 "Is it possible to read documentation comment"
Hey I'm wondering if it is possible to read the documentation comments for a property and add it to the resulting file

For example I have a file like this

[code]

Then I use Sourcery to generate a file like this

[code]

I would like to transfer the code documentation to this generated extension. Is that possible?

[2022-09-20 08:52] krzysztofzablocki commented on #664
@1is10 what's your use-case for json output nowadays? we moved Sourcery to work as framework so one can build tools on top of Sourcery without using intermediate formats like json

[2022-09-20 08:54] krzysztofzablocki commented on #1095
It's opt-in, If you pass in `parseDocumentation` option it will scan documentation comments and that's available as `documentation` field in AST

[2022-09-20 08:58] Nikoloutsos commented on #1095
@krzysztofzablocki
Is this opt-in `parseDocumentation ` enabled for sourceryPRO?

[2022-09-20 12:28] krzysztofzablocki commented on #1095
@Nikoloutsos I don't think so, but I can turn it on in next update, just waiting for SwiftSyntax to merge a PR that removes dylib dependency since it's been causing signing issues since we moved to static lib in here

[2022-09-20 12:56] tahirmt commented on #1095
@krzysztofzablocki hmm it's not working

This is my swifttemplate

[code]

The `documentation` field seems to be an empty array

[2022-09-21 22:05] 1is10 commented on #664
My first thoughts about json stdout was
- dry run, it's useful for many cases for example to count autogenerated code lines, or by CI to check errors during code generation, without write on disk
- post processing output without modifying templates in any script language
- building tools in other languages, without linking sourcery framework directly

[2022-09-22 08:32] krzysztofzablocki commented on #664
@1is10 ok, I'd be fine with adding feature like that it we can isolate the functionality not to add too much complexity to the tool

[2022-09-22 08:34] krzysztofzablocki commented on #1095
@tahirmt so because the parseDocumentation is changing AST model, you probably have cached data, if you run with --disableCache it generates documentation at least for `///` variant, something seems off with the multiline one, but you could look at AnnotationParser since that's what's scanning for comments

[code]

[2022-09-22 12:34] tahirmt commented on #1095
@krzysztofzablocki Okay now I'm very confused. I'm running this on my M1 Mac and even when I use `--disableCache` it only ever shows an empty array. I'm using Sourcery 1.8.2

[2022-09-22 18:49] tahirmt commented on #1095
Oh because I was using a config file it was ignoring the `--parseDocumentation` argument. I needed to pass `parseDocumentation: true` in the config

[2022-09-22 21:41] tahirmt commented on #1095
I'll close this now since I figured out my issues. Thank you so much for the help!

[2022-09-22 21:41] #1095 closed

[2022-09-26 11:40] 1is10 commented on #664
i implemented it with `--dry` flag, and made a `pull request` here + ready to fix any issues related about isolation and overall logic, tested locally + added some tests for `--dry` option.

pull request link:
https://github.com/krzysztofzablocki/Sourcery/pull/1097

[2022-09-29 13:31] rus64 commented on #978
Is it possible to get the target within the module for the type?

[2022-09-29 15:02] artem-alexandrov commented on #1043
Wanted to use the same approach, but struggling in making `|replace: ",.*","",regex` to work. It seems like it doesn't use the mode modifier. It would be great if I could get arguments array, but I can't as well...

[2022-09-29 15:44] krzysztofzablocki commented on #978
@rus64 confused what you mean, module is a target isn't it?

[2022-09-29 15:46] krzysztofzablocki commented on #1043
@artem-alexandrov might be old Stencil / StencilSwiftKit version, are you on newest Sourcery?

[2022-09-29 15:47] #664 closed

[2022-09-29 16:03] artem-alexandrov commented on #1043
Yep, it's 1.8.2.

Maybe it's something in the syntax, I'm trying to use it like this:

[code]

just using `attribute` doesn't work, it only has the attribute name, also `variable.attributes[attribute]|replace...` doesn't work with invalidInputType error too.

[2022-10-04 10:34] ThePredators commented on #126
Any news about the generation per source file or that option has been forgotten ?

[2022-10-04 11:56] krzysztofzablocki commented on #126
@muescha I'd be game if you wanted to generalize this in some kind of form like that so that maintenance is not hard

[2022-10-06 21:56] djbe opened #1098 "Unable to install 1.9 via CocoaPods"
Just updated my pods in an iOS project, including Sourcery from 1.8.1 to 1.9. Installation now fails with this error:

My project is indeed an iOS only project (`platform :ios, '14.0'`), but that shouldn't be an issue, as it previously worked with 1.8.1 (and older). The problem is [this commit](https://github.com/krzysztofzablocki/Sourcery/commit/46395777f7cf85b1ec5164b2108f246884b14d57) which inc

[2022-10-07 04:06] fangmobile commented on #1098
same here.
`s.platform = :osx, '10.15'` just breaks any iOS only project unless they stay with 1.8.x.

[2022-10-07 06:05] #1098 closed

[2022-10-08 23:42] pchmelar opened #1102 "SPM usage of 1.9.0"
- I'm trying to add the 1.9.0 version via SPM and keep getting this error.
- Is it needed to use the exact commit of [swift-syntax](https://github.com/apple/swift-syntax) or can we switch to some of its releases?
[code]

[2022-10-09 07:57] krzysztofzablocki commented on #1102
@pchmelar it needed an exact commit since they didn't officially release the new parser yet, you should be able to just point at Sourcery's exact commit of 1.9.0 same way I did with SwiftSyntax

[2022-10-09 10:56] pchmelar commented on #1102
Thanks for the tip! I was using `from: "1.8.3"` as stated in the [documentation](https://github.com/krzysztofzablocki/Sourcery#installation). Now it's working as expected 🙂

So for anyone else experiencing this issue, you have to add this to your `Package.swift` for now:
[code]

BTW wouldn't it be better to provide a configuration for the plugin in `sourcery.yml` instead of `.sourcery.yml`? Swift

[2022-10-17 07:50] KaBlaize opened #1103 "Mercury.framework/Modules' does not exist or is not readable"
As I found out macOS (12.6) has a broken symbolic link on the sys (but not only on my Macs, my college also got into the same error):
[code]
 ls -l /Library/Apple/System/Library/PrivateFrameworks/Mercury.framework/Versions
total 0
drwxr-xr-x  5 root  wheel  160 Aug 15 21:35 A
lrwxr-xr-x  1 root  wheel    1 Sep 21 08:36 Current -> A

ls -l /Library/Apple/System/Library/PrivateFrameworks/Mercury.fra

[2022-10-17 07:59] KaBlaize commented on #1103
Solution found but the issue is weird.
if I replace the following in my config:
[code]

to
[code]

All works as expected.

[2022-10-17 16:37] mnowackifm opened #1104 "Support for variables in replace, filter, contains"
Hi,
I'm writing my custom template for code generation. I have been trying to find a way to use variables in Stencil functions like replace, filter, contains. However, these functions support hardcoded values only. Is there any possibility to, e.g. check if a given variable contains some text passed as another variable one or replace any occurrence of some hardcoded text with text stored in that v

[2022-10-19 12:25] mnowackifm commented on #1104
cc: @krzysztofzablocki

[2022-10-19 12:55] krzysztofzablocki commented on #1104
it's more of a Stencil question than Sourcery itself, I don't think it supports that kind of evaluation

[2022-10-19 19:43] ivangoremykin opened #1105 "Question: Is it possible to get a list of instantiated generic types?"
Hello,

Is it possible to get a list of instantiated generic types that are being defined in a `.swift` file?

E.g.,
- there is `struct PriorityQueue<Element>` which is being used in multiple places in the codebase
  - `PriorityQueue<Patient>`, `PriorityQueue<Job>`, etc.
- is it possible to get list of types that `PriorityQueue` has been used with, i.e. `[Patient, Job]`?

Apologies if this questio

[2022-10-20 10:34] krzysztofzablocki commented on #1105
Sourcery only scans AST, so you could potentially find all type defined variables with those types but not code execution points, e.g. if you create local variable in a function we wouldn't know

[2022-10-20 10:49] mnowackifm commented on #1104
Ok, I'll try workaround this constraint some way. Thanks for your response!

[2022-10-20 10:49] #1104 closed

[2022-10-20 13:52] reejosamuel opened #1106 "Error with SourceryRuntime."
Getting this error. I have tried reinstalling it a few times. Looking for any hints to resolve this issue:

This is on an M1 machine if that matters.
Running  the following swift version:
[code]

[code]

[2022-10-20 15:59] reejosamuel commented on #1106
I'm not sure what was the cause. I did a full reset and was able to fix issue.

[2022-10-20 15:59] #1106 closed

[2022-10-23 12:07] rubensamsonyan opened #1108 "Lookup dependancy targets for type information but not generate"
We are currently modularising a big app into smaller modules. We are using Sourcery to generate mocks and factories for our protocols and models and use them in unit testing.

For now, we are generating all the mocks into the unit-tests target, and to make it work, we need to specify all the other modules in the `sources` to make sourcery able to lookup for the parents and composite types.

The is

[2022-10-25 08:59] deya-eldeen opened #1109 "infinite loops when generating sourcery (taking 80GB of swap memory) + how to solve it"
having the following line makes `Sourcery` goes insane!,

and in activity monitor starts to take 20GB ... 40GB ... 60GB ... 80GB ... of swap file memory ...

`typealias SomeName = SomeServices.SomeFragmentName.SomeName`

using `SomeServices.SomeFragmentName.SomeName` without a typealias resolved the issue, this got me stuck for few days, it didn't show up in logs, even with `--verbose`, and had to

[2022-10-25 10:32] krzysztofzablocki commented on #1109
Something in the composer gets stuck, that's the most complex part of the AST resolution and something it's completely hand written, have you tried / would be willing to try to write a test case that reproduces it? @deya-eldeen

[2022-10-25 11:29] deya-eldeen commented on #1109
it's not difficult to reproduce, just make a typealias from another library, just make sure that the source name is the target name, see the example line above like in `SomeName`.

[2022-10-31 11:38] pkasson opened #1110 "Does sourcery scan code like SwiftKitten ?"
How does sourcery scan the code - using AST ?

Can it extract all artifacts, such as method names and bodies, vars, etc ?

Thanks !

[2022-10-31 16:43] joaobzao opened #1111 "Does Sourcery CLI supports multiple sources?"
Probably stupid question but I'm wondering if there's a way to pass multiple `--sources` in the Sourcery CLI?

I know it's possible to define multiple source paths with `.sourcery.yml` config file. Also I could always pass a single parent path that would include both my child paths but well didn't want to go that way 😀

Great tool btw 👏

[2022-10-31 17:23] Nikoloutsos commented on #1111
Sourcery uses Commander for making this CLI.
If you look at the implementation it is defined as `VariadicOption`. That means you can try repeating the `--sources`.

e.g `sourcery --sources "foo1" --sources "foo2"`.

Hope this answers your question 😄

Fun fact same thing applies to these parameters as well:
[code]

[2022-10-31 21:13] joaobzao commented on #1111
Indeed you are right.

That was my expectation but I had a typo in my previous attempt which led me to open this issue.

It works, nothing to see here.
Thanks @Nikoloutsos. Closing the issue

[2022-10-31 21:13] #1111 closed

[2022-11-03 10:13] #1077 closed

[2022-11-03 10:15] krzysztofzablocki commented on #1110
it uses SwiftSyntax so yes

[2022-11-03 10:15] #1110 closed

[2022-11-03 12:47] pkasson commented on #1110
Does using SwiftSyntax provide the artifacts from a file, such as function bodies, variables, etc .?

[2022-11-03 14:51] krzysztofzablocki commented on #1110
it can but I don't want Sourcery to scan bodies of functions, it's meant to focus on AST

[2022-11-17 07:17] kacper1703 opened #1116 "Sourcery generating mocks from a protocol that does not exist anymore"
Hello, I have done the following:

- Created a protocol `Foo` and marked it with `AutoMockable` annotation (using default template)
- Generated the mocks
- Renamed `Foo` to `Bar`
- Generated the mocks

The result is that in the generated file I have now both `FooMock: Foo` and `BarMock: Bar`, which prevents my project from building. Temporarily I have added an empty `Foo` protocol to tackle this b

[2022-11-21 10:44] otusweb opened #1117 "callCount not incremented if method is async and the ThrowableError is set (automockable)"
when calling a mocked method for an async method, the callCount and arguments are not set if the throwable error is set

[code]

expected:
- saveTerminalSettingsCallsCount is incremented, receivedSettings is set, then the error is thrown

[2022-11-29 14:50] krzysztofzablocki commented on #1116
can you provide sample project that reproduce the issue? it has to be something with cache

[2022-11-29 15:11] piofusco opened #1118 "Unable to honor environment variables that end in "==""
I have a secret that ends in "==" and am having trouble using sourcery to convert that secret into my stencil.

Steps to reproduce:

1. Install Sourcery with brew `brew install sourcery`
2. Create a simple stencil, `Secrets.stencil` like the following

[code]

3. Run the following command in a terminal
[code]

Result: Sourcery will produce `Secrets.generated.stencil` that looks like the following

[2022-11-29 15:56] pace-likes-sports commented on #1080
I believe if you wrap the value in double quotes and single quotes, it should work fine

`FOOBAR="'123456789'"`