[2017-05-05 08:15] #288 closed

[2017-05-05 09:00] Antondomashnev commented on #284
This can be closed, I guess.

[2017-05-05 09:00] #284 closed

[2017-05-05 15:08] bolismauro opened #289 "Out of bounds crash"
Sourcery crashes for an out of bounds exception during the generation.

In particular, it crashes in `FileParser.swift`, line 708.
If I add `guard location < prefix.length else { return [:] }` before the return, it seems to work, but I'm not sure it is a proper fix to be honest.

Moreover, once you manage to make it work (e.g., by adding that workaround) there are no more crashes, even with withou

[2017-05-05 15:10] krzysztofzablocki commented on #289
duplication of #276

[2017-05-05 15:10] #289 closed

[2017-05-05 15:37] #285 closed

[2017-05-06 12:29] #278 closed

[2017-05-06 14:48] ilyapuchka commented on #283
Should be resolved with #282

[2017-05-06 14:48] #283 closed

[2017-05-06 14:51] ilyapuchka commented on #280
I noticed that current release process requires @krzysztofzablocki github api token, meaning that only one person can release actually. I guess this document will be more useful if other members can release too, but that's a different question =)

[2017-05-06 16:20] Antondomashnev commented on #280
Yep, maybe the bot user can release it? So that nobody will share the real token.

[2017-05-06 16:38] ilyapuchka commented on #280
I we need to share release rights I think it's better to modify rake file to get path to token file through environment or smth like that.

[2017-05-06 19:49] Antondomashnev commented on #280
With the token env you mean that each of the member will generate own token and will use for release? Sounds good 👍

[2017-05-06 21:19] ilyapuchka commented on #280
yes, exactly that

[2017-05-06 21:35] Antondomashnev commented on #280
After the #286 I can propose the draft, but I expect it will be more a team work on the document 😄

[2017-05-09 22:53] #271 closed

[2017-05-09 22:56] ilyapuchka commented on #229
Resolved with #240 🎉

[2017-05-09 22:56] #229 closed

[2017-05-10 21:19] Palleas opened #294 "Sourcery watch mode erase the content of some of my generated files"
I have the following `.sourcery.yml` file:

[code]

A couple of templates (AutoEquatable, etc.).

When I run `sourcery`, It works A1. When I run `sourcery -w`, the content of my `AutoEquatable.generated.swift` file is replaced with

[code]

I'm using Sourcery `0.6.0` and I just checked, this doesn't happen with sourcery 0.5.9. My templates are available [here](https://github.com/Palleas/Paparazzi/

[2017-05-10 22:37] ilyapuchka commented on #294
Hi, @Palleas
#296 should resolve this issue

[2017-05-11 07:30] Antondomashnev opened #297 "AutoEquatable template doesn't generate correct code for protocols"
This is the continuation of the question from #286 about `AutoEquatable` protocol issue.
It seems the commit 8bd91e275f09e79122c3303935d3a1853fe1d0d6 brought the bug, because `computedVariables ` is always an empty array.

I think we can use the same logic for protocols as we use in `AutoMockable` template:
[code]
I think we just need to add new condition that the variable actually has getter acce

[2017-05-11 21:54] #276 closed

[2017-05-11 21:57] ilyapuchka commented on #297
Do you mean to add check for getter in a template?

[2017-05-11 22:03] Antondomashnev commented on #297
@ilyapuchka I mean to change template to iterate through `allVariables` but filter only for those that have getter access 😄

[2017-05-11 22:05] ilyapuchka commented on #297
wouldn't they all have it?...

[2017-05-11 22:22] Antondomashnev commented on #297
I thought that you can have `{ set }` for protocol variable, seems you're right. One more thing, will `allVariables` also return static variables?

[2017-05-11 22:29] ilyapuchka commented on #297
Yes, it will, so they should be filtered by `isStatic` (latest version of Stencil supports `where` or we can use filter `!static`)

[2017-05-11 22:32] Antondomashnev commented on #297
cool, I will prepare the fix 👌

[2017-05-12 08:40] Obbut opened #299 "Reproduce all comments of a declaration"
Sometimes I use Sourcery to generate "copies" of methods on a type, with slightly different arguments for example. For these methods, I would like to be able to reproduce the (doc) comment of the original method in my template.

Is it currently possible to get the comments belonging to a certain declaration?

[2017-05-12 13:00] Antondomashnev commented on #299
@Obbut Hi ✋
As far as I know with the `SourceKitten` framework it's possible, but I would like to ask @ilyapuchka or @krzysztofzablocki if it's within the Sourcery scope of the tool at the moment 😄

[2017-05-12 14:14] ilyapuchka commented on #299
it should be possible technically, and I get the point to have it, but I doubt it belongs to the scope of Sourcery.
Without any changes in Sourcery you can workaround this by putting your doc comment in annotation. Not the best of course, but something at least.

[2017-05-12 19:50] Palleas commented on #294
That's great to hear! :)

[2017-05-14 17:48] cnicolai opened #301 "Not finding Standard Library protocol conformance"
Hi!

I tried to work with Sourcery on Types conforming to protocols from the Swift Standard Library, for example Comparable:

[code]

This does not work for structs conforming to Comparable I defined. Am I missing something?

Apple Swift version 3.1 (swiftlang-802.0.53 clang-802.0.42)
Target: x86_64-apple-macosx10.9

[2017-05-14 19:06] ilyapuchka commented on #301
Hey. You need to use `based` here. We dot yet provide full support for standard library types, meaning distinguishing if this is a protocol, so you use `implementing`, or a class and you usr `inheriting`. We only do that for those types defined in the sources scanned by Sourcery.

Ilya Puchka

Отправлено с iPhone

[2017-05-14 21:19] cnicolai commented on #301
Thanks! I will try to figure that out.

[2017-05-15 07:10] cnicolai commented on #301
Worked for me, thanks again!

[2017-05-15 07:29] #301 closed

[2017-05-17 23:39] #294 closed

[2017-05-18 21:22] samskiter opened #302 "Support annotation array detection"
Im trying to loop over repeated annotations, except sometimes they might not be repeated.

How can I treat the annotation as an array even if it's only a single value?

[2017-05-18 21:30] ilyapuchka commented on #302
Annotations are stored as a dictionary so you can access them by their name. In Stencil you can [iterate over dictionary](https://github.com/kylef/Stencil/releases/tag/0.9.0) now, using swift templates it's just normal iteration over dictionary.

[2017-05-18 21:42] samskiter commented on #302
Thanks for the fast reply @ilyapuchka - unfortunately don't seem to be able to get that working:

[code]

This crashes

[2017-05-18 21:44] ilyapuchka commented on #302
And what is the crash?

[2017-05-18 21:45] samskiter commented on #302
Whoops you beat me to it, was just updating my comment ^^

[2017-05-18 21:49] ilyapuchka commented on #302
We didn't release a new version with Stencil 0.9.0 yet, so you need to use latest master version - [CHANGELOG](https://github.com/krzysztofzablocki/Sourcery/blob/master/CHANGELOG.md)

[2017-05-18 21:50] samskiter commented on #302
aha ok, thanks, i will try pointing my pod repo to you 👍

[2017-05-18 21:52] ilyapuchka opened #303 "Support sourcery:file annotation in source files"
Currently `sourcery:file` is used in templates to redirect output, but we can support `//sourcery:file` annotation in source code that will be the same as wrapping the whole content with `//sourcery:begin` and `//sourcery:end`
For simplicity annotation will ignore everything before it so it should be defined at the very top of the file.

[2017-05-18 22:46] samskiter commented on #302
@ilyapuchka Looks like your podspec doesn't work out of the box either. i'll see if I can work out how to fix it

[2017-05-18 22:47] ilyapuchka opened #305 "Migrate from CocoaPods to SPM"
It seems like it should be possible to replace CocoaPods with SPM, using which should remove any need for using containing mac os app to embed frameworks, as they should be linked to the binary at build time. We might though need to get rid of SwiftTryCatch as SPM packages can not contain mixed language code.

[2017-05-18 22:50] ilyapuchka commented on #302
CocoaPods will download latest release, so you should build from source code.

[2017-05-18 22:55] samskiter commented on #302
@ilyapuchka you can use cocoapods to point to a git repo+sha right? I'm using `pod 'Sourcery', :git => 'https://github.com/krzysztofzablocki/Sourcery.git', :commit => 'a6118efb5b9756eb59570e5e92b625c9b591fd24'`

[2017-05-18 22:58] samskiter commented on #302
Ahh i see, you pull from releases

[2017-05-18 23:39] samskiter commented on #302
@ilyapuchka Have tried building from master, used the rake scripts to generate a new zip, then pointed to that locally using cocoapods. Getting a slightly different error message now:

[code]

[2017-05-19 00:40] samskiter commented on #302
@ilyapuchka I got it working by iterating like so:

[code]

But I still get an array for the dictionary values where "TypeErase" is a key

[2017-05-19 08:03] krzysztofzablocki commented on #305
Keep in mind its important to maintain ability to easily debug and work on the code, SPM isn't ideal for that

[2017-05-19 08:40] Antondomashnev commented on #305
I see the drawback also in terms of introducing another dependency manager for the developer. I don't know the real numbers but I think the usage of dependency management systems is like:
1. CocoaPods
2. Carthage
3. SPM

So I think most likely developer will have to introduce SPM as a dependency manager for her project if she wants to integrate Sourcery.

[2017-05-19 08:47] ilyapuchka commented on #305
I mean that we should use SPM for managing our own dependencies. This should not, as far as I understand, affect the end users. Using CocoaPods they are going to load latest release artefacts, not the source code. The same with Carthage, most likely users will just load binaries. And even if they load source code to build it with SPM is easier than with Xcode because it produces artefacts in a mor

[2017-05-19 09:09] Joannis opened #306 "Linux Support"
I've tried getting Sourcery working on Linux as a test. SourceKit and SourceKitten can be compiled for Linux, I've already managed that, but the FileWatcher used in Sourcery seems to be the only library that doesn't support Linux. If Sourcery moves to SPM you could fetch all dependencies except the FileWatcher using SPM and compile it. `--watch` wouldn't work, but Sourcery would be working on Linu

[2017-05-19 09:36] ilyapuchka commented on #305
@krzysztofzablocki regarding debugging we can use project that SPM generates, it should have all dependencies as separate targets, if I'm not wrong, pretty much as with CocoaPods but with simpler setup.

[2017-05-19 09:44] Antondomashnev commented on #305
@ilyapuchka could it have a restriction for us if one of the dependency we will require doesn't support SPM?

[2017-05-19 10:12] ilyapuchka commented on #305
Yes, that's a valid point, but that will mean that Sourcery will be not buildable on Linux, so only binary could be used. Using SPM will bring us closer to supporting Linux I think.

[2017-05-19 10:28] krzysztofzablocki commented on #306
FileWatcher pod is no longer used for Sourcery as I needed more powerful daemon, we'll just remove it completely (I thought I already did)

[2017-05-19 10:41] Joannis commented on #306
I'm not sure if you've removed it. I might still be running too old code in my tests.

[2017-05-19 10:51] Antondomashnev commented on #305
Seems we have to decide what is more likely to happen - Sourcery dependency doesn't support SPM or somebody wants to build a source on Linux 😄

The issue with the dependency could be painful because it can not support SPM, because it's dependencies don't support SPM and so on and so on.

[2017-05-19 10:58] ilyapuchka commented on #305
And if we are likely or not to add any other dependencies =)

[2017-05-19 11:08] Antondomashnev commented on #299
@ilyapuchka @krzysztofzablocki should we close the issue, or let's leave at as a discussion point?

[2017-05-19 13:46] bolismauro opened #307 "Annotation array/element handling"
I'm leveraging the fact that annotations can be used multiple times like this
[code]

The problem is that, if I use variable only once, the returned value in the stencil is an element and not a variable.

This forced to me to write really ugly code (and two different annotations)
[code]

Is there a better way to handle this? Like a check if it is an array, or transform a value into an array..

PS:

[2017-05-19 15:08] bolismauro commented on #307
Most likely a duplicate of #302 but I'm not sure

[2017-05-19 15:16] #297 closed

[2017-05-19 15:28] ilyapuchka commented on #307
Even if you iterate over annotations using key and value the value will be still either single value or array, so you will need to check it in the loop body. When you use just one annotation it does not make much sense to create array for it. So I would say having `if` in template is reasonable solution. To reuse code use [macro node](https://github.com/SwiftGen/StencilSwiftKit/blob/master/Documen

[2017-05-19 15:51] bolismauro commented on #307
Can I pass a piece of code to the macro?
Because I have multiple things where I have that kind of check, but ideally I'd like to do something
[code]

[2017-05-19 16:00] ilyapuchka commented on #307
I think you can only pass objects in

[2017-05-19 16:33] bolismauro commented on #307
Alright, so there isn't a good way to solve this problem. Got it :)

[2017-05-20 10:47] eugeneego opened #309 "The introduced swift templates caching using precompiled binary helper framework will not work because Swift lacks ABI stability."
#229 #240
The user can have different Swift compiler version than that was used for compilation of `SourceryRuntime.framework`.
Currently Swift does not have ABI stability. All frameworks and the swift source code files should be compiled using the same compiler.
Also ABI stability is deferred from Swift 4 https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170213/032116.html

[2017-05-20 10:57] ilyapuchka commented on #309
Hey @eugeneego
Users who are using different version of swift compiler than the one used to build Sourcery binary (since the version with improved caching will be released) can build Sourcery from source code in this case. This will build SourceryRuntime framework with the same swift compiler version.

[2017-05-20 11:01] eugeneego commented on #309
@ilyapuchka Sourcery uses CocoaPods for distributing and probably can compile SourceryRuntime framework during project build.

[2017-05-20 11:19] ilyapuchka commented on #309
Currently with CocoaPods we distribute only release archive, not a source code. So to build runtime framework with CocoaPods will make us probably to include its source code into release archive, so that CocoaPods can use it to build the framework as a post step somehow. Or we will need to switch to distributing the whole source code instead of just release artefacts. But I'm not sure how it will

[2017-05-20 17:27] eugeneego opened #310 "Swift templates compilation failed using standalone Sourcery app."
Branch: master.

Steps to reproduce:
- build Sourcery app through Xcode archive or `rake build`
- try to generate code with this app from a swift template

[code]

Possible issue:
Swift compiler can't import `SourceryRuntime` because `SourceryRuntime.framework` from app bundle does not contain swift module files.

[2017-05-20 21:06] ilyapuchka commented on #310
Does the same happen if you build with debug configuration?

[2017-05-20 21:08] #307 closed

[2017-05-20 21:28] eugeneego commented on #310
The same. The bundled frameworks don't contain swift modules.
Run `xcodebuild -workspace Sourcery.xcworkspace -scheme Sourcery -configuration Debug -sdk macosx -derivedDataPath build/`
Open `build/Build/Products/Debug/` folder.
Standalone `SourceryRuntime.framework` contains swift module.
But `Sourcery.app/Contents/Frameworks/SourceryRuntime.framework` doesn't.

[2017-05-20 23:00] ilyapuchka commented on #310
@eugeneego can you please test on the branch of this pr ^ ?

[2017-05-20 23:19] eugeneego commented on #310
I've already tried several similar workarounds. But they don't work.
[code]
Looks like `SourceryRuntime.framework` from `build/Build/Products/` should be copied into app resources and then used to compile swift templates.

[2017-05-21 00:09] ilyapuchka commented on #310
Should work now

[2017-05-21 00:25] samskiter commented on #302
Hey again @ilyapuchka - I also brought this up on SwiftStencilKit here: https://github.com/SwiftGen/StencilSwiftKit/issues/44 and they suggested it might be best to always return an array for each annotation name...

[2017-05-21 01:01] ilyapuchka commented on #307
You can also use swift templates where you can define methods with any types of parameters.

[2017-05-21 01:03] ilyapuchka commented on #302
Can you use macro node or swift templates as advised in #307?

[2017-05-21 01:18] huy-le opened #312 "Hard to install the program probably"
Do you thing 4 ways you are using for installing this command line tools are hard to follow, undocumented?

[2017-05-21 07:32] bolismauro commented on #307
Are they stable? The last time I checked they were not production ready (it was a long time ago)

 

On Sun, 21 May 2017 at 03:01 Ilya Puchka

<
mailto:Ilya Puchka <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

You can also use swift templates where you can define methods with any types of parameters.

—

You are receiving this because you authored th

[2017-05-21 08:10] ilyapuchka commented on #312
Hey @huy-le . What exactly do you find hard to follow and what issues do you have installing Sourcery?

[2017-05-21 08:16] #310 closed

[2017-05-21 08:16] ilyapuchka commented on #307
Thye were stable but slow, now the are stable and fast

[2017-05-21 08:22] bolismauro commented on #302
@ilyapuchka @samskiter I decided to keep the ugly stencil I need to have rather than using swift. This is because the generation time is considerably higher than stencil

[2017-05-21 08:46] eugeneego commented on #310
It works. Thanks 👍

[2017-05-21 08:52] ilyapuchka commented on #309
I will close this for now, if you will have any further questions or suggestions feel free to reopen it.

[2017-05-21 08:52] #309 closed

[2017-05-21 08:52] #303 closed

[2017-05-21 09:13] ilyapuchka opened #313 "Annotations with custom prefix"
In a lot of cases several annotations might be required for a single declaration which conceptually belong to one domain, i.e. to parse property from JSON one can write template that supports annotations like  `json_key`, `json_default` (to specify default value), `json_get` (to use specific parsing func), `json_map` (to map parsed value to something else using specific func) etc.. Currently it wi

[2017-05-21 13:57] djbe commented on #307
@bolismauro Macro's are stored as object in the context stack, so you can pass them around just like any other objects.

[2017-05-22 08:27] Antondomashnev commented on #313
I like the idea 👍 I think if everyone agrees on the feature itself we just need to agree on the syntax.
But I don't think this is something must for the 1.0.0 release, what do you think?

[2017-05-22 08:28] ilyapuchka commented on #313
For sure, not a requirement for 1.0

[2017-05-22 08:28] Antondomashnev opened #314 "Scope next Sourcery release."
Hi team,
I think at the moment we have a lot of updates in master since the last `0.6.0` release. When do you think we can make another one? Is there any blocker?

[2017-05-22 08:40] Antondomashnev commented on #302
@ilyapuchka @bolismauro I, actually, agree with that. I think it's confusing when the same code returns different type of object under different circumstances.

[2017-05-22 12:54] samskiter commented on #302
I think that would be great. the only other useful thing to do would be either to define dictionaries through annotations or in some way allow splitting by a string (e.g. ',')

[2017-05-22 13:24] Antondomashnev commented on #302
@samskiter you can take a look on #313, they're some proposals that could improve annotations 😄

[2017-05-22 14:22] mackoj opened #315 "Sourcery Template list / index ?"
It's would be great to have a list/directory/repo of all available Sourcery Template available ?

[2017-05-22 14:26] ilyapuchka commented on #315
Hey @mackoj
All the templates shipped with Sourcery are currently listed in the [docs](https://cdn.rawgit.com/krzysztofzablocki/Sourcery/master/docs/index.html) in Example section.

[2017-05-22 14:36] samskiter commented on #313
I think it's going to be easy to get confused between an array/dict and a literal string so maybe a special block declaration to say "i'm entering this mode now" or a special way of starting the annotation would be necessary.

e.g. :is this a json string you are defining or do you want a dict?"

[2017-05-22 15:12] Antondomashnev commented on #315
@ilyapuchka let's maybe update the title for the section from `Example` to `Bundled Templates`? I could submit a PR for it, if makes sense.

[2017-05-22 15:15] mackoj commented on #315
I mean from other source like this one for example https://github.com/AliSoftware/SourceryTemplates .

[2017-05-23 07:39] Usipov opened #316 "`lowerFirst` filter not working"
Hello! Thanks for the amazing tool. Found an issue with `lowerFirst` filter.

[lowerFirstNotWorking.zip](https://github.com/krzysztofzablocki/Sourcery/files/1021257/lowerFirstNotWorking.zip)

Attached a zip with a structure
`- generated`: output files
`- scripts`: one using a template with `lowerFirst`, other - with `lowerFirstWord` and last one - with `upperFirst`
`- Sourcery-0.6` - the binaries

[2017-05-23 08:20] Antondomashnev commented on #315
@mackoj I think we can add this in a similar way like here https://github.com/SwiftGen/SwiftGen#attributions

[2017-05-23 09:09] Antondomashnev commented on #316
Hi, @Usipov thanks for reporting it 👍 . I'll try to take a look in it today.

[2017-05-23 16:57] samskiter opened #317 "Support in-out parameters"
I had a quick look here too: https://github.com/krzysztofzablocki/Sourcery/blob/8583c039db54b5956a6b02d8447ce1ed00647941/SourceryTests/Parsing/FileParser%20%2B%20AttributesSpec.swift

Looks like the parser doesn't pull out the 'inout' attribute on params

[2017-05-23 20:23] ilyapuchka commented on #316
Please see [CHANGELOG](https://github.com/krzysztofzablocki/Sourcery/blob/master/CHANGELOG.md). `lowerFirst` is implemented only on master, it was not shipped with 0.6 version.

[2017-05-23 20:23] #316 closed

[2017-05-23 20:30] ilyapuchka commented on #317
Thanks for reporting. `inout` is not an attribute, it's part of the type and SourceKit returns it as a typename, so I guess we are currently not just do not parse it but also will not properly infer type of such parameter. Not sure if we should model it with attribute, probably better to do it with boolean property in `MethodParameter`.

[2017-05-23 20:43] ilyapuchka commented on #315
As @AliSoftware mentions [here](https://github.com/AliSoftware/SourceryTemplates/pull/1) we need to develop contribution guidelines for contributing templates. It may contain requirements for templates description and documentation, tests and so on. Then we can accept new templates as PRs. I also think there is no need for all of them being listed in the Sourcery docs, because there they serve mor

[2017-05-23 20:46] ilyapuchka commented on #314
I wanted to finish with #307 but I'm going on vocations for the rest of the week. But I'm fine with releasing what we have now in master. Though when it comes to publishing it in Cocoapods I think only @krzysztofzablocki can do that.

[2017-05-23 21:21] samskiter commented on #317
Thanks a Boolean would suit my needs fine

On Tue, 23 May 2017, 21:30 Ilya Puchka, <notifications@github.com> wrote:

[2017-05-24 06:13] krzysztofzablocki commented on #314
I can make a new release

[2017-05-24 07:22] Antondomashnev commented on #314
@krzysztofzablocki I think it makes sense

[2017-05-24 08:01] Liquidsoul opened #320 "Incorrect insert position of `inline:auto` code"
**Swift version:** Apple Swift version 3.1 (swiftlang-802.0.53 clang-802.0.42) (Xcode 8.3.2)
**Sourcery version:** `0.6.0` and `master` (ae69829)

### What did I do?

I used the `inline:auto` feature to add code in existing structs in a unique file.

Here is the template:

[code]

And the swift files with the structs, one with existing code to update and one where new code wille be inserted:
[code

[2017-05-24 09:50] mackoj commented on #315
I think having contributions guidelines for contributions templates is clearly the good way to go.
It's more important to have quality templates than having a lot of them.
But I think they should be in Sourcery repo for discovery purpose.

[2017-05-24 09:57] Antondomashnev commented on #315
@mackoj I don't think that idea to keep them separated - bad idea. I see the only drawback, that currently templates are developed with the Sourcery version from `master` branch, not from `Releases`. So for example when I added the tests for templates they were updated with new Stencil features, which were not available in the `0.6.0` release. And so the developer can download the template and it

[2017-05-24 13:55] ManWithBear opened #321 "AutoMockable extention"
Is here anyway to generate Mock object my AutoMockable template without using AutoMockable protocol?
I would like to have solution as:
`extension AccountListViewInput: AutoMockable { }`
But it's generate error:
`Extension of protocol 'AccountListViewInput' cannot have an inheritance clause`

I understand that AutoMockable inheritance should be in protocol declaration, but I dont want to have it in

[2017-05-24 18:52] ilyapuchka commented on #321
Hey @ManWithBear . You can adjust the template to use what ever you need in your case, probably for you it will make sense to use annotations instead of marker protocols.

[2017-05-24 19:10] ilyapuchka commented on #315
There should be a reference to particular minimum version of Sourcery that is supported. We might do something like what fastlane does whit putting minimum version in fastfile, using special annotation for that in templates, but that might be an over-complication.

[2017-05-24 19:14] ilyapuchka commented on #320
I also encountered some issue on our code base with auto insertion, so there is definitely something wrong. Thank's for bringing this up @Liquidsoul

[2017-05-24 19:37] Liquidsoul commented on #320
I did a little digging and arrived at the point where it seems that the value returned by [`rangeToAppendBody()` ](https://github.com/krzysztofzablocki/Sourcery/blob/master/Sourcery/Sourcery.swift#L377) is not what I expect it to be 🤔

In the failing test I have with this source file:
[code]

It's returning an offset of 27 for `Bar`'s body like if the annotations in `Foo` were not there.

I'll kee

[2017-05-24 20:20] Antondomashnev commented on #320
@Liquidsoul failing test would be a good start 🚀

[2017-05-24 20:31] Liquidsoul commented on #320
@Antondomashnev done in #322

Digging a little more, it seems that the annotations are removed in the code before giving it to SourceKitten 🔍

[2017-05-24 21:16] Liquidsoul commented on #320
I'll share where I am now in case I fall asleep 😴

There seems to be a mismatch in context between the ranges we have from SourceKit and what we get from the `TemplateAnnotationsParser.parseAnnotations()`.

Here is the source I use:
[code]

In [`parseContentsIfNeeded()`](https://github.com/krzysztofzablocki/Sourcery/blob/master/Sourcery/Parsing/FileParser.swift#L99-L102) it first remove the "inlin

[2017-05-24 21:22] Liquidsoul commented on #320
My first thought: maybe the function `TemplateAnnotationsParser.parseAnnotations()` should just remove the generated code but leave the annotations alone.

Meaning that for this initial content:
[code]

The output would be:
[code]

Instead of:
[code]

This would leave the code untouched in the example in my previous comment.

I did not try to implement this, I may be able to have a shot at tomorro

[2017-05-24 22:03] ilyapuchka commented on #320
Does the error happen only on first run of Sourcery? The thing is that with `inline:auto` there should be no annotation in source code initially, it should be added after first run. After that it behaves the same way as with normal `inline` annotation. I was experiencing issues on first run only.

[2017-05-25 01:18] grantjbutler opened #324 "Support Multiple Output Directories"
I noticed that Sourcery supports the ability to scan multiple targets in an Xcode project. It'd be nice if Sourcery could output generated code to different locations on disk depending on the target it's scanning. For example, I might have an app target and a framework target in the same project. I'd like it if Sourcery could output code generated for the app target into the directory that contain

[2017-05-25 05:14] Liquidsoul commented on #320
Yes, this happens only for the first run to place the `inline:auto`.
Once the annotations are correctly in place, everything works fine.

[2017-05-25 07:40] Sajjon opened #325 "type.accessLevel returns empty string for all types that are not custom."
## What?
`accessLevel` returns empty string for UIKit, Foundation and probably all `Apple` types.

## Environment
### Swift
Swift version 3.1 (swiftlang-802.0.53 clang-802.0.42)
Target: x86_64-apple-macosx10.9
### Sourcery
0.6.0

## Example
[code]

Given the stencil

[code]

Results in:

[code]

So my fix is using the macro `accessModifierOf` but printing `public` and not `PUBLIC` of course (just

[2017-05-25 07:55] krzysztofzablocki commented on #324
I'm wondering if that's a valid use case, the idea of multiple source directories is that the App templates might need to know AST of the framework code, but it's hard to see a case in which the App would modify the framework code, that seems like a fragile scenario

[2017-05-25 08:02] krzysztofzablocki commented on #314
Someone forgot to share Template scheme? `The workspace named "Sourcery" does not contain a scheme named "Templates-Tests"`

[2017-05-25 08:21] Antondomashnev commented on #314
@krzysztofzablocki I think it's me, sorry.

[2017-05-25 09:04] ilyapuchka commented on #324
It may make sense for frameworks that you own and some common templates, like description, i.e. Sourcery itself if we add some type in the app target that needs description code to be generated.

[2017-05-25 09:28] krzysztofzablocki commented on #314
@Antondomashnev no worries, can you push it to the master?

[2017-05-25 09:51] Antondomashnev commented on #314
@krzysztofzablocki done 😉

[2017-05-25 11:58] ManWithBear commented on #321
Thanks @ilyapuchka
Solved with:
[code]
and in template `{% for type in types.protocols|annotated:"AutoMockable" %}`

BTW `// sourcery:file: AutoMockable` not worked for me, dunno why. So use begin without end.
Sourcery 0.6.0, Swift 3.1

[2017-05-25 11:58] #321 closed

[2017-05-25 13:45] ManWithBear opened #326 "Default implementation cause method duplication"
1. What version of Swift are you using (swift --version)?
[code]
2. What did you do?
    Protocol:
[code]
    Template:
[code]
    Generate:
[code]
3. What did you expect to see?
There should be just second method.

4. What did you see instead?
Two methods

Problem looks similar to #158, but here problem in default value for parameter.

[2017-05-25 16:32] wassimseif opened #327 "Fix for deleting some characters"
I'm using Sourcery for generating the `init` of classes conforming to the protocol `AutoInitializer`
This is my stencil template
[code]
The thing is `{{var.name}}:{{var.typeName}},` will insert a comma to the last parameter in the `init` which, of course , will not compile. Is there a fix for this ? so that i don't have to remove the commas manually ?

[2017-05-25 16:50] ilyapuchka commented on #321
Glad it helped. `// sourcery:file:` is on master only. And I would not suggest to use `begin` without `end` even though it may work now.

[2017-05-25 16:55] ilyapuchka commented on #327
Please refer [Stencil docs](https://stencil.fuller.li/en/latest/builtins.html#for) - you can use `if forloop.last` to detect last loop iteration.

[2017-05-25 16:55] #327 closed

[2017-05-25 17:49] ManWithBear commented on #321
Oh, ok. Will fix it tomorrow :)

[2017-05-25 19:18] Joannis commented on #314
Would love a new release. Any idea if you could provide a brew package *with* EJS support for this next sourcery release?

[2017-05-25 21:50] ilyapuchka commented on #325
I believe extensions themselves do not have access level, at least SourceKit does not return such information (try `sourcekitten structure --text "protocol AutoDemo{}; extension NSObject: AutoDemo {}"`). But _declarations inside_ extension should contain proper access level.
For known types we simply merge extension with type definition, access level comes from type definition.
The other problem i

[2017-05-26 16:00] Antondomashnev commented on #326
Hi @ManWithBear thanks for creating an issue, I think you're right. The second method should override the first one. I will take a closer look on soon.

[2017-05-26 19:42] ilyapuchka commented on #326
@ManWithBear I'm not sure that returning just one method is a correct behaviour. Method defined in the extension with default parameter value is not the same as method defined in the protocol declaration, even if its signature because of default value matches. If you implement this protocol on some type but call it without passing parameter - it will call method from extension, not your implementa

[2017-05-26 20:29] Antondomashnev commented on #326
I can give my use case:
[code]

So as you can see there is an extension for the method because I wanted to use dependency injection only in tests, but in other cases, the default parameter + default implementation is sufficient to reduce the code duplication. Eventually, I've ended up with the same problem as @ManWithBear. I haven't reported it because I also have doubts whether it makes sense to

[2017-05-26 20:32] ilyapuchka commented on #326
I got the use case of using default parameters values, but how do you want to use this in Sourcery template and what do you want to generate?

[2017-05-26 20:39] Antondomashnev commented on #326
I can not copy paste the code what I wanted to achieve, but it's basically `AutoMockable` template code:
[code]

and currently I end up with:
[code]

[2017-05-26 20:47] ilyapuchka commented on #326
Ok, got it, but I'm still not sure that returning just one method will be a correct solution, and one that will be easy to implement (what about methods with several parameters?). Maybe we should add a reference to where the method/property was defined (reference to `Type` object for extension) and then this can be used in the template to filter out methods or, as in this case, it may generate dif

[2017-05-27 09:44] Antondomashnev commented on #326
I'm not sure what you mean here, because this will not compile for example:
[code]
This what you were worried of or not exactly? 😄

I think the same idea was already proposed in https://github.com/krzysztofzablocki/Sourcery/issues/158 - `isDefinedInExtension`. But your idea is a bit generic - so each method will have a reference to which type it belongs? How could the filtration be done in the tem

[2017-05-27 17:41] worthbak commented on #312
I eventually got Sourcery installed properly, but the instructions were pretty unhelpful - the README notes that, for Cocoapods installation, you "just need to add" the following as a run script phase:

[code]

However, my project wouldn't compile until I added this:

[code]

Even the example project needed the script to be changed before it would compile. I get that `{source} {templates} {output}

[2017-05-27 20:25] grantjbutler commented on #324
It's not so much about the app modifying framework code, as it is about needing some of the same functionality in both a framework and application, and Sourcery not seeming to support it correctly.

For example, I'm going to use the `AutoEquatable` scenario. I may have some models in my framework so that both an application and an extension can use them. I want to conform them to `Equatable`, so I

[2017-05-27 20:41] ilyapuchka commented on #312
Thanks for your feedback @worthbak! Indeed those instructions should be more clear and they are in fact out of date with the latest versions of the tool. We will fix that.

[2017-05-27 23:14] ilyapuchka commented on #326
Filter can be applied using `kind` property or we can add `extension` filter similar to `struct`, `enum` etc.

[2017-05-27 23:17] ilyapuchka commented on #326
And not only method can have this reference, it also can be applied for properties. And not only extensions can be referenced, but also types, this might be useful for some cases where we need to known in what class in inheritance chain the property is defined. This will make this reference property universal, not just a warkround to solve particular problem

[2017-05-28 23:23] #320 closed

[2017-05-28 23:25] #314 closed

[2017-05-29 06:12] ilovezfs opened #331 "0.6.1 build fails on OS X 10.11 El Capitan"
[code]

https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/2121/version=el_capitan/testReport/junit/brew-test-bot/el_capitan/install_sourcery/

Cf. https://github.com/Homebrew/homebrew-core/pull/14042

Seems fine on macOS 10.12 Sierra.

[2017-05-29 08:25] #312 closed

[2017-05-29 08:27] Antondomashnev commented on #312
Hi @huy-le @worthbak check the updated documentation in `master` and let us know if it becomes clearer 😄

[2017-05-29 09:14] chriseidhof opened #332 "Include mutating keyword"
First of all: Sourcery is awesome.

I'd like to generate code for all mutating methods. However, currently, there's no way to know (in Sourcery) if a function is mutating or not. Would it be possible to add this? Is there anything I could do to help with this?

[2017-05-29 09:16] ilyapuchka commented on #332
@chriseidhof thanks for suggestion! This will be pretty easy to add, mutating is just another kind of attribute, we just missed it (probably there are some other attributes we are still missing)

[2017-05-29 10:23] chriseidhof commented on #332
Awesome. I don't mind doing it, can you give a pointer on where to start?

[2017-05-29 10:29] ilyapuchka commented on #332
Sure, look at [Attribute](https://github.com/krzysztofzablocki/Sourcery/blob/master/SourceryRuntime/Sources/Attribute.swift) class, it should handle this attribute the same way as `convenience`.

[2017-05-30 07:38] wassimseif opened #333 "Generate Code in the type class"
Is there a way to insert code inside the type class ? Rather than in an extension ?
[code]
then after running sourcery it will be
[code]
It will fix some problems with convenience initialisers

[2017-05-30 08:05] ilyapuchka commented on #333
Hi @wassimseif . Please look at the [inline annotations](https://cdn.rawgit.com/krzysztofzablocki/Sourcery/master/docs/writing-templates.html#inline-code-generation).

[2017-05-30 08:05] #333 closed

[2017-05-31 15:49] calebd opened #334 "Stored Variables Regression"
It looks like Type.storedVariables now includes both `private` and `fileprivate` members. This breaks the included `AutoEquatable` template. I tried adding accessibility filters which always resulted in an empty variables array.

[2017-05-31 16:55] calebd opened #335 "Add 0.6.1 to Homebrew"
[code]

[2017-05-31 17:00] calebd opened #336 "0.5.9_1 Bottle is Missing in Homebrew"
The sorcery bottle was fixed in homebrew/homebrew-core@fc363d74eb but that bottle is missing.

[code]

Building the 0.5.9 formula from source fails for a variety of reasons.

[2017-05-31 18:52] Antondomashnev commented on #326
@ilyapuchka I like the idea 👍, I think we can start implementing it. I could take this task for example.

[2017-05-31 20:30] jpsim commented on #331
That's because installing SourceKitten via SwiftPM requires Swift 3.1 or later as of 0.17.4 (this PR: jpsim/SourceKitten#377). I've submitted Sourcery 0.6.1 to Homebrew in Homebrew/homebrew-core#14123.

[2017-05-31 20:30] jpsim commented on #335
https://github.com/Homebrew/homebrew-core/pull/14123

[2017-05-31 20:31] jpsim commented on #336
0.5.9 revision 1 was never merged in Homebrew because I updated the formula to 0.6.0 before the PR got merged: https://github.com/Homebrew/homebrew-core/pull/12203/commits/640a93ff4b41b293a5577d97019062ca4ab63ca1

[2017-05-31 21:20] AliSoftware opened #337 "Move some filters to StencilSwiftKit"
And even some probably on Stencil proper.

Candidates so far: [StencilTemplate.swift#L30-38](https://github.com/krzysztofzablocki/Sourcery/blob/4e920792664029203820fba1a63ba4ba925f552e/Sourcery/Generating/Template/Stencil/StencilTemplate.swift#L30-L38)

* `upperFirst`
* `lowerFirst`
* `replace`
* `contains`
* `hasPrefix`
* `hasSuffix`

\cc @djbe @kylef

[2017-06-01 07:38] Antondomashnev commented on #317
Hi @samskiter, the flag `inout` is on master and will be added to the next release.

[2017-06-01 07:38] #317 closed

[2017-06-01 08:55] chriseidhof commented on #332
See #338

[2017-06-01 13:14] worthbak commented on #312
@Antondomashnev looks better! My only suggestion would be to provide a full example, as `--sources <sources path>` might seem a bit ambiguous to new users (especially because Sourcery makes heavy use of the `<<>>`` syntax in its regular usage). Or, perhaps just link to the relevant line in your example project's scheme - that was useful for me when getting it up and running 👍 thanks!!

[2017-06-01 15:37] danielr opened #339 "Support include tag in Stencil templates"
Stencil itself has support for the `{% include %}` tag. However, Sourcery doesn't seem to provide a template loader to the Stencil `Environment`, so `include` does not work:

[code]

results in this error message:
[code]

I'd suggest to (perhaps optionally) make the path for the included templates configurable, so that you can separate "real" templates from "partial" templates that are just made f

[2017-06-01 19:27] ilyapuchka opened #342 "Templates tests require Sourcery.app in bin directory"
@Antondomashnev running templates tests locally I noticed that they run Sourcery from `bin` folder as a build step, which is copied there only when building for release IIRC. Maybe we should adjust this to make it easier to run tests? Also I think it make sense to run templates tests together with unit tests during development, maybe through a separate scheme.

[2017-06-01 19:27] ilyapuchka commented on #334
To filter variables by their access level there are `privateGet` and `privateSet` and others filters ([docs](https://cdn.rawgit.com/krzysztofzablocki/Sourcery/master/docs/writing-templates.html)):

[code]

or you can use `where`:

[code]

@Antondomashnev should we check other templates for such regression? Do you mind doing that? You could also maybe look at #342

[2017-06-01 19:29] ilyapuchka commented on #325
@Sajjon does this answer your question?

[2017-06-01 21:47] Antondomashnev commented on #334
@ilyapuchka sure 👌

[2017-06-01 21:49] Antondomashnev commented on #342
That's a good idea

I think the way works fine, but probably we just need to add a build step to build sourcery app and copy it into the bin. I think that should fit out needs.

[2017-06-02 15:30] Antondomashnev commented on #334
@calebd could you please clarify the prior behavior? Did it include only `public` and `internal` variables?

[2017-06-02 15:39] ilyapuchka commented on #334
@Antondomashnev yes, we changed recently that private declarations are not filtered out any more (https://github.com/krzysztofzablocki/Sourcery/pull/201) with introduction of access level filters

[2017-06-02 15:45] calebd commented on #334
In `0.5.9`, `storedVariables` included both `public` and `internal` and included variables that had both `get` and `set` blocks. I relied on this behavior for my own `SourceryEquatable` template.

I have a type like this:

[code]

Old Sourcery output:

[code]

New Sourcery output with no template changes:

[code]

 I have yet to find a set of filters or variables that mirrors that behavior

[2017-06-02 19:04] grantjbutler opened #344 "Crash When Using Cache Generated by Newer Sourcery"
When running an older version of Sourcery against a cache generated by a newer version of Sourcery, it is possible for that older version to crash. See the attached stack trace.

A little bit of context. Our team has standardized which version we use (by including it in our Podfile) to avoid generating diff noise by the generated files being updated where the only change is the version number of S

[2017-06-02 19:53] Antondomashnev commented on #334
@ilyapuchka @calebd thanks, I've opened the PR that should fix an issue with updated templates.

[2017-06-02 20:27] ilyapuchka commented on #344
NSCoding, used to serialise parsing results does not have versioning support, so we basically need to use Sourcery version as a part of a cache hash key to avoid this.

[2017-06-02 20:35] ilyapuchka commented on #334
Solved with #345

[2017-06-02 20:35] #334 closed

[2017-06-02 20:35] #339 closed

[2017-06-02 20:36] ilyapuchka commented on #339
@danielr thanks for reporting this, it's now implemented. Please report any issues with that if you find any.

[2017-06-02 20:40] ilyapuchka commented on #344
It's strange though that it crashes as the exception should be caught and sources should be reparsed, will try to see why it's not the case

[2017-06-02 21:37] ilyapuchka commented on #332
Implemented with #338

[2017-06-02 21:37] #332 closed

[2017-06-02 21:40] ilyapuchka commented on #261
Thanks @Antondomashnev for amazing work on that 👍

[2017-06-02 21:40] #261 closed

[2017-06-02 21:47] #210 closed

[2017-06-03 19:23] ilyapuchka commented on #280
Thanks @Antondomashnev for amazing work on that!

[2017-06-03 19:23] #280 closed

[2017-06-04 09:29] Antondomashnev commented on #280
@ilyapuchka I think next release should be done by you or @krzysztofzablocki so we can accumulate the feedback for the process 😄

[2017-06-04 12:01] danielr commented on #339
@ilyapuchka Thanks for fixing this so quickly! I wanted to have a look myself on Friday, but you were faster ;-) Will try it out next week and report back any issues with the implementation.

[2017-06-04 12:03] danielr commented on #339
So, as far as I can see, you didn't implement any separation between "normal" and "partial" templates, right? Is there an explicit way to exclude templates from triggering generation (and thus producing output files) on their own?

[2017-06-04 12:34] ilyapuchka commented on #339
Yes, that's true, you need to put partials in a separate directory out of templates directory or mention each template explicitly in config file.

[2017-06-04 12:41] ilyapuchka commented on #339
We can add exclude configuration for templates (and sources) to make experience better

[2017-06-04 13:44] danielr commented on #339
Excludes definitely sound like a useful feature - not only for this special case, but especially for sources.

Regarding the partials, I didn't realise that you could break out of the template directory via relative paths. I guess that having templates and partials in two sibling directories is a good enough work-around for the time being.

[2017-06-04 13:48] ilyapuchka commented on #339
Unfortunately Stencil [explicitly forbids that](https://github.com/kylef/Stencil/blob/6f48fe2d917aa2842bd61e9903ebab12c734483d/Sources/Loader.swift#L82) so I'm working on minimal exclude functionality now

[2017-06-06 21:16] #315 closed

[2017-06-08 19:21] mergesort opened #348 "Sourcery 0.6.1 default templates conflict with user generated templates"
Starting in Sourcery 0.6.1, my AutoLenses template is generating extra lenses for types I don't have in my app, and is causing a compilation error on my CI.

My current build step for Sourcery looks like this:
[code]

I have my own `AutoLenses` template in my `~${SRCROOT}/${PROJECT_NAME}/Sourcery-Templates` folder, and it seems to be conflicting with the one bundled in `Pods/Sourcery/Templates/Tes

[2017-06-08 19:59] ilyapuchka commented on #348
Hey @mergesort. `${SRCROOT}` contains `${PODS_ROOT}`, so Sourcery scans all source files from pods, include Sourcery own templates tests sources. Narrow your input folder to just your sources if you want to scan just them or you can use latest master with exclude configuration (it's not supported by CLI arguments, only by yaml configuration file)

[2017-06-08 20:02] ilyapuchka commented on #348
Another option can be that we would not include those sources into release archive. @Antondomashnev what do you think? I think we don't need them there.

[2017-06-08 20:35] Antondomashnev commented on #348
@ilyapuchka I completely agree to not include them. Will prepare a fix for that 👍

[2017-06-08 20:38] ilyapuchka commented on #348
Will it work if we re upload 0.6.1 archive without releasing new version?

[2017-06-08 20:41] Antondomashnev commented on #348
Why not? The link will remain the same in the podspec.

[2017-06-09 07:27] Antondomashnev commented on #348
@ilyapuchka I will repack the 0.6.1 release with only stencil templates files, however, I think you can also prepare the 0.7.0 (I thing it's semantically correct) release as we already have something to share such as:
[code]

[2017-06-09 08:07] ilyapuchka commented on #348
👍 will do on a weekend

[2017-06-09 15:04] Antondomashnev commented on #348
@mergesort I've reuploaded the 0.6.1 release, but to use it you need to remove `Sourcery` from `Podfile` -> `pod install` -> Add `Sourcery` back -> `pod install` 😄

[2017-06-09 15:04] #348 closed

[2017-06-09 15:27] mergesort commented on #348
Thanks a lot!

[2017-06-11 03:41] fpg1503 commented on #313
That's really useful, I use an alternative to it very frequently (but the dictionary literals I use follow Swift syntax (the keys are not implicitly String literals)). I mentioned it in #174 and it was fixed in #188.

[2017-06-11 14:00] #342 closed

[2017-06-11 14:29] ilyapuchka opened #353 "Implement Codable template"
With introduction of native encoding/decoding with Swift 4 it might seem for some users that Sourcery is loosing its relevance in this domain. Though it is true for simplest cases for more complex cases requiring keys renaming and manual encoding/decoding it is still very relevant. This template should show how Sourcery still can be used to eliminate boilerplate around that.

- [ ] Inline Coding K

[2017-06-11 15:42] ilovezfs opened #354 "0.7.1 and 0.7.0 print "Major.Minor.Patch" not the version when building with SPM"
Homebrew test block fails with

[code]

This is a regression from 0.6.1.

See https://github.com/Homebrew/homebrew-core/pull/14480.

[2017-06-11 18:31] Antondomashnev opened #355 "Add support for array variables for AutoHashable"
Currently AutoHashable doesn't work for the objects with `Array` variables. For example:

[code]

As a reference to implement support we can use this [answer](https://stackoverflow.com/a/31444592/2487302) on StackOverflow

[2017-06-12 16:46] kashifshaikh opened #356 "sourcery failed to build swift templates with Xcode 9 beta / Swift 4"
I tried just building the included templates with Sourcery, and this is the output:

[code]

When I remove Decorator.swifttemplate, everything works fine.

Unfortunately if I try building sourcery in Xcode 9, I get compilation errors:
[code]

[2017-06-12 19:46] Antondomashnev commented on #356
Hey @kashifshaikh thanks for submitting an issue, we will take a look soon on the Xcode 9 compilation issues 😄

[2017-06-12 23:02] ilyapuchka commented on #356
This is expected. Sourcery 0.7 is still built with Xcode 8, thus it is build with Swift 3.1. The same about SourceryRuntime framework which is used internally by the tool and by Swift templates. That's why it can not be used with Xcode 9 and Swift 4. To solve that we will either need to provide a version built with Xcode 9 (we can do that and attach it to the release, will create a separate issue

[2017-06-12 23:02] #356 closed

[2017-06-12 23:04] ilyapuchka opened #357 "Upload Sourcery binary built with Xcode 9 to the release"
As mentioned in #356 we can build Sourcery in Xcode 9 in Swift 3.2 mode (or Swift 4 if no major changes needed), this will make it available for use with Swift 4 (if I get compatibility feature correctly)

[2017-06-12 23:25] ilyapuchka opened #358 "Add step to update internal boilerplate code during release"
When doing release we should make sure that the internal boilerplate code is up to date with our own source code and should update it if required.

[2017-06-12 23:53] ilyapuchka commented on #354
Thanks for reporting @ilovezfs
Something went wrong during releasing 0.7.0, we will need to re-upload its binary. Can you reproduce Homebrew issue locally with this release? When doing `bin/sourcery --version` I got 0.6.1 (when it should be 0.7.0)

[2017-06-13 00:10] ilyapuchka commented on #354
@Antondomashnev I guess the issue with version is simply that in Rakefile `update_metadata` task is done after `build` task. It should the the other way around, right?

[2017-06-13 00:22] ilyapuchka opened #359 "Issues with release process"
- as mentioned in #354 `update_metdata` task should be performed before `build`
- Gemfile should specify version of ruby to use. With Sierra version (2.0.0p648) loading documentation coverage badge fails because of SSL issue what fails release process. Alternatively we can skip loading badge but then it will be removed all the time because docs are cleaned when they are updated

[2017-06-13 07:54] Antondomashnev commented on #354
@ilyapuchka may be, but then it should've been the same for 0.6.1 release as I used the same rake tasks.

[2017-06-13 08:05] Antondomashnev commented on #354
@ilyapuchka I think that makes sense because the binary is built with `old_metadata`. I will prepare the fix along with the other in #359

[2017-06-13 14:06] fpg1503 opened #361 "Option to lock generated files"
I think a `--lock` or `--autoLock` option (that automatically locks all the output files to avoid someone accidentally trying to change them) would be really nice.

[2017-06-13 19:37] Antondomashnev commented on #331
It seems we can close the issue.

[2017-06-13 19:37] #331 closed

[2017-06-13 19:38] Antondomashnev commented on #335
Thanks @jpsim 👍

[2017-06-13 19:38] #335 closed

[2017-06-14 16:06] grantjbutler commented on #344
It is an Objective-C exception which is being thrown. As far as I know, there's no way in Swift to catch an Objective-C exception. I believe that `NSKeyedUnarchived.unarchiveTopLevelObjectWithData(_:)` was introduced to address this (so that you get back an error in Swift instead of an Objective-C exception being thrown). That said, if Sourcery has a little bit of Objective-C to catch that excepti

[2017-06-14 16:08] ilyapuchka commented on #344
SwiftTryCatch that we use is supposed to catch Objective-C exceptions, but maybe we should adjust how we unarchive, thanks for suggestion

[2017-06-14 17:56] ilyapuchka commented on #359
== Uploading ZIP (11025533 bytes) ==

rake aborted!
Errno::EPIPE: Broken pipe
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/openssl/buffering.rb:319:in `syswrite'
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/openssl/buffering.rb:319:in `do_write'
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/openssl/buffering.rb:3

[2017-06-15 04:55] ilovezfs commented on #354
Unfortunately it looks like 0.7.1 still has this issue: https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/3039/version=sierra/console

[code]

[2017-06-15 06:08] Antondomashnev commented on #359
No it doesn't require more it's something else I'll dig into it soon.

[2017-06-15 08:10] ilyapuchka commented on #354
@ilovezfs how to reproduce this locally?

[2017-06-15 08:15] ilovezfs commented on #354
The Homebrew formula downloads and unpacks https://github.com/krzysztofzablocki/Sourcery/archive/0.7.1.tar.gz and then does this:
[code]

[2017-06-15 08:17] ilyapuchka commented on #354
Thanks, that's help. Now it's clear that the error is caused by the fact that we are now reading project version from build settings and when building with SPM it, of course, does not work. @Antondomashnev should we revert to our old approach or do you have any idea how to solve that?

[2017-06-15 09:06] Antondomashnev commented on #359
I've done some research on the issue. So far it seems that [this one](https://groups.google.com/a/cloudfoundry.org/forum/#!topic/vcap-dev/uHKx0jBknz0) is the closest one to our problem that it's because of a timeout while uploading. Also, we don't use here any dependency but in similar issue https://github.com/adhearsion/att_speech/issues/10 they suggest to use [Faraday](https://github.com/lostisl

[2017-06-15 12:10] Antondomashnev commented on #354
@ilyapuchka I've made a quick research across some projects with SPM support, it seems that everyone just hard code the version. So it seems we need to revert to the old code and also update the Rakefile. I can try to work on it this evening.

[2017-06-15 23:27] jpsim commented on #354
Here's how we set it for SwiftLint: https://github.com/realm/SwiftLint/blob/0.19.0/Makefile#L109-L115

Also see https://owensd.io/2017/05/29/version-info-in-swift-cli-tools/ for some other ideas

[2017-06-16 06:12] Antondomashnev commented on #354
@jpsim thanks, I think I've done almost the same idea 😄

[2017-06-16 22:50] Antondomashnev commented on #359
@ilyapuchka finally found the issue - check the https://github.com/krzysztofzablocki/Sourcery/commit/faf27a4b7e7f6d3673c4c937e1a74b0cdc296ba8 😄

[2017-06-17 06:09] ilovezfs commented on #354
:green_apple: for 0.7.2 https://github.com/Homebrew/homebrew-core/pull/14676.

Thanks for the fix!

[2017-06-17 06:09] #354 closed

[2017-06-17 07:07] Antondomashnev commented on #359
Let's keep it open until next release.

[2017-06-29 20:36] #355 closed

[2017-06-29 20:43] Antondomashnev opened #367 "Use full method name in AutoMockable template"
Current `AutoMockable` template doesn't work for the following example:
[code]

It generates:
[code]

And it has a collision `testResultCellCalled` and `testResultCellCalled` although they belong to different methods.

To exclude the collision we need to generate different name - we can use `selectorName` with some modification by removing `:` and `(`, `)`.

[2017-07-03 13:07] haimwaking opened #369 "Skip the generated preamble"
Hi,

I'm trying to use Sourcery to generate a plist file. However, because Sourcery always uses this preamble:

[code]

Xcode won't recognise this as a valid plist file. Is there a way to remove or at least customise this part?

[2017-07-03 13:09] ilyapuchka commented on #369
Hi, @haimwaking . If you use //sourcery:file:SomeFile.plist annotation in the template it will recognise that you are generting plist and will not put this comment (it does it only for *.swift files)

[2017-07-03 13:10] haimwaking commented on #369
You are a hero, thanks!

[2017-07-03 14:00] #369 closed

[2017-07-04 09:17] haimwaking opened #370 "Write files only on change"
Hi,

We have found that after code generation, Xcode will consider a file has changed even if the contents have not and recompile it. This means every build is slowed down. Does sourcery check for file difference before overwriting them? It would really speed us up and avoid us using bash scripts to use Sourcery.

Thanks

[2017-07-04 12:24] Antondomashnev commented on #370
Hi @haimwaking as I can see we write content only if it's different:
[code]

[2017-07-04 19:56] #336 closed

[2017-07-05 14:12] Bersaelor opened #372 "Optional rule preventing empty lines at the start of methods/closures"
So far we have `vertical_whitespace` with the `max_empty_lines` parameter.

There are plenty of places where empty lines are good to increase grouping.

One thing we have observed though and would like to prevent in our projects are empty lines at the beginning, like in
[code]
or
[code]

we don't think there is any reason to allow empty lines at the start of methods so I would like to propose a ne

[2017-07-05 14:15] #372 closed

[2017-07-06 10:51] krzysztofzablocki commented on #344
This might be obsolote, there was a bug when I introduced cashing initially that didn't track sourcery version properly and it would crash rather than recover, @grantjbutler does it happen with latest releases? e.g. have cache using newest version and try using a previous release

[2017-07-07 09:21] macduy commented on #370
Thanks Anton, I'll check again as we moved to handling this using bash scripts 😆 . If it works out of the box (and it sounds like it should), we'll migrate to using the config file. I'll test and get back to you if it doesn't work as expected.

[2017-07-07 09:21] macduy commented on #370
(You can close this for now)

[2017-07-07 10:00] #370 closed

[2017-07-09 01:53] dtartaglia commented on #316
I think this needs to be reopened. I'm using the cocoapod v0.7.2.

    {{ variable.typeName | lowerFirst }}

Does not produce a lowercased typename? (I just started using the tool, maybe I'm doing something wrong.)

[2017-07-21 19:38] milch opened #375 "Sourcery ignores output folder"
Hi,

For some reason, Sourcery seems to ignore my output folder completely. I've tried multiple ways of setting it:

- `.sourcery.yml`:
[code]
- CLI: `Pods/Sourcery/bin/sourcery --output ./Project/Generated`

Sourcery always puts my generated files into the root project folder. Everything else is picked up with no problem, it's just the output path that's wrong.

I'm using version 0.7.2 with swift

[2017-07-24 08:54] Antondomashnev commented on #375
Hi @milch I've tried to reproduce the issues you reported. To do so I created a sample [project](https://github.com/Antondomashnev/SourceryGeneratedCodeFolderIssue) with `swifttemplate`.
I integrated Sourcery and run it as a `RunScriptPhase`. After all, it's working fine.

May I ask you if this folder exists `Project/Generated/` in your project? Sourcery doesn't generate folder, if there is no one

[2017-07-24 10:08] Sajjon commented on #87
👍 for this! :D

I need to access all UIKit types (`UILabel`, `UIButton`...) and get all their properties that has setters and their types. How would I go about doing so?

@ilyapuchka @krzysztofzablocki I did not understand how I should use targets, https://github.com/krzysztofzablocki/Sourcery/pull/193 , to scan UIKit types? Is it possible somehow in the current release `0.7.2`?

[2017-07-24 10:17] ilyapuchka commented on #87
@Sajjon this is not supported and I'm afraid will be not possible to do for UIKit, as we will need to scan its sources (which are objc btw, so "no" right away, Sourcery can scan only swift sources) but they are not available.

[2017-07-24 10:23] ilyapuchka opened #376 "Support Objective-C sources?"
As Jazzy supports both swift and objc source code maybe it will be possible to get some code info for ObjC code?
@jpsim can you give some tips how ObjC support is implemented in Jazzy?

[2017-07-24 10:55] Sajjon commented on #87
@ilyapuchka What about scanning the Swift interface for UIKit types, as it sounded that @swizzlr suggested? When CMD clicking on e.g. `UITableView` we see this interface:

<details>
<summary>Swift Interface of ObjC code for `UITableView`</summary>
<p>

[code]
</p>
</details>

Is this Swift Interface generated by Xcode only when I CMD click? Surely it must be possible to find this interface somewhe

[2017-07-24 11:02] ilyapuchka commented on #87
I'm not sure how to access those headers out of Xcode.

[2017-07-24 11:31] krzysztofzablocki commented on #376
I really think we shouldn't attempt it, we should focus on Swift, we'd have to increase complexity of both implementation and user understanding if we wanted to support both languages.

Thoughts @Antondomashnev ?

[2017-07-24 11:41] ilyapuchka commented on #376
Agree, it will definitely increase complexity and  lead to all possible edge cases causes by interoperability. I'm just wondering if this is even possible technically and can it be done without actually interacting with Objective-C code, but instead using generated interface files.

[2017-07-24 12:45] Antondomashnev commented on #376
@krzysztofzablocki @ilyapuchka I agree about focusing on Swift language atm, especially until we reach 1.0 version. There are still plenty of issues open, and ObjC support is big step.

@ilyapuchka regarding even the possibility I don't know, but I see the limitation that we have to build sources before generating code using Sourcery and it can be chicken-egg problem. Sources require generated fil

[2017-07-24 18:27] Antondomashnev commented on #326
@ManWithBear, in the upcoming release you'd be able to write something:

Protocol
[code]

Template:
[code]

That will generate:
[code]

So you'd be able to distinguish between methods that are defined in extension or not. Moreover we have now the same for variables. Hope that will help you 😄

[2017-07-24 18:29] Antondomashnev commented on #158
@antonselyanin in the upcoming release `method` and `variable` will have the `definedInExtension ` property to be used in templates.

[2017-07-25 09:57] Antondomashnev opened #377 "Support methods and variables with ` symbol in AutoMockable template"
The following code:
[code]

Produces:
[code]

`AutoMockable` should be able to replace ` with empty symbol, so eventually It'll:
[code]

[2017-07-25 12:23] milch commented on #375
Hmm, I tried checking out your project to see if it would change anything, and to my surprise it seems to be working there! I've isolated the issue to be related to the `.sourcery.yml` file. If you drop the following file into your test project, the generated file will always be in the root irrespective of the parameters that you pass - even if the folder exists:

[code]

[2017-07-25 12:26] ilyapuchka commented on #375
Paths in the yml file should be relative to its own path. Is it the case?

[2017-07-25 12:27] milch commented on #375
Yes, they yml file is in the root of the project, and all the paths are relative to that.

If you pass the exact same parameters on the command line without the yml file, it works.

[2017-07-25 12:30] ilyapuchka commented on #375
try to remove `-` in output, it makes it treat as array and we don't support multiple output paths

[2017-07-25 12:32] milch commented on #375
Ah, yeah that works, thanks!

Maybe there should be some kind of diagnostic message if the config file is in the wrong format?

[2017-07-25 12:32] ilyapuchka commented on #375
yes, that would really help

[2017-07-25 12:33] ilyapuchka commented on #375
I'll create a separate issue to improve that

[2017-07-25 12:33] #375 closed

[2017-07-25 12:34] ilyapuchka opened #378 "Improve error reporting related to sourcery invocation"
When input parameters or yaml config file are misconfigured we should provide more extensive feedback to avoid issues like #375

[2017-07-25 17:34] jpsim commented on #87
Please don't parse the autogenerated Swift interfaces out of Xcode. It's error prone and you'd lose out on a lot of semantic information.

Instead, you could follow an approach similar to the one I described in https://github.com/jpsim/SourceKitten/issues/405 to get the structural info for all the public declarations in the same structural/typed format as you do today with structures from SourceKi

[2017-07-25 17:37] jpsim commented on #376
Jazzy doesn't really know the difference between Objective-C and Swift to be honest. Actually, it could be used to document _any_ language with similar features.

All the parsing work is done entirely in [SourceKitten](https://github.com/jpsim/SourceKitten). SourceKitten uses [SourceKit](https://github.com/apple/swift/blob/master/tools/SourceKit/README.txt) for all its Swift language features, and

[2017-07-25 17:43] ilyapuchka commented on #87
That's an awesome tip, thanks @jpsim !

[2017-07-25 18:18] Sajjon commented on #87
@jpsim Hey! Thanks for input, sorry but I did not fully understand, how can the issue #405, which is **closed** help me to retrieve information about properties for all UIKit types, such as `UILabel`, `UIButton` etc? Can you shed some light on how I would do it?

Any help is **greatly appreciated** ❤️

[2017-07-25 18:52] jpsim commented on #87
Have you read the whole thread? Let me know if there are any parts that you'd like clarified.

Note that jpsim/SourceKitten#405 is an issue on the SourceKitten issue tracker, not Sourcery.

[2017-07-25 21:45] ilyapuchka commented on #376
@jpsim we are using mostly `Structure` type provided by SourceKittenFramework, but how to make it work with Objective-C sources?

[2017-07-25 21:47] jpsim commented on #376
Some work in SourceKittenFramework would be needed to expose what you want for your use case. So far, SourceKittenFramework's only ObjC functionality is generating docs from `.h` files.

[2017-07-26 15:41] csykes opened #380 "Unable to reference files above the project root using `../` in the paths"
# Context
We've got an Xcode project that consists of multiple sub-projects + some common code base that sits at the root level of the meta-projects. We open the MetaProject.workspace file in Xcode and then select the sub-project's scheme to run/build. Sourcery ends up running from one of the child projects and reference files above it in the directory path. Prior to 0.6.0 we could just use `../`

[2017-07-27 07:43] krzysztofzablocki opened #381 "Tracking some statistics"
I think it would be cool to be able to show off some statistics:

- Number of projects using the tool
- Number of lines scanned
- Number of lines generated

I think we'd need to grab the plist identifier since its unique, and then just track 2 numbers along it

What do you think? Ideas for what backend should we use to store it? @ilyapuchka @Antondomashnev

[2017-07-27 07:51] Antondomashnev commented on #15
@ilovezfs I've been working on the task for Sourcery release process to submit a Homebrew PR and since I've never worked on formulas before I have one question:
In the [Homebrew CONTRIBUTING](https://github.com/Homebrew/homebrew-core/blob/master/CONTRIBUTING.md) is says that to bump the formula version the `brew bump-formula-pr --strict` should be used. Can I use instead of it the following comman

[2017-07-27 07:55] ilovezfs commented on #15
No, it will only run `brew audit --strict foo` and then open the pull request.

Before doing that you do the steps you posted above locally, and then revert the formula to its original state before running the bump-formula-pr command.

Note that audit should be run after install not before as mentioned in the PR template.

[2017-07-27 09:25] Antondomashnev commented on #15
@ilovezfs thanks for the tips. Can I open PR through the API post request like @orta mentioned in [CocoaPods app](https://github.com/CocoaPods/CocoaPods-app/blob/master/Rakefile#L1256-L1258)?

Will do so, thanks 👍

[2017-07-27 09:27] ilovezfs commented on #15
@Antondomashnev probably, but bump-formula-pr is easiest because it handles thinks like removing revisions from the formula.

[2017-07-27 20:12] damirstuhec commented on #306
@krzysztofzablocki Any updates on this? 🙇

[2017-07-28 07:24] Antondomashnev commented on #380
@csykes thanks for reporting it, we'll take a look into the issue soon 😄

[2017-07-28 07:36] Antondomashnev commented on #381
@krzysztofzablocki generally I think it sounds cool 👍
Regarding the plist identifier as we don't have access to the app itself, do you wanna introduce another command line parameter? I'd like to think about a way of how to grab the plist without asking the user for it.
* If the sourcery script invocation is a part of run phase we can get everything from environment variables
* If the sourcery was

[2017-07-28 09:08] krzysztofzablocki commented on #381
I was thinking of finding plist file, we could track performance metric as well, good idea :)

[2017-07-28 09:33] macduy commented on #380
We have a similar set up and we cannot use configuration files for the same reason :) We currently use horrible bash scripts which we'd love to move away from!

[2017-07-28 09:37] ilyapuchka commented on #380
with 0.6.1 (probably it should have been 0.7) paths in the yaml file are relative to the location of this file (before they were relative to the current path from which sourcery is called). can you confirm that yaml file is in a proper location @csykes @macduy ?

[2017-07-28 09:54] Antondomashnev commented on #381
@krzysztofzablocki what if the project has multiple plist files?

[2017-07-28 10:06] macduy commented on #380
Yep. I looked at the Xcode build errors and

[code]

and

[code]

would resolve to the same directory

[2017-07-28 10:08] ilyapuchka commented on #380
will it be the same with `./../templates`? I'll look into this issue on a weekend if this does not resolve it.

[2017-07-28 10:40] macduy commented on #380
Yep tried that too and it's the same problem

[2017-07-28 16:44] Sajjon commented on #87
@jpsim Yes I have read the thread, it sound like I should use a command `xcrun swift-ide-test`, which I fail to run. And running said (unavailable) command on some Xcode Project? But as I said this is unclear to me.

I would like access the interfaces (properties) of UIKit classes :)

[2017-07-28 17:42] jpsim commented on #87
No, I've highlighted programmatic ways in which to use SourceKittenFramework, from the command line too: https://github.com/jpsim/SourceKitten/issues/405#issuecomment-316490274

[code]

[2017-07-30 17:31] macduy opened #386 "// sourcery:file:<custom file name> ignored when generated file above ~150kB"
I've got a template `equatable.stencil` that defines the output file name at the start using

[code]

This creates a file `SourceryGeneratedEquality.swift` as expected. However if the generated file grows beyond a certain size (I estimated at around 150 kB), the name of the file reverts to the default `equatable.generated.swift`.

I've noticed this when I started added too many source files, witho

[2017-07-30 18:20] ilyapuchka commented on #380
@csykes  @macduy if you can add a PR with failing test it would help. I tried to reproduce this issue, but these tests pass:

[code]

[2017-07-30 18:54] #299 closed

[2017-07-30 19:17] ilyapuchka commented on #256
`module` property of `Type` is now public so can be used to implement this

[2017-07-30 19:17] #256 closed

[2017-07-30 19:25] #326 closed

[2017-07-30 19:25] ilyapuchka commented on #243
Done in #385

[2017-07-30 19:25] #243 closed

[2017-07-30 19:26] #203 closed

[2017-07-31 04:10] rex-remind101 opened #388 "Use Sourcery as a Dependency"
First off Sourcery looks amazing, thanks for all the hard work!

I require some meta-programming for a code generator I'm writing in Swift. I'm hoping I can use Sourcery for gathering a bunch of type info from my application and feed that into my code generator - what's the best way to include Sourcery's abstractions and runtime as a library dependency?

Thank you

[2017-07-31 08:20] ilyapuchka commented on #388
Hey @rex-remind101
You can try to include it as a Pod, but this use case is not supported, so I'm not even sure that it will work. But we can add it in future (extracting some code into framework that can be used by other code generators).

[2017-07-31 08:20] #275 closed

[2017-07-31 09:25] Antondomashnev commented on #388
@ilyapuchka don't we already have `SourceryRuntime`?

[2017-07-31 09:36] ilyapuchka commented on #388
This is just models, they alone are pretty useless for third parties. We need to provide parsing functionality and probably generation (basically templates and context types) as frameworks too. Like SourceKitten framework does. I was thinking about that for quite some time, I think its a valuable feature (there was an [attempt](https://github.com/krzysztofzablocki/Sourcery/issues/67) to do that in

[2017-07-31 09:46] Antondomashnev commented on #388
Now, it's clearer, thanks @ilyapuchka. I see that the issue was closed, although I think it may be useful not even in terms of additional CLI interface, but to simplify the Sourcery code itself. As with split modules I think it could be easier to maintain the codebase.

[2017-07-31 09:59] ilyapuchka commented on #388
Totally agree. And it will help with cleaning up test suite =)

[2017-07-31 17:38] rex-remind101 commented on #388
Thanks for the quick reply :)

For my personal use case I can get away with just parsing the source and storing it in the available models, I'll just use these models directly in my codegen project. I read through https://github.com/krzysztofzablocki/Sourcery/issues/67 and from as much as I gathered this would include moving the models and the parser (and their tests?) into their own framework. An

[2017-08-01 06:32] krzysztofzablocki commented on #388
if you can get away with just models, doesn't that mean you can just write templates to generate what you need? I'm curious what your generator does ?

[2017-08-01 18:12] rex-remind101 commented on #388
I need representations of the applications current data structures in order to inform my code generator. The generator initially takes an API schema and generates requests, mappings, and Realm model objects. Thing is there's a lot of custom things we do from handlers in our mappings, models, and requests (e.g. evicting certain objects from the DB or sending notifications across the app) that can't

[2017-08-01 18:13] rex-remind101 commented on #388
In other words we want to parse the requests, models, and mappings that currently exist in the app ahead-of-time and include what is tagged in there into our code generation process.

[2017-08-02 20:18] Antondomashnev commented on #325
@Sajjon could you please follow-up for @ilyapuchka's question?

[2017-08-02 20:25] rex-remind101 commented on #388
Thoughts on how I can best get this integration working?

[2017-08-02 20:29] ilyapuchka commented on #388
If you only need `SourceryRuntime` then just grab the project source code and link this framework to your project. I don't think it will be wise for us to provide any kind of integration (via any package manager) just for this framework.

[2017-08-02 21:41] rex-remind101 commented on #388
I'll need the parsing capabilities too which looks like they belong to https://github.com/krzysztofzablocki/Sourcery/tree/master/Sourcery and not `SourceryRuntime` plus all the dependencies. This looks like a lot of source code to drag into my project so I may give SPM a shot first since there's a `Package.swift` and do what you suggest if that doesn't work out. Thanks for the help :)

[2017-08-03 10:18] #358 closed

[2017-08-03 18:49] rafaelnobrepd opened #391 "LowerFirst filter fails for associated value type name"
Hey, this is an amazing project! I'm just beginning to  explore its possibilites.
Given this enum definition:
[code]

And this template:
[code]

The generated code is this:
[code]

Am I missing something? Reading the associatedValue type's name didn't properly lowercased the first letter.

[2017-08-03 18:52] ilyapuchka commented on #391
Hey, @rafaelnobrepd
I don't see the difference between code that generates write and wrong output, can you please check your description?

`let {{ case.associatedValues.first.typeName | lowerFirst }}Identifier = "this works"`
vs
`let {{ case.associatedValues.first.typeName | lowerFirst }}Identifier = "this fails"`

[2017-08-03 18:56] ilyapuchka commented on #391
Anyway, these filters only work on `String` types, `typeName` returns `TypeName`, that's why it does not work. `lowercase` filter from Stencil works on any type that can be converted to String, we should improve our custom filters the same way

[2017-08-03 19:02] csykes commented on #380
Haven't had a chance to build up a PR with failing tests but we've found that adding an additional `$SRC_ROOT/../` into the configuration file it eventually finds the correct file/directory.Why? Dunno... but at least its a workaround for now.

**Working .sourcery.yaml file:**
[code]

Given that we fetch the latest version of Sourcery from CocoaPods, we end up running the commands from that binary

[2017-08-03 19:05] ilyapuchka commented on #380
it works because `SRCROOT` is an absolute path in this case

[2017-08-03 22:08] csykes commented on #380
Forgot to highlight that even though its using an absolute path now it still requires one extra `../` to make it find the correct directory location.

I would have expected it to only need `../../` to move up the two directory levels to find the Templates or CommonCode from the SRC_PATH.

[2017-08-04 06:24] krzysztofzablocki commented on #381
@Antondomashnev good point, maybe using .xcodeproj is better, we need to streamline some things for this

[2017-08-04 11:59] rafaelnobrepd commented on #391
I'm sorry I had a typo, I meant `capitalize` in the first example. That's why then, some of those are filters from Stencil. I would be nice to support this way 👍

[2017-08-04 13:31] haimwaking commented on #302
I've run into this issue today, is there a resolution for this?

[2017-08-04 17:12] rafaelnobrepd commented on #391
Worked around with `{{ case.associatedValues.first.typeName.name | lowerFirst }}`. I don't know the API well enough yet 😞

[2017-08-05 11:09] ilyapuchka commented on #391
Exactly, though it's not a workaround, but the way this filter works

[2017-08-05 11:09] #391 closed

[2017-08-05 11:14] ilyapuchka commented on #386
That's a very weird bug. @macduy could you compile a source file that we can use to reproduce this?

[2017-08-05 15:41] guidomb opened #392 "How to detect if a type supports "==" operator?"
Maybe this was already addressed but it is not clear to me what is the proper way to detect in a template if a type can be tested for equality using the `==` operator.

In my template I tried adding the following condition: ```{% if instanceVariable.type.based.Equatable %}``` but types like `String` or `Bool` do not match such condition.

I skimmed through previous issues and people (and the docum

[2017-08-05 15:43] ilyapuchka commented on #392
@guidomb This is explained in the docs in section "What are known and unknown type" here https://cdn.rawgit.com/krzysztofzablocki/Sourcery/master/docs/writing-templates.html

[2017-08-05 15:48] guidomb commented on #392
@ilyapuchka thanks!

So is there any way to detect if a particular (either known or unknown) supports `==` operator?

[2017-08-05 15:50] ilyapuchka commented on #392
For now it is only possible for known types. For unknown types you can extend them with phantom protocol that you will use instead of `Equatable` - `extension String: ConformsToEquatable {}`

[2017-08-05 15:53] guidomb commented on #392
OK. I'll try that. Thanks the quick response.

[2017-08-05 15:53] #392 closed

[2017-08-07 07:58] Sajjon commented on #325
@ilyapuchka @Antondomashnev sorry for inactivity! We do not get any information at all since Sourcery does not work for UIKit types, but rather our own types, [as discussed here](https://github.com/krzysztofzablocki/Sourcery/issues/87#issuecomment-317377982).

So we can close this one.

[2017-08-07 07:58] #325 closed

[2017-08-07 21:50] Antondomashnev commented on #380
Hi @csykes @macduy I've been trying to debug the issue and I was able to reproduce it. After debugging further I found two things:
1. It seems to be a bug in [PathKit](https://github.com/kylef/PathKit) framework that we use in Sourcery with combining two relative path. I've reported it [already](https://github.com/kylef/PathKit/issues/35). It's related to the initial question from @csykes
2. I've

[2017-08-07 21:54] csykes commented on #380
Thanks for the update!

With the work around, our app is using the latest Sourcery version now so I've got no issues waiting this out.

[2017-08-08 12:39] Antondomashnev commented on #380
@ilyapuchka I think it makes sense to mention this limitation somewhere in the documentation for config file, what do you think?

[2017-08-10 16:37] ilyapuchka commented on #380
I think we should have some kind of FAQ with answers to common questions, then we can put it there.

[2017-08-13 09:35] tcldr opened #394 "--config flag doesn't work"
As far as I can tell, the `--config` param doesn't work as expected:

With two files with exactly the same content, one named `.sourcery.yml` and the other `application.yml`

Calling `./bin/sourcery`, works as expected and makes use of `.sourcery.yml`, whilst calling `./bin/sourcery --config application.yml` does not, reporting `error: No sources provided.`

Sourcery 0.8.0

[2017-08-13 12:52] ilyapuchka commented on #394
From [docs](https://cdn.rawgit.com/krzysztofzablocki/Sourcery/master/docs/usage.html): "--config [default: current path] - Path to config file. Directory. See Configuration file."

[2017-08-13 12:52] #394 closed

[2017-08-13 12:54] ilyapuchka opened #395 "Better support for path to configuration file"
Currently we only support path to location of configuration file meaning it's directory, not file paths. We should accept file paths too so that different configurations files from the same directory can be used.

[2017-08-13 13:15] tcldr commented on #394
@ilyapuchka I think it would make more sense to be able to select a file rather than a directory.

The docs say "Path to config file. Directory." which is pretty confusing!

If this means what it appears to mean; that I must specify a *directory* for Sourcery to look for a specific *file* named `.sourcery.yml`. I'm not sure what the use-case could be? This is effectively still a file path, just on

[2017-08-13 13:26] ilyapuchka commented on #394
That's just how it works now. See #395

[2017-08-18 12:41] #378 closed

[2017-08-18 12:42] Antondomashnev commented on #359
I've made last `0.8.0` release without issues, so closing issue for now.

[2017-08-18 12:42] #359 closed

[2017-08-18 20:47] tcldr opened #398 "Fully resolved type names for AssociatedValue"
Hi, I've extended the AutoCases template to extract the associated values from an enum case (useful in a filterMap for example) but I can't see how to get the fully resolved type names for associated values, when that value is generic.

e.g with a structure like so:
[code]

The 1st `AssociatedValue` for `MyContainer.MyValues.valueC` is a `MyContainer.MyOption <Int>`. However, calling `typeName` on

[2017-08-19 10:11] ilyapuchka commented on #398
we don't yet provide complete support for generics, but that issue might be addressed when #247 will be complete.

[2017-08-20 20:28] ilyapuchka commented on #395
Resolved with #396

[2017-08-20 20:28] #395 closed

[2017-08-22 13:23] danielr opened #399 "Option to disable output of version number in generated files header"
For those people who like committing the generated files to version control (yes, I'm aware of the pros and cons), it would be great to have the option to exclude the version number from the header of the generated files. Otherwise every upgrade of Sourcery leads to meaningless changes in the working copy:

[code]

I guess this could be either a command line option, or an option in the config file

[2017-08-22 14:52] Antondomashnev commented on #214
As far as I can see from the code, we can close this issue, could you confirm it please?

[2017-08-22 14:55] ilyapuchka commented on #214
Nope, it was never done and to be honest, I'm not sure how to approach this, especially in terms of templates api.

[2017-08-22 15:14] Antondomashnev commented on #214
Wasn't it resolved with `module` and `globalName` properties on `Type`? I can see in `Composer` that it has the `modules` dictionary to collect types by module name.

[2017-08-22 15:27] ilyapuchka commented on #214
it collects, but I don't think it properly distinguish types mentioned in scanned code. Because if you have two types named the same from different modules what type we should assign to the declaration depends on the current scope of the file, what is being imported. Unless you use full type name. And other issues like how to mention these types in the templates. If you mention it by type name wit

[2017-08-22 15:43] Antondomashnev commented on #214
I think this should be done on the client's shoulders. So in the template there should be somehow information which module to use. But I got the point that this is not done yet.

[2017-08-22 15:45] Antondomashnev commented on #399
Hi @danielr I see your point, but from my perspective the version is something that may help eventually, as a reference I see that CocoaPods, for example, also writes version that generated `Podfile.lock`.

@ilyapuchka @krzysztofzablocki what do you think about it?

[2017-08-22 16:02] krzysztofzablocki commented on #399
I agree with @Antondomashnev, its helpful to have version there

[2017-08-22 16:31] Antondomashnev commented on #235
@ilyapuchka could you elaborate on your idea to have `typealiases mapped to their names via typealias property`?

[code]

[2017-08-23 08:34] Liquidsoul opened #400 "0.8.0 Zip release shows 0.7.2 as its version"
Hi there,

I downloaded the 0.8.0 zip version of Sourcery and when running `bin/sourcery --version` from the unzipped folder, it prints `0.7.2`.

Is this still the new code showing the incorrect version? Or just the previous version?

[2017-08-23 12:55] BenchR267 opened #401 "Add isDeinit in Method"
There are a lot of getters to determine if a `Method` is an initializer, but there is no one for detecting if it's a `deinit`. Would be great to have it in addition.

[2017-08-23 13:51] BenchR267 commented on #400
The Info.plist also shows 0.7.2. I think it wasn't built again before releasing.

[2017-08-23 14:32] BenchR267 opened #402 "Add isFinal to Type"
Especially for generating mock subclasses it is very important if the type is final (because then it's not possible). I don't see a possibility do determine this from the type Type, so I would like to suggest adding it.

[2017-08-24 14:55] garnett opened #407 "AutoMockable produces strange method names"
0.8.0, latest stencil template:

[code]
I don't quite undertand `stencil` syntax, just wanted to confifrm if having `_ _ _` in method names is expected behaviour

[2017-08-24 15:07] ilyapuchka commented on #407
I think with #368 this template now replaces `,:()` characters with `_`, though we should probably use empty string instead, @Antondomashnev ?

[2017-08-24 15:23] Liquidsoul commented on #407
Looking at the code, I can confirm that with #368, characters `:` and `(` are replaced by `_` and `)` is replaced by empty string.
Maybe we can just use empty string for all the characters. At the same time, maybe we could factorise the stencil's code using a `macro` instead of repeating the replacement code.

[2017-08-24 15:37] Antondomashnev commented on #407
@Liquidsoul @ilyapuchka you're right guys, but I've tried the empty string and for me it looked worse. Maybe if we can combine the empty string with capitalized first letter of first method parameter - i'll look better.
I can take a look on it, how we can make it better.

@Liquidsoul regarding the macro - there is one clear downside for me that prevented me to use them - macro always requires a ne

[2017-08-24 15:39] ilyapuchka commented on #407
@Antondomashnev combining capitalization and empty string seems like a way to go for me.
P.S. swift templates do not have "new line problem" 😉

[2017-08-24 19:38] Liquidsoul commented on #407
@Antondomashnev As long as you do not include the newline in the macro you can do that.
I've just tried it on the AutoMockable template and it works pretty well.
Declare the macro like this:
[code]

And replace all:
[code]
with:
[code]

And you'll have your _replace_ routine in only one place 😃

[2017-08-24 19:43] Antondomashnev commented on #407
Amazing, thanks @Liquidsoul

[2017-08-24 20:13] Liquidsoul commented on #400
I've updated the binary in the 0.8.0 release with a build from the 0.8.0 tag.
The release still contains the zip initially uploaded when the release was created (`Sourcery-0.8.0-initial.zip`).
I'll let the issue open a while for other collaborators to stop by before closing the issue (and maybe remove the initial zip).

[2017-08-24 21:10] Antondomashnev commented on #400
Thanks @Liquidsoul for fixing my mistake 😄 I've checked `info.plist` of new file and it contains correct version. I'm still thinking how the issue appeared as we have all process automated and it worked fine...

[2017-08-24 21:10] #400 closed

[2017-08-24 21:12] Antondomashnev commented on #399
@danielr I think we should keep the version number, and I really think it may help your team eventually 😄

[2017-08-24 21:40] Antondomashnev commented on #402
Hey @BenchR267 it's indeed may be useful 😄
On the side note, could you share how you generate mock subclasses? Do you use `AutoMockable` template?

[2017-08-24 21:52] Antondomashnev commented on #402
Regarding the issue, as far as I can see: `method`, `variable` and `class` already have `isFinal` property. Have you tried to use it?

[2017-08-26 20:13] ilyapuchka commented on #401
Resolved with #408

[2017-08-26 20:13] #401 closed

[2017-08-26 20:19] ilyapuchka commented on #402
@BenchR267 as @Antondomashnev correctly noted you can use `isFinal` property of [Class](https://cdn.rawgit.com/krzysztofzablocki/Sourcery/master/docs/Classes/Class.html#/s:vC15SourceryRuntime5Class7isFinalSb), [Method](https://cdn.rawgit.com/krzysztofzablocki/Sourcery/master/docs/Classes/Method.html#/s:vC15SourceryRuntime6Method7isFinalSb) or [Variable](https://cdn.rawgit.com/krzysztofzablocki/Sou

[2017-08-26 20:19] #402 closed

[2017-08-26 20:19] #388 closed

[2017-08-27 08:26] BenchR267 commented on #402
Mu current approach was this: (not working for all cases and maybe protocol mocks would be a better idea)

[code]

For a class like this:

[code]

it would generate a mock-class like this:

[code]

[2017-08-30 00:39] ahti opened #411 "TypesCollection subscript return type should be [Type]"
`TypesCollection[...]` currently returns `Any?`, which makes it painful to use in Swift templates. is there a reason for this, or could it be changed to return `[Type]` (defaulting to `[]` if nothing is found)?

[2017-08-31 15:47] Antondomashnev commented on #411
Hi @ahti, thanks for your question. We'll take a look at what's possible to do to improve the experience 😄

[2017-09-03 22:46] ilyapuchka commented on #411
@ahti solved with c40efe60d3044e43164e12ecddf1f797d7da176b

[2017-09-03 22:46] #411 closed

[2017-09-03 22:49] ilyapuchka commented on #399
Agree too, having version is valuable.

[2017-09-05 23:18] sidmani commented on #87
I had this issue too, and I solved it with a shell script that saves the generated interfaces as intermediary files and then gets sourcery to generate the code based on those. See [https://github.com/sidmani/Chain](my repository), specifically generate.sh; if anyone has advice on how to make it less hacked-together, I'd love to hear it.

[2017-09-05 23:30] ilyapuchka commented on #399
What we can do though is to provide an option to set custom header (with an option to set a version with a placeholder). It can

[2017-09-07 19:44] garrett-davidson opened #412 "Sourcery ignores command line arguments when .sourcery.yml exists in current directory"
I just started trying out Sourcery (prebuilt binary of 0.8.0) and ran into a very confusing issue. I created a test .sourcery.yml file in the root directory one of my projects, but it didn't do quite what I wanted (my fault). So I tried playing around with the command line arguments while cd'ed into that root directory, but couldn't figure out why nothing I tried was having any effect. Eventually

[2017-09-14 11:57] yoavschwartz commented on #353
Came here looking for this :) I have been working with swift 4 for a while now, and for 95% of the objects I have to write `CodingKeys` by hand to override one or 2 of the keys, and about 50% I need to write `initFromDecoder` by hand since some verification/processing of data is needed. I don't think `Codable` will kill Sourcery's usability for JSON parsing, I think it will probably be 10 times mo

[2017-09-15 15:05] oscarsilver commented on #357
Any progress on this?

[2017-09-17 23:25] kdawgwilk opened #415 "A tag I am needing that simplify my template drastically is `if item in list`"
I am unable to find in the docs if this is possible but I would like to be able to use the following in my templates:

[code]

[2017-09-18 10:11] ilyapuchka commented on #415
Hi @kdawgwilk
This is a very good suggestion, but as it is related to [Stencil](https://github.com/kylef/Stencil) we should do it in Stencil repo or at least in [StencilSwiftKit](https://github.com/SwiftGen/StencilSwiftKit).

[2017-09-18 12:29] igorkravchenko commented on #357
@ilyapuchka could you please upload build for Xcode 9 in Swift 3.2 mode?

[2017-09-18 16:33] ilyapuchka commented on #357
I think it will make sense just to do new release

[2017-09-18 21:26] #407 closed

[2017-09-18 21:38] Killectro commented on #357
👍 from me as well, newly integrating Sourcery and would love to have a 3.2 compatible mode as well. I'm very thankful for how much time you're going to save me going forward from now on 😄

[2017-09-20 02:08] allewun opened #417 "Sporadic Failures: exit code 132"
The project I'm working on uses Sourcery for two of its targets, which build frameworks that are then linked into the main app.

Our team has been noticing that Sourcery frequently fails during compilation. Simply re-compiling immediately after getting the error resolves the issue. However, it happens often enough to cause friction. It occurs on multiple machines and on CircleCI for our CI builds,

[2017-09-20 07:44] Antondomashnev commented on #417
Hi @allewun, thanks for creating an issue. I'll try to take a look at it today.

[2017-09-20 08:34] ilyapuchka commented on #417
@allewun do you use stencil or swift templates?

[2017-09-20 11:11] vCrespoP commented on #357
+1 Please, thx!

[2017-09-20 15:22] allewun commented on #417
@ilyapuchka We are using 3 stencil templates: AutoCases, AutoEquatable, and AutoHashable.

[2017-09-20 19:48] allewun commented on #417
It looks like these crashes are being logged (Console > User Reports). Here's the latest one:

[code]

[2017-09-20 20:00] allewun commented on #417
Digging a bit... For each Sourcery crash log, there's a corresponding SourceKitService crash log at the same timestamp:

[code]

[2017-09-20 22:00] Antondomashnev opened #418 "Update for new version of Swiftlint"
The new [0.2.2](https://github.com/realm/SwiftLint/releases/tag/0.22.0) of SwiftLint fails the build with:
`Superfluous Disable Command Violation`

Although it may be false positive according to the [issue](https://github.com/realm/SwiftLint/issues/1810) we still need to take a look at it as for now CircleCi doesn't have SwiftLint installed for all Sourcery builds.

[2017-09-21 10:10] haimwaking opened #419 "`exclude` does not work when using `project` in config file"
#Hi,

I have this configuration
[code]

Sourcery fails to run because it tries to find files under `Project/Classes/Generated` which have not yet been created.

[2017-09-21 12:50] krzysztofzablocki commented on #419
you don't need to exclude files that are generated with Sourcery, it does that automatically

[2017-09-22 13:36] va1da opened #420 "Sourcery doesn't work with Apollo GraphQL generated API.swift"
Hi,
I'm using Sourcery to generate methods for GraphQL API.
Currently as generated API.swift is about 710 KB Sourcery gets stuck (eats all my RAM and then available disk space).

I understand that there are a lot of types in API.swift, but even though, it could work on 8GB RAM notebook?

Anyone having similar issue?

Xcode 9
[API.swift.zip](https://github.com/krzysztofzablocki/Sourcery/files/13246

[2017-09-22 21:52] ilyapuchka commented on #420
Thanks for providing this example, we can use it in future for performance testing. For now I think Sourcery code is just not optimised to deal with very big amount of data.

[2017-09-25 12:30] Liquidsoul opened #421 "default.profraw file created when running Sourcery 0.9.0"
A `default.profraw` file is created when running Sourcery at its 0.9.0 version.
I tried with 0.8.0 and this does not happen.

[2017-09-25 22:14] Antondomashnev commented on #419
Hi, @haimwaking was the answer helpful? If so could you close the issue?

[2017-09-26 12:54] haimwaking commented on #419
So that is the behaviour I observed when using `sources` but not `project`. I'm guessing the problem might be in the `pbxproj` file referencing those generated files, that they might not exist at first?

[2017-09-26 12:55] haimwaking commented on #419
Our temporary solution was to have a hard-coded script to `touch` the generated files before running sourcery, which won't scale in the future.

[2017-09-26 15:21] Sajjon opened #423 "Cocoapods: Sourcery 0.9.0 fails to run"
I cant run Sourcery when installed via pods, Sourcery 0.9.0 that is.

[code]

Any input? :)

[2017-09-26 22:45] Antondomashnev commented on #423
Hi @chriseidhof I've tried to reproduce the issue, but without luck. If you don't mind could you check how [FBSnapshotsViewer](https://github.com/Antondomashnev/FBSnapshotsViewer) uses the latest Sourcery from CocoaPods and share more details on your usage - like a run phase script.

[2017-09-27 07:47] Sajjon commented on #423
This is on Sierra 10.12.6 (16G29), using Xcode 9 GM seed and Bundler version 1.15.3 and cocoapods (1.3.1)

[2017-09-27 08:01] Antondomashnev commented on #423
Would you be able to try to install or update bundle for the project I've provided above?

[2017-09-27 08:31] Sajjon commented on #423
@Antondomashnev Yes that project worked.

I manually removed Pods/Sourcery and ran `bundle exec pod installl` again, and now it works! :D

So pods must have cached some old files? I performed a `rm -rf ~/Library/Caches/CocoaPods` but not `rm -rf Pods/Sourcery`.

Thanks!

[2017-09-27 08:31] #423 closed

[2017-09-27 12:03] Antondomashnev commented on #423
@Sajjon sounds amazing 🎉
I guess there could be some cache issues, maybe you can post the question in the CocoaPods repo as it may be interesting for them 😄

[2017-09-27 14:26] danielr opened #424 "Provide full type information for unwrappedType"
Currently, `TypeName.unwrappedTypeName` returns a `String`. I'd argue that it should return a `TypeName` object, which encapsulates the whole type information of the unwrapped type. While this might not make a huge difference for normal optionals (because the unwrapped type info is available as part of the optional type directly), it does make a difference for double-optional variables. Currently

[2017-09-28 18:06] andrewcl commented on #417
Any updates on this? I too am getting a failure w/ this same message

[2017-09-28 18:12] ilyapuchka commented on #417
In case you are using caching (it's on by default) please try to disable it and see if failures continue.

As this is paired with SourceKitService crashes I suspect this service itself is the point of failure, not Sourcery or SourceKitten that we use to communicate with SourceKitService. In this case it can be something specific related to your code base that makes it crash (I would expect it to c

[2017-09-28 18:16] andrewcl commented on #417
I just did a fresh install of 0.9.0. Would the caching still be relevant in this case?

Currently I'm switching between Xcode 8.3.3 and Xcode 9 so perhaps that's creating issues w/ SourceKitService?

[2017-09-28 18:21] ilyapuchka commented on #417
We shouldn't use caches from previous version, but I would still disable caching at least for first run.
In case of switching Xcode's if that would be the reason I guess failures would be constant, not random.

[2017-09-28 18:33] andrewcl commented on #417
It's switch b/w Xcode's for my case since the failures are constant. What would be a solution for resolving the SourceKitService issues in this case? Kill and restart SourceKitService?

[2017-09-28 18:36] ilyapuchka commented on #417
Might help. In my case during migration I had to restart mac OS just to make Xcode build the project after versions switch.

[2017-09-28 18:43] andrewcl commented on #417
Hmm, no go w/ a fresh restart and disabling caches. Any other solutions I should try?

[2017-09-29 15:26] mergesort commented on #421
I'm seeing this as well.

[2017-09-30 11:04] Antondomashnev commented on #419
[SourceryTest.zip](https://github.com/krzysztofzablocki/Sourcery/files/1346349/SourceryTest.zip)
@haimwaking check out the project I've attached to the comment. It seems it has a configuration file with `project` but it doesn't fail and I don't need any `touch` command as a workaround.

[2017-09-30 22:11] #415 closed

[2017-10-01 09:25] Antondomashnev commented on #421
I don't think it's something that we should look into. As far as I understand this is a file with information about tests results.

[2017-10-01 09:27] #380 closed

[2017-10-01 09:28] Antondomashnev commented on #357
Done with [0.9.0 release](https://github.com/krzysztofzablocki/Sourcery/releases/tag/0.9.0)

[2017-10-01 09:28] #357 closed

[2017-10-01 10:57] #377 closed

[2017-10-01 10:58] Antondomashnev commented on #337
As soon as https://github.com/SwiftGen/StencilSwiftKit/issues/64 is merged we can start removing filters from Sourcery in order to use from `StencilSwiftKit`

[2017-10-01 11:26] Liquidsoul commented on #421
My point is that this is creating a file in the users' repository for nothing.
As far as I know, we are not executing "tests" when we use Sourcery to perform the code generation 😉

[2017-10-01 21:17] Antondomashnev commented on #421
Ah, sorry @Liquidsoul I misunderstood the task, I thought you mean if you run `Sourcery.xcworkspace`. In case of the user - you're right 👍

[2017-10-01 21:38] AliSoftware commented on #337
StencilSwiftKit 2.2.0 just got released to CP, including your PR to fix https://github.com/SwiftGen/StencilSwiftKit/issues/64 👍

[2017-10-01 21:53] Antondomashnev commented on #337
👍

[2017-10-01 23:35] ilyapuchka commented on #412
This is expected behaviour. What we can surely improve is to add logs telling that yaml file is used and switch to using comand line arguments if they are provided
@Antondomashnev wdyt?

[2017-10-02 08:45] haimwaking commented on #419
Hi @Antondomashnev, thanks for looking into this. That project does not reference the generated files though, which seems to be a problem. Try this one, it will repro the problem above:

[SourceryTest.zip](https://github.com/krzysztofzablocki/Sourcery/files/1348326/SourceryTest.zip)

[2017-10-02 20:48] Antondomashnev commented on #302
Hey @haimwaking @samskiter check out the https://github.com/krzysztofzablocki/Sourcery/pull/425

In the next Sourcery release you'll be able to use `toArray` filter to convert any value into array.

[2017-10-02 20:48] #302 closed

[2017-10-03 00:02] haimwaking commented on #302
Cheers for that, looking forward!

[2017-10-03 19:54] Antondomashnev commented on #412
@ilyapuchka I'd personally see two options:
1. Override configuration value if there is a value directly provided in command
2. Throw exception if there is a conflict between configuration and command line argument

I'm not sure about the first option, although this is the behavior I'd want to have for me personally as a developer.
The second option may sound like an overkill for the design though

[2017-10-03 19:56] ilyapuchka commented on #412
I think it will make sense to override options of config file is specified explicitly, not when it is discovered automatically, what do you think? but to be honest I wouldn't override at all to make it simpler.

[2017-10-03 20:05] Antondomashnev commented on #412
What do you mean by discovered automatically?

Have you seen by any chance this overriding behavior somewhere?

[2017-10-03 20:12] ilyapuchka commented on #412
By automatically I mean that we have a default value for config path parameter which is current path and we have a default name for the config file to search for, so thus the behaviour described by @garrett-davidson.
Regarding overriding behaviour I don't think I saw it anywhere. I think it will be more straight forward if we use one or another way and just print out a hint to the user about it.

[2017-10-04 08:15] Antondomashnev commented on #412
Yes, if Sourcery finds command line parameter and configuration file warn the user about possible collisions.

Absolutely agree 👍

[2017-10-04 18:07] jpsim commented on #418
SwiftLint now ignores SwiftLint commands in `file_header` rule as of https://github.com/realm/SwiftLint/pull/1816, which shipped as part of [0.23.0](https://github.com/realm/SwiftLint/releases/tag/0.23.0)

[2017-10-04 19:35] #418 closed

[2017-10-05 08:13] Liquidsoul commented on #417
@andrewcl do you have any unicode characters in the code you parse with Sourcery? (like emojis)
I've just had an error that seems like the one you're having and the issue was related to emojis introduced in the code.
This may not be related at all, but since you do not seem to have a workaround yet, I thought this may be related?
Hope this helps!

[2017-10-10 09:54] ivira commented on #421
We have similar problem and setting _CLANG_ENABLE_CODE_COVERAGE = NO_ for release build solved the problem.

[2017-10-10 16:16] Antondomashnev commented on #421
@ivira thanks for the tip 😉

[2017-10-15 18:58] makadaw commented on #324
+1 for this feature. This can be not so important in mobile apps but can be if you want to split SPM project with different modules.

[2017-10-17 11:53] radianttap opened #427 "Nested enum types"
I'm trying to generate `AutoEquatable` for enum nested in another type, like this:

[code]

I can see these types present in `types.enums`, but not in `types.implementing.AutoEquatable`. Is this a bug or expected behavior..?

[2017-10-17 13:01] krzysztofzablocki commented on #427
is `AutoEquatable` definition in your scanned sources?

[2017-10-18 11:39] radianttap commented on #427
Darn :(

I had this sourcery.yml:
sources:
 - iosapp

while the protocol declaration was in DataModel folder. Will try again, thanks

[2017-10-18 11:39] #427 closed

[2017-10-20 07:11] #376 closed

[2017-10-20 07:11] krzysztofzablocki commented on #376
Closing this as we want to focus on Swift

[2017-10-20 07:12] krzysztofzablocki commented on #15
is there anything left or do we close this? @Antondomashnev @ilyapuchka

[2017-10-20 07:12] #344 closed

[2017-10-20 07:13] krzysztofzablocki commented on #386
let us know if it still happens with newest Sourcery and we'll reopen

[2017-10-20 07:13] #386 closed

[2017-10-20 07:14] krzysztofzablocki commented on #420
@va1da I'll take a look, can you share the template you have been trying to use for it?

[2017-10-20 07:15] krzysztofzablocki commented on #337
I'm closing this as we already have pr for it #426 and I want to cleanup issues

[2017-10-20 07:15] #337 closed

[2017-10-20 20:34] Antondomashnev commented on #15
@krzysztofzablocki the only missing thing is a real test on the new release step.

[2017-10-23 13:41] rob-nash commented on #333
How would you write an initialiser. I got this so far. Struggling.

[code]

[2017-10-23 13:45] ilyapuchka commented on #333
@rob-nash I guess you are on the right path, you just need to do the similar loop in the body of init to set variables.

[2017-10-29 10:49] tcldr opened #429 "`actualTypeName` does not return fully qualified type name for closure types"
When using Sourcery to extract closure types, it would be useful if Sourcery would extract fully qualified (actual type names) for all parameters and the return type also. Currently this must be done manually.

[2017-10-31 12:36] Sajjon commented on #380
I too have problems relating to not being able to use relative paths in my Config file. Any update?

[2017-10-31 13:34] va1da commented on #420
[GraphQLQuery.stencil.zip](https://github.com/krzysztofzablocki/Sourcery/files/1430868/GraphQLQuery.stencil.zip)

[2017-10-31 17:11] artyom-razinov opened #430 "NSRegularExpression bug in parseAnnotations"
Hi.

There is an issue in `parseAnnotations(...)`. If I write too much code between `// sourcery:file:` and `// sourcery:end:` it skippes those annotations and doesn't put code in right files.

I localized the bug. The attachement contains scripts to reproduce this bug in Sourcery, also there is playground that shows that NSRegularExpression fails to find ranges.

[bug.zip](https://github.com/krzy

[2017-10-31 23:05] ilyapuchka commented on #429
Hi, @tcldr . Did you have a look into `ClosureType` [here](https://cdn.rawgit.com/krzysztofzablocki/Sourcery/master/docs/Classes/ClosureType.html)? It should give you everything you need.

[2017-11-01 12:02] tcldr commented on #429
Hi @ilyapuchka, thanks for response.

Yes, ClosureType has everything required. In case someone else requires it and finds this post down the line, I used the following macros:

    {% macro printClosureParams params %}({% for value in params %}{% call printTypeName value.actualTypeName %}{% if not forloop.last %}, {% endif %}{% endfor %}){% endmacro %}
    {% macro printClosure closure %}({% call

[2017-11-01 12:06] #429 closed

[2017-11-01 14:03] ilyapuchka commented on #429
Maybe we can have a collection of snippets like that somewhere in the docs, or maybe even as stencil templates along with others that then can be included in other templates.

[2017-11-01 14:05] tcldr commented on #429
I think that would be really useful. It took me quite a while to get up to speed with all the various features, particularly with stencil, so a resource that we could reference would be handy.

[2017-11-01 14:06] tcldr commented on #429
Sourcery Cookbook or something.

[2017-11-01 14:10] ilyapuchka commented on #429
@krzysztofzablocki maybe we can open PR where people can submit their small snippets like that?

[2017-11-01 14:10] tcldr commented on #429
Sounds good to me.

[2017-11-01 14:11] krzysztofzablocki commented on #429
sounds good to me as well

[2017-11-01 14:11] tcldr commented on #429
Is the github wiki any use for something like this?

[2017-11-01 14:11] krzysztofzablocki commented on #429
wiki might be even better for FAQ and snippets

[2017-11-01 14:12] ilyapuchka commented on #429
in my opinion it's not very friendly for collaboration, but still can be an option

[2017-11-01 14:15] tcldr commented on #429
Whatever you guys decide. Will be delighted to add my small contribution!

[2017-11-01 19:58] jconst opened #432 "Crash in specific edge case involving unicode characters"
While processing my small file [Matrix.swift](https://gist.github.com/jconst/9e56b8e4cc8a16f741850c7d2b1323df) (a pared-down version of [Surge](https://github.com/mattt/Surge)'s [Matrix.swift](https://github.com/mattt/Surge/blob/master/Sources/Surge/Matrix.swift)) as a source (not a template), Sourcery gave me this error:

[code]

Removing the non-ascii characters in my `description` getter fixed

[2017-11-03 19:56] rex-remind101 opened #433 "Cannot build using Xcode 9"
I cloned the repo and attempted to build using the Sourcery scheme but received the following error
<img width="891" alt="screen shot 2017-11-03 at 12 54 17 pm" src="https://user-images.githubusercontent.com/4573957/32393332-4ba2fbbc-c096-11e7-9ae1-9d3c839e1776.png">

How can I fix this?

[2017-11-04 23:07] ilyapuchka commented on #432
Hi, @jconst
I looked into this issue and it seems like bug in SourceKit.

With your code snippet it returns the same length for case statement no matter how many white spaces are used in the string _after_ interpolation. So it might be even not related to unicode as it is only reproduces with string interpolation. You can reproduce that with this command:

`sourcekitten structure --text 'class Foo

[2017-11-06 04:46] jpsim commented on #432
Can you please file an issue on SourceKitten so we can look into this?

[2017-11-06 10:19] ilyapuchka opened #434 "Release with Xcode 9.1"
As Xcode 9.1 ships with Swift 4.0.2 which is not ABI compatible with Swift 4 we need to make a release built with it so that swift templates continue to work. I guess few next releases should contain both binaries, built with Swift 4 and Swift 4.02 to support those who updated and not at the same time.

[2017-11-07 14:35] vCrespoP commented on #434
+1

[2017-11-07 14:36] buscarini commented on #434
+1

[2017-11-09 00:05] felix91gr opened #435 "Is Linux supported?"
Hi! I think I might want to use Sourcery for a Linear Algebra library I’m making with a friend. Thing is, we want to make it for both Linux and Mac OS. Would it be possible to use Sourcery in our project?

If not, tell me if and how I can help to make this happen :)

[2017-11-10 01:44] lucabartoletti opened #436 "Is possible to use a template inside another template?"
I'm testing Sourcery and I really like it.

During my experiments I was trying to automate the following scenario as a test

For each class that adopts a certain protocol, I want to use sorcery to create a `struct B` that has the same property of A and has an init that gets a reference to an instance of A and than populates its property with A's property

My .stencil is:

[code]

Is there a way to

[2017-11-10 14:06] ilyapuchka commented on #436
@lucabartoletti yes of course, you can use Stencil's own `include` tag for that http://stencil.fuller.li/en/latest/builtins.html#include

[2017-11-10 14:08] ilyapuchka commented on #435
Hey @felix91gr . Linux is not supported yet, we have already request for that, it has some tips. Let's use it if you wish to work on that. https://github.com/krzysztofzablocki/Sourcery/issues/306. Also I think this issue https://github.com/krzysztofzablocki/Sourcery/issues/305 will be an important milestone for to support Linux

[2017-11-10 14:09] #435 closed

[2017-11-10 14:49] felix91gr commented on #435
Ohh. I’m working on porting SourceKittenDaemon to Linux. In the way, I’ve forked a FileSystemWatcher that we could use.

I’ll set aside some time this summer (I’m in Chile — it’s spring atm). I hope we can port it without too much hassle :)

[2017-11-10 15:04] felix91gr commented on #306
We’re using [this watcher](https://github.com/felix91gr/FileSystemWatcher) to add support for Linux in SourceKittenDaemon. It’s a wrapper of the `inotify` C library present in the Linux kernel + a basic daemon.

[2017-11-10 15:06] felix91gr commented on #306
Ponyboy47, the guy behind the original wrapper, has been developing a new FS Watcher [here](https://github.com/Ponyboy47/inotify). The guy really knows what he’s doing, so maybe that’s a better option. We’ll see.

[2017-11-10 23:52] lucabartoletti commented on #436
Thanks, I think that what I'm trying to achieve is not possible with the current implementation. I pushed   #437

[2017-11-11 00:11] mathieutozer commented on #434
+1

[2017-11-11 13:18] #436 closed

[2017-11-12 19:55] rodrigoruiz commented on #421
I don't think this issue was fixed, I'm still seeing that file.

[2017-11-13 08:56] krzysztofzablocki commented on #433
I assume you are building workspace not pbxproj right ? this builds just fine for me (and the project CI)

[2017-11-13 08:56] #430 closed

[2017-11-13 08:58] krzysztofzablocki commented on #417
@Liquidsoul this might be related to #432

[2017-11-13 09:08] #398 closed

[2017-11-13 13:44] alexanderbalaban opened #438 "Problem with JSExport.ejs"
I use Sourcery binary builded by myself. If I remove this file from "Copy Bundle Resources" stage, everything becomes ok.
Xcode 9.1, Swift 4.0.2

[code]

[2017-11-13 13:50] ilyapuchka commented on #438
@alexanderbalaban where do you see this? I've just run it myself and it works without errors. Note that Sourcery itself needs Swift 3.2, it will not build with Swift 4.0 without some changes.

[2017-11-13 13:51] ilyapuchka commented on #434
Have some issues running rake task for new release. Will investigate them later or perform steps manually.

[2017-11-13 14:00] alexanderbalaban commented on #438
@ilyapuchka looks like a problem with new xcode.
This is an output from command-line prompt.

[2017-11-13 14:06] alexanderbalaban commented on #438
@ilyapuchka JSExport.ejs is a part of Sourcery application.
[code]

[2017-11-13 14:18] ilyapuchka commented on #438
Do you need this template to your code generation? If not just add it to excluded templates or don't copy it to your templates path. I'll take a look why it fails.

[2017-11-13 14:19] alexanderbalaban commented on #438
@ilyapuchka no, I don't need it. Left an issue just to notify about it.
Thanks!

[2017-11-13 15:31] ilyapuchka commented on #438
So for some reason `Proxy` is misbehaving, not proxying calls to undefined keys to custom implementation that should handle this kind of situations (having no types implementing protocol used in template) without errors. As soon as there is at least one type that implements, in this case `AutoJSExport`, it stops failing and generates expected code. Can't provide any workarounds right now so will k

[2017-11-14 14:49] beretis commented on #419
Hi @krzysztofzablocki is it somehow possible to disable this? Or to generate file without

[code]
I'm generating DTO classes for CoreData entities and I would like them to implement AutoEquatable. Currently i'm running sourcery script twice, one will auto generate DTOs and second should add AutoEquatable but sourcery is ignoring that because of that comment.
Thank you

[2017-11-14 15:07] krzysztofzablocki commented on #419
@beretis your use-case will be possible when #437 gets merged

[2017-11-14 22:45] BNTR opened #440 "Broken link for 'Types' in 'Writing templates' guideline"
Hello! While reading this guideline
https://github.com/krzysztofzablocki/Sourcery/blob/master/guides/Writing%20templates.md
I found that link for 'Types' is broken. I think it should be fixed somehow =)

[2017-11-16 09:30] ilyapuchka commented on #440
Closed with #442

[2017-11-16 09:30] #440 closed

[2017-11-16 13:23] lucabartoletti commented on #419
@beretis #437 is now merged

[2017-11-16 14:09] beretis commented on #419
@lucabartoletti thank you :). Now I just have to wait for new version release, or to build Sourcery from source right?.

[2017-11-17 16:56] tengyifei commented on #434
+1

[2017-11-19 14:23] maximkhatskevich opened #443 "Sourcery generates unwanted files"
Sourcery generates unrequested empty files named using standard naming scheme "<TemplateName>.generated.swift" even when these files are empty or not needed at all. Those templates contains custom target file name instructions. The expected files are being generated, but also those empty files are being generated sometime. It only happens sometimes, usually when I'm making changes in those templat

[2017-11-19 14:25] ilyapuchka commented on #443
@maximkhatskevich do you use `prune` flag?
`--prune [default: false] - Prune empty generated files`

[2017-11-19 14:27] maximkhatskevich commented on #443
@ilyapuchka yes, I do. Again, the issue is not about empty files, it's about writing default named files as well as custom named.

[2017-11-19 14:30] ilyapuchka commented on #443
Can you provide an example of what files you are expecting to be generated and what you don't expect and what file annotations you use in templates?

[2017-11-19 14:51] maximkhatskevich commented on #443
Template file looks like this:

{% for type in types.implementing.ConcurrentProcess %}
// sourcery:file:{{ type.name|replace:".","_" }}_Base.swift
// some Swift code here...
// sourcery:end
{% endfor %}

[2017-11-19 14:57] maximkhatskevich commented on #443
The template file is named "MyTemplate.stencil". In a swift file I have a type named "MyType" conforming to 'ConcurrentProcess' protocol. I expect Sourcery to generate only "MyType_Base.swift" file, but it also generates "MyTemplate.generated.swift" file. And same with each template.

[2017-11-19 19:51] ilyapuchka commented on #443
When running with watcher with verbose option can you see any error messages in those unneeded generated files?

[2017-11-19 20:07] maximkhatskevich commented on #443
@ilyapuchka normally these files only contain data like this:

[code]

[2017-11-19 20:09] maximkhatskevich commented on #443
Same happens with Sourcery runs with "--verbose --prune --watch"

[2017-11-19 20:13] maximkhatskevich commented on #443
Also I noticed that any changes in templates (since last time source code has been generated from templates) trigger creation of these unneeded files. After they are created - if I delete these unneeded files, then "undo" any changes that I've just made in the template and save it - the template will be processed normally and only expected file will be updated with recent template, the unneeded fi

[2017-11-19 20:14] maximkhatskevich commented on #443
Of course the above happens only when Sourcery is running as daemon. When run manually - each time it works as expected.

[2017-11-19 20:24] ilyapuchka commented on #443
Thanks. Until we find the reason for that I would suggest to add those unneeded files to your `.gitignore`

[2017-11-19 22:39] beretis opened #444 "variable.isOptional doesnt work"
Hi, I'm trying to generate DTOs objects for CoreData Entities which implements Unboxable protocol. I need to generate init(unboxer: Unboxer). Problem is that for some reason my if condition is passing for both cases (isOptional and !isOptional)
Here is my template:
[code]

Here is my Entity class:
[code]
and here is the output of template:
[code]
What is extremely confusing for me that exact same

[2017-11-20 07:41] ilyapuchka commented on #444
@beretis you should use `{% if ... %} ... {% else %} ... {% endif %}`, with single curly braces, not double.

[2017-11-20 08:16] #444 closed

[2017-11-21 09:05] Antondomashnev commented on #421
Resolved with #445

[2017-11-21 09:05] #421 closed

[2017-11-22 08:13] #412 closed

[2017-11-22 20:57] krzysztofzablocki commented on #443
The thing is that when we use Watcher mode and we'd remove those files then your editor might stop seeing them, and I think thats why there is a difference between watcher and regular mode, I vaguely remember I made that choice when I implemented it

[2017-11-24 01:22] rodrigoruiz commented on #353
Any updates on this? Especially `Codable` for `enum`s.

The [Codable Enums](https://littlebitesofcocoa.com/318-codable-enums) from documentation doesn't show how to use Sourcery to implement it as it claims, it only shows how to manually make an `enum` `Codable`.

[2017-11-27 18:01] onmyway133 opened #446 "How to list all extensions ?"
Hi, nice library 👍 . I'm looking for way to list all extensions declared in a certain file, or all extensions on a certain type (like UIView, Int, ...). I want to list extensions made in the project only, not extensions from UIKit or some other standard libraries.

I see https://cdn.rawgit.com/krzysztofzablocki/Sourcery/master/docs/Classes/Types.html that there is `extensions` but I don't know how

[2017-11-28 10:30] krzysztofzablocki commented on #446
This should work to list all extensions:

[code]

[2017-11-28 10:33] onmyway133 commented on #446
@krzysztofzablocki Nice 👍 It works. And how can I list all methods on this extension type (declared in this project only) ?

[2017-11-28 10:41] krzysztofzablocki commented on #446
just use the Type docs and iterate same way as above to get all variables / methods

[2017-11-28 20:37] onmyway133 commented on #446
@krzysztofzablocki It is `allMethods` and `computedVariables`. I begin to like Sourcery. Great stuff 💪

[2017-11-28 20:37] #446 closed

[2017-11-29 09:19] dented42 opened #447 "Sourcery doesn't expose subscripts"
Sourcery doesn't seem to give templates a way to look at the subscripts belonging to a protocol (or any other type). This means that when trying to, say, make a type erasing template that generates AnySomething from specially annotated Something protocols, if Something contains a subscript then there's no way to interrogate that information from the template which makes generating anything that co

[2017-11-29 22:50] Antondomashnev commented on #433
@rex-remind101 this is the issue because you don't have the file that named `Xcode_9.0.0_fb.app`. That was my mistake to push it to the master. Now master has the correct path.

[2017-11-29 22:50] #433 closed

[2017-11-29 22:53] Antondomashnev commented on #420
@krzysztofzablocki FYI I've checked it a while ago and because there are plenty of nested of levels of recursion here:
[code]
It ends up consuming a huge amount of memory.

[2017-11-29 23:10] ilyapuchka commented on #447
@dented42 This may be tricky to implement as we only get parameters information from SourceKit and we will need to somehow understand which parameters belong to which subscript ,as there is again no such grouping in SourceKit response.

[2017-12-01 23:20] ZevEisenberg opened #448 "Extra file.zip when installing with CocoaPods"
#### What version of Swift are you using (swift --version)?

[code]

#### What did you do?

Added `pod 'Sourcery'` to my Podfile and ran `pod install`.

#### What did you expect to see?

No extra files in Pods/Sourcery.

#### What did you see instead?

Pods/Sourcery/file.zip is a 12.7 MB file which appears to contain a copy of Sourcery. I don't think is needed for a CocoaPods install, since the So

[2017-12-04 09:52] krzysztofzablocki commented on #443
given you mentioned those files contain status entry, and looking at the source code I can only see this scenario happen if the generation would throw an exception, that exception would then prevent us from rewriting output (which also deals with prunning).

@ilyapuchka that makes sense right? if the stencil file isn't finished and file is saved, it can generate an exception that would prevent pru

[2017-12-05 10:25] ilyapuchka commented on #443
@krzysztofzablocki might be, but not so sure. I think a file should not be written to if generation fails, so if it was removed before that on a previous pass it should not be created again in case of exception in a template. What might happen though is that deletion of a file may fail because it is in use by some other process, i.e. editor.

[2017-12-05 11:21] Cellane commented on #443
I'm also experiencing this issue when using [this set of templates](https://github.com/nodes-vapor/sourcery-templates) for Vapor. I can't see any error message being thrown in the console but the simple fact that these files are created (and filled with `STATUS: Generating code...`) makes the whole project uncompilable.

For now, I'm using `watch sourcery` as a workaround but I'd appreciate if the

[2017-12-05 11:44] krzysztofzablocki commented on #443
@ilyapuchka the thing is that status message are written to file separately, and then if generation fails the output phase that does pruning never executes, which is what I think is happening

[2017-12-05 11:48] ilyapuchka commented on #443
Maybe we can find a better way to report those statuses? Maybe just in console, printing out what templates changed and what generated files were updated?

[2017-12-11 15:05] DenHeadless commented on #421
Guys, how about releasing this as 0.9.1 update? Seems like necessary bugfix update, this file is changing it's content and showing in git diffs everytime. Requires constant attention and raises questions every time.

[2017-12-11 17:02] Antondomashnev commented on #421
@DenHeadless thanks for raising that question. I'll try to release it tonight.
@krzysztofzablocki @ilyapuchka @Liquidsoul  anything we want to add particularly for the release?

[2017-12-11 17:39] Antondomashnev commented on #421
@ilyapuchka will try.

[2017-12-11 23:12] wildthink opened #454 "Determining the source file and line number of an element"
Is it possible to access the source file and line number (and possibly the span) of an element identified by sourcery?

For example, I would like to emit the source file and line numbers for identified types and enums in order to build an external index (URL jump table as it were) that an external tool could use to open the original source code and jump to the appropriate line.

Thanks.

[2017-12-11 23:31] Antondomashnev commented on #421
@DenHeadless done =)

[2017-12-11 23:33] Antondomashnev commented on #434
The last release was by using Xcode 9.2.

[2017-12-12 07:48] DenHeadless commented on #421
Thanks guys! Confirmed this fix works 🍻

[2017-12-13 16:33] Sethuraman opened #457 "How do I include the generated swift files into the Xcode automatically?"
Hi,

I have got my sources generating to a folder inside my project. This is my .sourcery.yml file
[code]

How to add any file getting created inside the GeneratedCode folder into the Xcode project automatiically? I have a Run Script section that generates my sourcery code for me.

Thanks
Sethu

[2017-12-13 16:35] krzysztofzablocki commented on #457
Adding new generated files to pbxproj automatically? we don't support this, you'd have to use something like https://github.com/venmo/synx

[2017-12-13 17:44] ilyapuchka commented on #457
I think it will do the opposite, remove files not included in the project.
But i think we can add this feature, we already use a pod that reads project file, it should support editing too. What do you think?

[2017-12-13 21:46] krzysztofzablocki commented on #457
Do you want to tackle that? It's something few people asked for before

[2017-12-13 21:53] ilyapuchka commented on #457
I'de like to play with it. The main concern I have so far is changing something in currently opened Xcode project.

[2017-12-13 21:59] krzysztofzablocki commented on #457
Xcode should recognise it, it does when appcode changes the project

[2017-12-14 11:24] Lutzifer opened #458 "Version 0.10.0: Unknown filter 'replace'"
I can no longer use the replace filter since 0.10.0

Was it removed accidentally?

[2017-12-14 11:57] Lutzifer commented on #15
seems to work, @Antondomashnev  ?

[2017-12-14 13:29] Antondomashnev commented on #15
Well, during the last release I had to do it manually and it didn't work in the `rake release:new`. But the error was related to my laptop's configuration and I don't think it's a generic error.

[2017-12-14 15:14] rymcol commented on #458
Same for 'hasPrefix'

[2017-12-14 15:19] rymcol commented on #458
If you're affected by this and using `homebrew` you can always `brew switch sourcery 0.9.0` temporarily until there is a fix presuming 0.9.0 was installed previously.

[2017-12-14 16:40] tomlokhorst commented on #457
I assume you're talking about my project [XcodeEdit](https://github.com/tomlokhorst/XcodeEdit). Unfortunately it currently doesn't support _editing_ of xcodeproj files.

You can use another tool to edit the project.pbxproj file, it is an old-style plist file. So even a tool like `plutil` should work. XcodeEdit can then be used to reserialize the file to the format Xcode uses, to prevent a giant gi

[2017-12-14 21:41] Lutzifer commented on #458
I will have a deeper look at that tomorrow

[2017-12-15 09:16] #448 closed

[2017-12-15 09:18] krzysztofzablocki commented on #458
@Antondomashnev any idea why that would happen ?

[2017-12-15 09:37] Lutzifer commented on #458
it does work, if I call sourcery from Xcode and add the arguments in the scheme, but not if installed via mint or brew

[2017-12-15 12:05] Antondomashnev commented on #458
@krzysztofzablocki @Lutzifer not sure what happened. If @Lutzifer will not be able to find a reason I will try to check on the weekend.

[2017-12-15 13:03] natanrolnik commented on #458
Same happening here with `contains`. Let me know if there is more info I can provide. Sourcery 0.10.0.

[2017-12-15 13:22] Lutzifer commented on #458
Seems to me as if the SwiftPM build is resolving quite an old Version of StencilSwiftKit:

[code]

@Antondomashnev might this be the cause?

[2017-12-15 13:49] Antondomashnev commented on #458
@Lutzifer that looks like the source of the problem, yep. I can force update the `0.10.0` with the correct SPM dependencies most likely later tonight.

[2017-12-17 13:03] krzysztofzablocki commented on #454
We don't track that information right now, I'm not sure if its something we want to support. Thoughts on this? @Antondomashnev @ilyapuchka @Liquidsoul @lucabartoletti

[2017-12-17 13:04] #434 closed

[2017-12-17 13:24] krzysztofzablocki commented on #15
Ok, I'm closing this then, and we'll see if something has to be tweaked on next release

[2017-12-17 13:24] #15 closed

[2017-12-17 13:29] krzysztofzablocki commented on #419
@beretis we had a release since then so the newest one should work

[2017-12-17 13:31] krzysztofzablocki commented on #417
I'm going to close this for now as this is almost certainly related to the 432, we'll revisit once Apple fixes their bug

[2017-12-17 13:31] #417 closed

[2017-12-17 15:55] #443 closed

[2017-12-17 16:23] Cellane commented on #457
Alternatively, there's already the [xcproj](https://github.com/xcodeswift/xcproj) project, a Swift library that already supports reading, updating and writing Xcode project files. It also seems that it's been somewhat battle-tested in other projects, maybe Sourcery could take advantage of that?

[2017-12-17 17:06] ilyapuchka commented on #454
It wouldn't be hard to implement, though it seems to me as a bit out of scope, unless we want Sourcery to be a tool not just for code generation but for getting source types information for more generic purposes in a better form than raw SourceKit output.

[2017-12-18 08:27] krzysztofzablocki commented on #454
yeah I think the same, I'd rather keep this focused. I'll close this then

[2017-12-18 08:27] #454 closed

[2017-12-18 09:22] 1078966324 commented on #457
你好 ，我是中国人。

[2017-12-19 09:21] Antondomashnev commented on #458
Update: sorry for the delay, I've been sick past days. Will try to release today.

[2017-12-19 09:31] Lutzifer commented on #458
changing the versions as in https://github.com/Lutzifer/Sourcery/tree/fix_versions did it for me.

Also, we should update version to 0.10.1 instead of doing a force update.

[2017-12-19 11:42] Antondomashnev commented on #458
@Lutzifer I was planning to do a new version since we have some new things to share already.

[2017-12-19 23:19] Antondomashnev opened #463 "Danger doesn't have access to the PR from circle"
In #450 we missed the `CHANGELOG` changes, that usually caught by Danger, but the CI was green. After checking the logs I found:
[code]

So probably something has changed, so Danger lost access to the PRs.

[2017-12-19 23:27] Antondomashnev commented on #458
The release is done. Could please somebody checks 😄

[2017-12-20 08:30] Lutzifer commented on #458
@Antondomashnev works when installed using mint

[2017-12-20 11:31] natanrolnik commented on #458
@Antondomashnev I tried updating it via homebrew and 0.10.0 is still the latest version. Was 0.10.1 released?

[2017-12-20 15:49] RomanTysiachnik opened #464 "Issue with deprecated custom templates from docs"
In 0.10.0 update some of the filters, that we use in our project were dropped, because of they just duplicate existing filters in StencilSwiftKit. And obviously I've got that error on CI after release:
`Unable to find filter "upperFirst"`
The only solution is replacing it on `capitalize` which has worked, when upperFirst and upperFirstLetter couldn't be found. But capitalize differs from upperFirs

[2017-12-20 15:52] RomanTysiachnik commented on #353
Well you can't make enum Codable by default right now. And yeah, it would've been great not to write decode and encode for each enum, especially when you have a lot of them in hierarchy. Or at least to generate them.

[2017-12-20 16:23] krzysztofzablocki commented on #464
Those filters should still work, there was an issue in previous release that broke them temporarily but they should work in newest one

[2017-12-20 16:23] krzysztofzablocki commented on #464
It should work in https://github.com/krzysztofzablocki/Sourcery/releases/tag/0.10.1

[2017-12-20 16:25] RomanTysiachnik commented on #464
Well maybe it should, but the homebrew still pulls the 0.10.0

[2017-12-20 19:01] krzysztofzablocki commented on #464
@RomanTysiachnik homebrew has manual approval process for formulas, we are still waiting for approval

[2017-12-21 09:58] krzysztofzablocki commented on #463
something else had to happen on that PR, that message is expected since we didn't add bot as the user of the repo per http://danger.systems/guides/faq.html#danger-is-not-posting-to-github-prs-but-everything-looks-fine

I refreshed the api token anyway, you can see that danger commented on #461

Lets keep an eye on it for next pr in case its still funky

[2017-12-21 09:58] #463 closed

[2017-12-21 15:17] #447 closed

[2017-12-21 22:52] FranciscoAmado opened #465 "Watcher mode terminating with error"
Hey there!

I was using Sourcery `0.10.1` and when trying to use the `--watch` option It terminated with an error.

* I'm using a simple _.sourcery.yml_
* 2 simple `.stencil` files, one is empty
* The base command runs fine and generates the files well.

Watcher mode output
[code]

If any of these is worth:
normal output
[code]

_.sourcery.yml_ file
[code]

Btw, thanks for Sourcery 👍

[2017-12-22 12:36] ilyapuchka commented on #438
Actually it's not related to proxy, which works fine, its related to some internal implementation details when accessing unknown types. Resolved in the linked PR.

[2017-12-22 12:47] ilyapuchka commented on #457
@Cellane I was also looking into xcporj, it could be an option to migrate to it.

[2017-12-23 12:47] #438 closed

[2017-12-25 10:41] RomanTysiachnik commented on #464
@krzysztofzablocki thanks, I'll check tomorrow and will tell you if everything actually works.

[2017-12-28 16:40] ZevEisenberg opened #467 "sourcery:inline:auto does not regenerate if deleted"
See [video](https://cl.ly/oZPK) and corresponding [sample project](https://cl.ly/oYxX).

Steps to reproduce:

1. Open the attached sample project in Xcode.
1. Build the project. Observe that memberwise `init`s are generated for the `Post` and `Person` types.
1. Delete the memberwise `init`s from both types. Maybe you wouldn't normally do this, but I did it a lot while getting my Sourcery template

[2017-12-28 16:54] ilyapuchka commented on #467
@ZevEisenberg thanks for amazing report! And nice to see swift templates being used =)

Looking at the code it seems like this behaviour is expected as we are using original content of the file when checking sources cache. This content is read before inline code is inserted. So after you delete it if there are no changes we will not rerun generation again.
Otherwise cache will always mismatch in c

[2017-12-29 08:38] krzysztofzablocki commented on #467
@ilyapuchka I think that cache shouldn't play part in deciding whether we should write the code again, we ignore the code between inline markers for parsing (as we should) but the code should always be written as it might have changed due to template or other files changing

[2017-12-30 10:27] Liquidsoul commented on #467
After digging into it a bit, I think the issue is more of a Cache bug than something we should change in the current process.
When Sourcery cannot find the `inline:auto` block, it'll try to find the body of the `Type` to insert it. But when run from the cache, it cannot get the body location.
It seems that the `__parserData` information on the `Type` here is not restored correctly when read from t

[2017-12-31 01:24] slashmo opened #470 "Argument containing number wrapped in String is treated like number"
`swift --version`

## What did you do?
I use Sourcery to generate a config file containing secret keys such as the Facebook App ID based on arguments passed into the `sourcery` command.
An example of a template for such config file could look like this:
[code]

Now someone could use the following command to generate the Swift file:

[code]

## What did you expect to see?
After running the above co

[2017-12-31 01:34] ilyapuchka commented on #470
@slashmo thanks for report.
Try to put single quotes `'` inside double quotes. Should work while we are fixing this.

[2017-12-31 01:39] slashmo commented on #470
@ilyapuchka Thanks for the quick response. The trick with the single quotes works indeed. 👍

[2018-01-02 12:23] #464 closed

[2018-01-02 12:25] krzysztofzablocki commented on #465
Honestly, never saw that error before, did it just happen with new version or did it happen with previous one as well? (could you check?)

[2018-01-02 21:18] csykes commented on #464
Not sure this is completely fixed yet as I'm seeing this shell script error with the `0.10.1` cocoapod files (same project works fine with `0.9.0` cocoa pod files)

[code]

We've got a build phase running this command `"${PODS_ROOT}"/Sourcery/bin/sourcery` with a .sourcery.yml file:
[code]

The error is coming from this `mocks.stencil` template file:
[code]

[2018-01-02 21:32] ilyapuchka commented on #464
@csykes it is `upperFirstLetter`

[2018-01-02 21:40] csykes commented on #464
Yep, that fixed it!
Thx for the quick turnaround.

[2018-01-02 21:43] ilyapuchka opened #471 "Custom filters discoverability"
@krzysztofzablocki @Antondomashnev I have an idea how to improve discoverability of custom filters (and any other Sourcery API) that I saw in some other project. It's not the first time when we get reports where users use wrong filter names, and I myself not very familiar with all filters available in SwiftStencilKit. I wanted to implement something like this https://github.com/xcodeswift/sake/pul

[2018-01-02 21:46] ilyapuchka commented on #471
Another idea is to add `diagnose` command to print out some information about stencil environment

[2018-01-03 08:37] krzysztofzablocki commented on #471
that would be very helpful, I think it makes sense to add it to Stencil direct as it would know that someone tried to use unknown filter

[2018-01-03 09:27] krzysztofzablocki commented on #465
Ok, It seems like there is a problem with fsevents when dealing with a large amount
of files on OSX sierra, I'm investigating

[2018-01-03 09:39] Antondomashnev commented on #471
I like the idea and it will definitely help in some cases. I agree with @krzysztofzablocki that it makes sense to add directly to Stencil and I think adding another type of error shouldn't be an issue. On the other hand, I think to have docs with all supported filters would be nice to have - list with Sourcery filters only, link to the StencilSwiftKit filters documentation and link to Stencil filt

[2018-01-03 11:04] Liquidsoul commented on #467
I've looked into it and the issue is located in the [decoding](https://github.com/krzysztofzablocki/Sourcery/blob/master/SourceryRuntime/Sources/Type.swift#L306) of the `__parserData` in `Type`.

#### The problem

Initially, we assign a `[String: SourceKitRepresentable]` value with `SourceKitRepresentable` being Swift [`Array`](https://github.com/krzysztofzablocki/Sourcery/blob/master/Pods/SourceK

[2018-01-03 11:16] Mazyod commented on #458
I don't think it was fixed for homebrew users. I updated today, and ran into the same problem.

[2018-01-03 11:22] krzysztofzablocki commented on #467
@Liquidsoul @ilyapuchka the problem is that we are using `__underlyingData` inside Type extension, I vaguely remember that wasn't my intention for this (which is why its double underscored and private to FileParser).

Wouldn't all of this be fixed if we removed that method that relies on it, and instead just injected the body range as a proper argument? __underlyingData doesn't need to be cached

[2018-01-03 13:34] Liquidsoul commented on #467
@krzysztofzablocki Yes, that was my idea too, moving the information we use from `__parserData` to `Type` itself.

In fact, It seems that `Type` is the only `Parsable` item where we encode `__parserData`. All other objects skip it.
From the history, it seems it was done for swift templates caching. We'll need to check for regressions there if we stop encoding it.

I'll work on moving the `__underl

[2018-01-03 14:30] krzysztofzablocki commented on #467
@Liquidsoul but that property isn't used in any sources in the project other than the `bodyBytesRange` Type extension, don't move it, mark it as fileprivate and only use it in `FileParser`, the only change we need is to inject `bodyBytesRange` value to the `Type` rather than relying on `__underlyingSource`

Unless I'm misreading something this should be all thats needed, thoughts @ilyapuchka ?

[2018-01-03 14:46] ilyapuchka commented on #467
It is used in two places as I can see, FileParser.swift:34 and FileParser.swift:249 to extract ranges for declaration body and key. If we get these ranges at parsing time and just store them in Type, we would not need to store the whole source (we can have a method that calculates all the ranges we might be interested in from Substring enum). I don't see __parsedData being used anywhere at all by

[2018-01-03 15:00] krzysztofzablocki commented on #467
@ilyapuchka the second use-case is the proper one, as that property is used to simplify Parsing, it should only be used for parsing, never ever should we use it for anything in any of our Types.

@Liquidsoul can you just replace the `bodyBytesRange` by injecting the value into the Type (at the end of parsing), and mark the parserData not codable ?

[2018-01-03 15:12] ilyapuchka commented on #470
I think it's not a bug but a detail of `ProcessInfo().arguments`, it removes quotes. So the proper way to pass in strings will be to escape then like this `--args authServiceID=\"12345314134574513745\"`
I'll add this to the guides.

[2018-01-03 15:12] #470 closed

[2018-01-03 16:02] Liquidsoul commented on #467
@krzysztofzablocki That's what I am working on. I'm just having some issues with SwiftTemplates tests. Context decoding seems to fail with the introduced `BytesRange` used in `Type.bodyBytesRange`.

[2018-01-03 17:51] #467 closed

[2018-01-04 04:22] #465 closed

[2018-01-04 07:15] jpsim commented on #458
Correct, the homebrew version wasn't updated

[2018-01-04 09:08] FranciscoAmado commented on #465
Just saw this now, thanks for the work 👍

[2018-01-04 09:13] Antondomashnev commented on #458
Will have a look, thanks for reporting it.

[2018-01-04 22:51] Antondomashnev commented on #458
@jpsim @Mazyod the [PR](https://github.com/Homebrew/homebrew-core/pull/21905) in brew has not been merged yet.

[2018-01-08 14:38] djbe opened #476 "Interpolate environment variables in config"
For a current project, I'd like to point to the generated core data files, which are located in
```.../Library/Developer/Xcode/DerivedData/MyProject-ejmewwsnckjibvevfqzrcrvqxxxv/Build/Intermediates.noindex/My Project.build/Development-iphoneos/My Project.build/DerivedSources```
(or some variation thereof). For now, I can run sourcery via command line `--sources $DERIVED_SOURCES_DIR` parameters, bu

[2018-01-09 07:29] krzysztofzablocki commented on #476
@djbe I can see how that could be useful for other people, do you want to take a try at implementing that?

[2018-01-10 17:30] ignazioc opened #479 "Improve automockable template to support clousure parameter"
I'm using this version of the AutoMockable.stencil
https://raw.githubusercontent.com/krzysztofzablocki/Sourcery/master/Templates/Templates/AutoMockable.stencil

When a protocol contains a method with a clousure parameter like this:

[code]

The generated code looks like this

[code]

The issue is that the clousure is not executed and the parameters of the clousure cannot be overridden. The solutio

[2018-01-10 17:49] krzysztofzablocki commented on #479
hey @ignazioc, usually you are unit testing that the makeCall was called and with what arguments, calling closure automatically doesn't have a lot of merit if the mock is fully generated.
Normally you'd just call `makeCallCompletionReceivedCompletion` closure with your arguments ? after mocking if you wanted to have more complex unit tests.

Can you share some example tests you are using?

[2018-01-10 21:05] ignazioc commented on #479
The idea behind is similar to what the template already does with functions with a return value.

[code]
being able to set the `fullNameReturnValue ` makes possible to write tests where the `fullName` function returns different values.

A clousure is often uses as an async _return value_ therefore I would like to be able to customize this response.

Let me make one stupid example:
`` `swift
protoc

[2018-01-10 21:17] ilyapuchka commented on #479
If completion block is stored in mock then can you call it manually after calling your method under test?
I'm afraid trying to automate this scenario will complicate already complex template. At least we will somehow need to distinguish what closure should be called in the mocked method and create variables for all its parameters.

[2018-01-11 08:14] krzysztofzablocki commented on #479
I agree, and like I said it's easy to call the received closure by hand.

If someone needs more complicated mocking there is a project using Sourcery that does build much more powerful mocking API https://github.com/MakeAWishFoundation/SwiftyMocky

[2018-01-11 08:14] #479 closed

[2018-01-13 04:46] kdawgwilk opened #481 "AutoMockable fails to generate valid code for protocols with associatedTypes"
I am not sure what the best solution is for generating code in this scenario.  Any ideas how we could handle this?

[2018-01-13 11:44] ilyapuchka commented on #481
Yes, we are not parsing associated types information at all at this moment. But it should suffice if you generate all the code that lets compiler to infer this type. In my practice I rarely needed to specify typealias for associated type explicitly. Do you have an example of not working code?
We are parsing typealiases though, but this is not yet documented as we maybe need to add something there

[2018-01-13 11:49] werediver opened #482 "@objc attribute is not detected"
As of Sourcery v0.10.1 it doesn't show `@objc` attribute on protocols.

For example:

`Something.swift`
[code]

`Automockable.stencil`
[code]

`Automockable.generated.swift`
[code]

If I dump the entire `{{ type }}` there are no signs of `@objc` as well.

Is it fixable?

[2018-01-13 11:51] ilyapuchka commented on #482
@werediver I'll take a look at that right now, thanks for reporting

[2018-01-13 17:59] #482 closed

[2018-01-13 21:54] kaygro opened #485 "Method extraction broken for classes"
There seem to be several problems with parsing of function headers:
- Void isn't always contained in returnTypeName
- returnTypeName only conatins first line  of function declaration if it ends in a multiline where clause

I included an example

swift --version
Apple Swift version 4.0.3 (swiftlang-900.0.74.1 clang-900.0.39.2)
Target: x86_64-apple-macosx10.9

Input.swift:

`
class SomeClass{

	func

[2018-01-13 22:00] ilyapuchka commented on #485
Thanks for reporting this @kaygro. Can you please rephrase issue description to focus more on failing cases?

[2018-01-13 22:02] ilyapuchka commented on #485
Also note that Sourcery does not yet have full support for generics, so i.e. they are not supported in methods. That's why first two examples produce unexpected result.

[2018-01-13 22:12] kaygro opened #486 "types.all doesn't include protocols"
As far as I know, protocols are types in swift,
 but types.all doesn't seem to include them.
I included an example.

swift --version
Apple Swift version 4.0.3 (swiftlang-900.0.74.1 clang-900.0.39.2)
Target: x86_64-apple-macosx10.9

input.swift:

class SomeClass{}

protocol SomeProtocol{}

template.stencil:
//hmm
{% for type in types.all %}
{{ type.kind }} {{ type.name }}{
	{%for method in type.met

[2018-01-13 22:17] kaygro commented on #485
Any suggestions on filtering types, which contain functions with generic constraints?

[2018-01-13 22:25] kaygro commented on #485
Just found it, in case someone else wants to know: you can compare shortName and callName, they should differ on such functions.

[2018-01-13 22:35] ilyapuchka commented on #485
I've added `isGeneric` property to `Method` for that (#487).

[2018-01-13 22:35] #485 closed

[2018-01-13 22:37] ilyapuchka commented on #486
This is intended and documented [here](https://cdn.rawgit.com/krzysztofzablocki/Sourcery/master/docs/Classes/Types.html#/c:@M@SourceryRuntime@objc(cs)Types(py)all). To get protocols use `types.protocols`

[2018-01-13 22:37] #486 closed

[2018-01-13 23:04] ilyapuchka commented on #485
And in fact those results are expected as we parse generic constraints as return type. When we will add more extensive support for generic methods this will most likely change but that's the only way now to generate a correct method override.
Regarding method name not including generic type, this is supported and tested, please check your template.

[2018-01-14 09:59] lvsti commented on #376
In case anyone is still stuck in a mixed codebase like I do, here is a tool to generate a Swift interface from ObjC bridging headers, which can then be fed to Sourcery: https://github.com/lvsti/Bridgecraft

[2018-01-14 10:35] ilyapuchka opened #489 "Protocol methods return types are not extracted correctly when broken in several lines"
When protocol defines a method, usually generic, and generic constraint takes few lines, we only extract first line into return type:

[code]

will parse return type as "T where".

This is due to the fact that protocol methods do not have bodies, and their key in this case only contains `func foo<T>(t: T) -> T`. Then we only use lines containing this string, which will only include first line in t

[2018-01-14 16:24] ilyapuchka opened #491 "Template watcher tests failing"
There turns to be one failing test (for some reason pr check still passes) that tests singe template watcher - https://circleci.com/gh/krzysztofzablocki/Sourcery/1122?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

It might be broken after changes made to the watcher. It seems that change event is not dispatched, though template is updated.

@krzysztofzablocki c

[2018-01-15 16:06] #489 closed

[2018-01-16 09:05] #491 closed

[2018-01-16 13:58] CognitiveDisson opened #493 "Crash on parse @discardableResult"
Hi. I reproduce the flaky crash when parsing a large number of files with `@discardableResult`.
File example:
[code]
Сrash does not depend on the template, it is reproduced even with empty template. But reproduced through the times with a large number of files ~ 150.

Stack trace
[code]
I rewrited the code to understand the reason.
`Request.swift`
[code]
Crash

Reason:
Method `func  fromSourceKit(

[2018-01-16 14:02] krzysztofzablocki commented on #493
@CognitiveDisson thats great investigation, could you report this in SourceKitten repo ? as it looks like not sourcery related issue https://github.com/jpsim/SourceKitten

[2018-01-16 14:07] CognitiveDisson commented on #493
@krzysztofzablocki Quick response. Yes this is their problem, post it. [link](https://github.com/jpsim/SourceKitten/issues/469)

[2018-01-16 14:07] #493 closed

[2018-01-16 21:42] djbe commented on #476
Sure, I can try to whip something up next week.

I was thinking of keeping it simple, and only supporting `stuff ${STUFF} stuff` syntax (with curly braces). And only interpolate with environment variables, as I don't think there's anything else to interpolate with?

[2018-01-16 23:04] klundberg commented on #458
PR was merged just a little while ago, thankfully :). Looks like this can be closed

[2018-01-17 00:17] norio-nomura commented on #493
Perhaps a crash occurs in SourceKitten because SourceKit returns an error.
In the next release of SourceKitten, the API will change and we will be able to catch errors without crashing.
https://github.com/jpsim/SourceKitten/pull/447/files#diff-79cf30c35f9909f18dc47be18e24c6afR370

Same function has been provided as `failableSend()` since Sourcekitten-0.10.0, We can use it without waiting for the n

[2018-01-17 00:39] norio-nomura commented on #493
Ah, sorry.
Since sourcery does not use `Request.send()` directly, we need the next release of SourceKitten containing the modified `SyntaxMap.init(file:)` that `throws`.
/cc: @jpsim

[2018-01-17 03:09] Mazyod commented on #458
Still can't seem to make it work:

[code]

[code]

[2018-01-17 07:59] krzysztofzablocki commented on #458
@Mazyod `lowerFirstWord` or `lowerFirstLetter`, take a look at https://github.com/SwiftGen/StencilSwiftKit

[2018-01-17 07:59] #458 closed

[2018-01-17 08:35] krzysztofzablocki commented on #476
works for me, thoughts @Antondomashnev @ilyapuchka @Liquidsoul   ?

[2018-01-17 09:25] Antondomashnev commented on #458
@krzysztofzablocki I think the error @Mazyod once again brought us to the idea in https://github.com/krzysztofzablocki/Sourcery/issues/471.

[2018-01-17 09:27] Antondomashnev commented on #476
Sounds ok for me 👌

[2018-01-17 14:40] ilyapuchka commented on #471
I've implemented this in https://github.com/kylef/Stencil/pull/186. Let's wait sometime until @kylef can look at that and otherwise let's maybe switch to our own fork (together with SwiftStencilKit?) as I've implemented a lot of additions (and would like to add some more) but I can understand that Kyle can have no time to look at all of them.

[2018-01-19 05:19] jpsim commented on #493
Since this is actually a SourceKit bug, has anyone reported it to Apple by filing an issue at <https://bugs.swift.org>? I'd happily forward it along to the appropriate team at Apple. /cc @CognitiveDisson

[2018-01-21 20:17] tamasprezi opened #498 "Nonlinear resource allocation"
I'm using Sourcery to generate mocks for my tests and recently I've been experimenting with preprocessing ObjC sources into a Swift header that Sourcery is then able to parse (more about it [here](https://github.com/lvsti/Bridgecraft)). In enterprise-sized projects with a significant share of ObjC in the mixed codebase, this can mean a swift interface file in the ballpark of 500KB - 1MB. I then ad

[2018-01-22 08:28] krzysztofzablocki commented on #498
I think this might be same issue as #420 so if you can confirm that in fact its same part that its mentioned there that raises the memory requirement we can close this as duplicate and move discussion there.

Generally speaking we have 2 parsing phases, `FileParser` deals with separate files and we have a combining phase at the end of all file parsing that joins the type informations together into

[2018-01-22 08:33] tamasprezi commented on #498
Yes it looks pretty much the same, you can mark it as a duplicate.

[2018-01-22 08:37] lvsti commented on #420
@Antondomashnev FWIW I've put a recursion counter into `walkDeclarations` and with a similar 500+KB swift file it never exceeded 4 levels, so the culprit might not necessarily be the recursion itself.

[2018-01-22 09:23] Antondomashnev commented on #420
@lvsti hey, thanks for the follow-up. The generated Graphql file contains lots of types, so I guess that lead to the problem with recursion. But maybe I'm missing the root cause =)

[2018-01-22 09:43] #498 closed

[2018-01-23 13:05] tcldr opened #500 "Ignore code marked as such by the preprocessor / Swift Active Compilation Conditions"
Many projects use swift preprocessor directives / active compilation conditions to enable conditional compilation. (e.g. lines surrounded by an if/ifdef/ifndef directive that should only compile when their condition – usually an environment variable – evaluates to true.)

As far as I can tell, Sourcery appears not to be aware of these markers and therefore blocks of code marked to be ignored are s

[2018-01-23 13:29] ilyapuchka commented on #500
@tcldr that's a really good suggestion.
If that's the issue we can maybe add special annotation to surround such blocks. But need to check what is the actual behaviour in this case and is there a way to solve it with SourceKitten.
But this might become more complicated if we would want Sourcery to parse source code depending on if conditions in such `#ifdef` are met or not, i.e. depending on the p

[2018-01-23 13:50] tcldr commented on #500
Great – fingers-crossed it's an easy win!

A special annotation could work, `skippedByCompiler` or something.

But if it's simpler, maybe skipping those blocks entirely and simply leveraging the preprocessor?

I guess it depends on whether there is a use-case for knowing which code the compiler has skipped during a Sourcery pass – but I imagine if you have marked code to be skipped during the prep

[2018-01-23 15:54] ilyapuchka opened #501 "Modular architecture"
Currently Sourcery can be used only as a tool, though theoretically it can be used as a dependency to power other tools. We got such requests several times in the past but for now were rejecting them. I'd like to suggest to think about that again because I think that not only Sourcery parsing functionality can be useful but also its js and swift templates. Here are some steps that we will need to

[2018-01-23 16:09] krzysztofzablocki commented on #501
Other tools use Sourcery as dependency, there are quite a few that do it, what benefits do you see of using this as a framework rather than a command line tool like they do now with swifttemplates?

Sourcery uses macOS target because embedding swift framework has not been supported properly in command line tools, not sure if that changed yet.

I'm not against us modularizing the project into frame

[2018-01-23 16:23] ilyapuchka commented on #501
I think it will be more convenient to get parsed data from some sort of API provided by a framework than invoking command line tool and then working with its results in swift templates, if I understand what you mean. The same way we could probably use SourceKitten as command line tool and then parse its output, but using it as a framework is much better.

If they use it as a framework users will a

[2018-01-23 16:46] krzysztofzablocki commented on #501
templating engines will be pluggable when we do this as our current arch is already pluggable interface so hopefully they will send their extensions upstream to us :)

I remember you wanted to work on extracting Sourcery to a framework @hartbit, would you like to start on this plan ?

[2018-01-23 16:58] hartbit commented on #501
To give some context, I’m working on a tool where I need to parse a source project with Sourcery, and some XML files to generate Swift code based on both the XML files *and* the Source code of the project. Doing so with swifttemplates would be very complicated/cumbersome.

It’s possible if the command line tool is built with SwiftPM: it statically links dependencies.

If we do this piecemeal, I co

[2018-01-25 11:06] ilyapuchka commented on #501
Another reason for me to look into #305 today

[2018-01-25 21:07] PaoloLongato opened #502 "Associated Types Parsing => Type Erasure"
I am trying to parse a Protocol with associated types; from these types I need to generate classes (ideally bearing the name of the associated type) and method signatures (generic parameters equivalent to each associated type in the protocol).  From parsing protocols and printing out the whole "type" I don't think the information I need is collected.  Any plan to support?  Any pointer on how to ad

[2018-01-30 09:32] garnett opened #504 "Compilation performance issue with AutoHashable"
[code]

`AutoHashable` generates a code as above. `hashValue` takes eterntity to compile (decided not to wait for exact figures).

[code]

Compile time is back to 20ms if I comment a few of optional short-circuit operators.

I'm aware that it's a swift issue mostly, but I think we could work on another, more verbose version of generated code which does not negatively affect performance.

[2018-01-30 09:45] garnett commented on #504
It could be solved with the following addition to the template:
[code]
which will remove repeatable `??` which is causing the issue.
Please let me know what you think.

[2018-01-30 10:30] krzysztofzablocki commented on #504
as long as the end result is the same, given this is simple change I'm all in for faster compilation time

@garnett send a pr? :)

[2018-01-30 11:00] garnett commented on #504
Will do 😄

[2018-01-30 11:07] ilyapuchka commented on #504
I think #453 addressed this already

[2018-01-30 11:09] garnett commented on #504
@ilyapuchka that's a good spot, cheers! I'm still using copy-pasted templates so missed the change. I'll check if it works for me

[2018-01-30 11:13] garnett commented on #504
<img width="1390" alt="screen shot 2018-01-30 at 11 13 20" src="https://user-images.githubusercontent.com/829783/35563450-9a55a40a-05ae-11e8-888d-62a33c29aaf9.png">

@ilyapuchka  getting this error by using latest version. Removing `Hashable` fixes the issue.

[2018-01-30 11:26] ilyapuchka commented on #504
Are you treating warnings as errors? It is supposed to be just a warning in swift 4, but we better fix that.
@krzystofzablocki should we add ability to check for swift version in templates? Otherwise in such cases templates will need to duplicate a lot of code. I.e. here if template should generate code for swift 3 and 4 it should duplicate all methods because of how ‘#if swift‘ woks

[2018-01-30 11:28] garnett commented on #504
@ilyapuchka yes I do. Removing it solves completion times issue, so feel free to close this ticket and open more relevant one if want

Thanks for rapid response 👍

[2018-01-30 12:53] krzysztofzablocki commented on #504
@ilyapuchka but we don't really know the swift version someone will use the generated code on? you can put the ifdef in the template code for the stuff that needs it

[2018-01-30 12:53] #504 closed

[2018-01-31 09:35] ilyapuchka commented on #502
For type erasure take a look at [this template](https://github.com/AliSoftware/SourceryTemplates/blob/master/Templates/TypeErase.stencil) by @AliSoftware

We are not providing associated types information at this moment and it seems to be low priority for me. Usually associated types are inferred from other declarations, I barely had to declare them explicitly. Can you describe your use case with

[2018-02-02 11:09] ilyapuchka commented on #324
I tried to implement this along with automatic linking of generated files and unfortunately this seems to introduce a lot of unnecessary complexity in configuration and will require us to make a lot of changes in parsing, as currently parsing results are not aware of sources' targets.
We do though provide module name where scanned type is defined, so you can use that to change output path using `s

[2018-02-02 11:09] #324 closed

[2018-02-02 11:13] ilyapuchka commented on #250
During working on #501 I realised that a lot of tests make use of `Sourcery.processFiles` method, which didn't let me extract templates tests to their own targets. Extracting this functionality to a separate framework will allow to do that, though we will still need to link templates tests targets to this framework.

[2018-02-02 13:45] PaoloLongato commented on #502
Thanks! Interesting, the template you linked to uses annotations to extract associated types. It could be a decent compromise, actually (I was not aware of annotations).  Essentially what I need to do is exactly what the template does.  Example.  Takes something like this:

[code]

And turn it in a series of 3 classes similar to this:

[code]

Except that in the real world I would need multiple as

[2018-02-02 13:46] ilyapuchka commented on #502
you can use the same annotation with different values, in this case values will be grouped in array.

[2018-02-02 15:16] PaoloLongato commented on #502
Something like this is acceptable I think:

[code]

Then you can transverse in the stencils file:

[code]

Maybe a bit verbose but works relatively cleanly.  Thanks a lot @ilyapuchka.

[2018-02-02 15:52] #502 closed

[2018-02-02 20:42] samskiter commented on #419
Hey @krzysztofzablocki looks like you closed this based on @beretis ' issue but I don't think it addressed the original one raised by @haimwaking which is that when specifying an XCode project file, sourcery will fail if it's own files are included by the project file. This is hurting our build times a lot as we have to `touch` each output file each build before running sourcery which causes XCode

[2018-02-02 21:35] ilyapuchka commented on #419
@samskiter what you describe seems like a different issue to me. Even if included to the projects' target (sourcery does not scan just files included into project, it only scans files included in the specified target's build phase) sourcery should skip files which have sourcery header comment. Can you please create another issue with example project that demonstrates it?

But looking at the code I

[2018-02-02 22:36] tamasprezi commented on #420
After some experimentation, I managed to have the above GraphQL example run to completion with the following change: in [Substring.swift:60](https://github.com/krzysztofzablocki/Sourcery/blob/master/Sourcery/Parsing/Utils/Substring.swift#L60) replace

[code]

with

[code]

(basically skipping the SourceKittenFramework-provided string tokenizer).

Now, I'm not exactly sure if there was any particul

[2018-02-02 23:01] ilyapuchka commented on #420
@tamasprezi thanks for your research. The reason to use SourceKitten function is that it handles (supposed to) unicode and that SourceKitten ranges are in bytes, not in NSRange, so they are not directly convertible. It will probably make sense to raise this issue in SourceKitten itself. I guess extensive memory usage might be related to internal strings cache, used by SourceKitten for performance

[2018-02-02 23:56] jpsim commented on #420
@tamasprezi as @ilyapuchka writes, your replacement isn't unicode safe and might either crash or return incorrect results if any of the characters in that file aren't exactly eight bits.

[2018-02-03 00:12] samskiter commented on #419
Sorry, I'm obviously doing a bad job of re-describing the original issue. I work with @haimwaking and we are still seeing this issue.

[2018-02-03 00:24] ilyapuchka commented on #419
Can you provide error description?

[2018-02-03 07:58] tamasprezi commented on #420
@ilyapuchka @jpsim thanks for the explanation, I'll try to come up with a unicode-safe solution then

[2018-02-03 09:27] macduy commented on #419
Thanks @ilyapuchka, if I'm reading it correctly the last PR you created might fix it. I described the error in the very first comment and also attached a sample project in one of my follow ups.

[2018-02-03 13:32] #419 closed

[2018-02-03 16:11] tamasprezi commented on #420
Here is the improved, unicode-safe fix:

[code]

Tested it with the emojified version ([APImoji.swift.zip](https://github.com/krzysztofzablocki/Sourcery/files/1691902/APImoji.swift.zip)) of the above API.swift (`s/Graph/📈/`, `s/QL/🆒/`, `s/Query/🤔/`) and this basic stencil:

[code]

got a nice unicode output of

[code]

Net execution time is around 5 mins (cache cleared beforehand), memory averages

[2018-02-03 19:37] ilyapuchka opened #509 "Use SPM to build swift templates"
Currently swift templates are compiled using swiftc, which requires to pass it some non-trivial arguments and perform additional step to properly link SourceryRuntime. Instead we can generate package manifest for each template (or a single manifest with executable for each template) and use SPM to build and run them. This will also let us remove all additional steps and code related to caching as

[2018-02-03 19:48] albsala opened #510 "Invalid redeclaration of 'report(message:)' at AutoMockable"
It seems something is wrong generating Mocks of extensions with default implementations. AutoMockable test is generating a redeclaration of `report(message:)` for `ExtendableProtocol` at `AutoMockable.generated.swift`. Yet it seems _expected_ ¿? because is exactly what `AutoMockable.expected` contains.
I could try to fix it if I knew what is the expected behaviour.

[2018-02-03 19:50] ilyapuchka commented on #510
@albsala can you show a snippet of code that is wrongly generated, what do you expect and what is the input?

[2018-02-03 19:59] albsala commented on #510
@ilyapuchka Sure!

This is the protocol defined at `AutoMockable.swift`
[code]

And this is the actual (`AutoMockable.generated.swift`) and expected (`AutoMockable.expected`) generated Mock:
[code]

With an _Invalid redeclaration of 'report(message:)'_

[2018-02-03 20:11] ilyapuchka commented on #510
It does not seem like invalid redeclaration, it just overrides default implementation defined in extension of the protocol that just prints the message. Not sure if this default implementation is needed, I would expect each mock to have its own implementation of `report` method, but anyway it is valid code.

[2018-02-03 20:12] ilyapuchka commented on #510
Ah, sorry, you mean that there are two `report` methods in the mock? I didn't notice that first

[2018-02-03 20:25] albsala commented on #510
That's right. Redeclaration and building error.

[2018-02-03 22:11] ilyapuchka commented on #510
It is probably just not very good example of test code. What it shows here is that methods with default parameters values do not override methods without default values.

[2018-02-03 22:16] ilyapuchka commented on #510
Here is the related issue - https://github.com/krzysztofzablocki/Sourcery/issues/326

[2018-02-03 22:30] ilyapuchka commented on #510
Reading this issue and related discussion I see now that the fix should be not to generate mocks for methods defined in extensions - they will be not called as they are not defined in protocol (https://github.com/krzysztofzablocki/Sourcery/issues/158#issuecomment-280935455)
@Antondomashnev do you agree? I didn't use this template so maybe I'm missing a use case when mocks should be defined for met

[2018-02-03 23:03] jpsim commented on #420
Unfortunately, changing SourceKitten's `NSString.substringWithByteRange(...)` function to return a string created from underlying bytes from the subrange of the backing data (see https://github.com/jpsim/SourceKitten/commit/6dcbf09b70c9d5f84a323ba7e94ac194890b1b50) yielded consistently slower results than the existing approach.

I measured this by running SwiftLint's benchmark suite, which lints a

[2018-02-03 23:20] ilyapuchka commented on #420
@jpsim that is probably why you are using some kind of cache for strings? Can it be that it is the reason of extensive memory usage why scanning large code base with SourceKitten? As I can see `CacheContainer` basically contains duplicate of string (by lines) and its utf8 view.

[2018-02-04 04:19] jpsim commented on #420
Yes, that’s exactly why I’m caching some useful data for all strings. I’d love nothing more but to find more efficient ways of doing those string operations to make caching unnecessary, but so far that’s the best I could do.

[2018-02-04 07:16] tamasprezi commented on #420
IMO the problem is not caching per se, it's that it doesn't go away when it should. See, if caching doubles the required memory then we'd have seen that Sourcery used ~200-300 MB to parse the above API.swift. Instead we see that memory consumption skyrockets through 10 GB(!) and counting. So I'm suspecting that Sourcery is just too generous in that it holds on to and lets string instances linger a

[2018-02-04 08:50] albsala commented on #510
Why exactly will these methods defined in extensions not be called? (I'm sorry but I can't see the sandbox demo since it seems unavailable.)

Let's say this is my protocol (note `newMethod`):

[code]

I'm might be missing something but I'd expect something like this as its Mock:

[code]

[2018-02-04 09:13] ilyapuchka commented on #510
It is related to how method dispatch is implemented in Swift, here is an [article](https://medium.com/ios-os-x-development/swift-protocol-extension-method-dispatch-6a6bf270ba94) that can explain it better. In your example mock implementation of `newMethod` will be only called when called through concrete mock type, not protocol type (and the code that accepts mock uses it through protocol, not con

[2018-02-04 10:43] albsala commented on #510
You're right, thank you for the link.
As for the mocking of methods in extensions, you might also be right. Now I can't find any scenario where they might be called.

[2018-02-04 11:16] Liquidsoul commented on #509
I've been thinking about doing this for a while. This would potentially open some powerful new features like using library code in Swift templates allowing a nice "plugin" system.
One question we must answer is how we will maintain the version of `SourceryRuntime` contained in the `Package.swift` Swift templates will use?

[2018-02-04 18:41] jpsim commented on #420
The issue with _any_ caching ever is rarely the caching itself but rather the side-effects it imposes, such as eager/late/incorrect cache invalidation, memory use, disk use, locking and resource management, etc. In any case, I don't want to derail this into a debate when there's a very pragmatic functioning workaround for the time being.

I don't want to speak for the maintainers of Sourcery, but

[2018-02-05 01:04] ilyapuchka commented on #509
SourceryRuntime version should be the same as version of sourcery tool.

[2018-02-05 01:04] #510 closed

[2018-02-05 11:36] BogdanBilonog opened #513 "Wrong dictionary type generation with typealias and string extension for case associated value"
I'm trying to generate enum extension with prism vars. If sources contain typealias `typealias JSON = [String: Any]` and `extension String {}` `type.name` for associated value will be `String` (should be `JSON`). Any suggestions?

Source file:
[code]

Template file:
[code]

Generated file:
[code]

[2018-02-07 15:02] gushromp opened #515 "Calling macro with a parameter invoking a filter crashes"
So I have a macro
[code]

And when I attempt to invoke it like this:
[code]
I get this fatal exception:
`Terminating app due to uncaught exception 'NSUnknownKeyException', reason: '[<SourceryRuntime.Struct 0x7f94a2e1a5a0> valueForUndefinedKey:]: this class is not key value coding-compliant for the key storedVariables|annotated:"json".'`

Calling the macro without the filter on `storedVariables` wo

[2018-02-07 15:04] ilyapuchka commented on #515
Please file this issue in [StencilSwiftKit](https://github.com/SwiftGen/StencilSwiftKit).

[2018-02-07 15:04] #515 closed

[2018-02-07 15:10] gushromp commented on #515
I will, thanks for the pointer.

While I'm already here and the issue is closed, can you please help me with my second question (on the bottom)? I don't know where else to ask :)

[2018-02-07 15:12] ilyapuchka commented on #515
I don't understand the question clearly. Can you explain your use case?

[2018-02-07 15:19] gushromp commented on #515
I want to write a template that loops over either:
a) All stored variables if the type they're contained in is **not** annotated with a certain annotation, or
b) Only those stored variables which are annotated somehow, **if their container type is also annotated**

Example:

[code]

So far the closest I've come to a solution is using a macro which wraps the for loop like this
[code]
 and invoking

[2018-02-07 15:23] ilyapuchka commented on #515
You can maybe use `set` node from StencilSwiftKit to workaround `macro` limitation, but it should be just fixed to parse filter expressions, then it will work.

[2018-02-07 15:27] gushromp commented on #515
Unfortunately, `set` doesn't seem to do any expression parsing and just uses the plain string value that's put between `{% set var %}` and `{% endset %}`.

Anyway, thanks for the help. I've posted the issue in the StencilSwiftKit repo.

[2018-02-07 15:32] ilyapuchka commented on #515
Then it's also a bug for StencilSwiftKit

[2018-02-08 09:57] DaskiOFF opened #516 "Decorator Template question"
Hello!

Can I somehow implement the generation of a class body, as shown in the [decorator example](https://cdn.rawgit.com/krzysztofzablocki/Sourcery/master/docs/decorator.html)?
And how can I even use Swift Templates? I can't find information.

Thanks.

[2018-02-08 12:28] #457 closed

[2018-02-08 12:42] ilyapuchka commented on #516
Homebrew uses SPM to build Sourcery from source code, so Swift templates will not work, you need to install it with Cocoapods or just download latest release binary.
This template uses auto-inline feature, which will insert generated code in the end of type body even if there are no inline annotations (it will add `auto:inline` annotation). More about that in the [docs](https://cdn.rawgit.com/krzy

[2018-02-08 15:53] krzysztofzablocki commented on #420
@tamasprezi want to make a pr? then me and @ilyapuchka we can use that to see how it affects our performance in private projects and whether it makes sense to use that

[2018-02-08 21:05] lvsti commented on #420
He (I mean I) will try to find time for it in the weekend :)

[2018-02-10 20:37] thevest commented on #353
Just implemented a basic version for my own project, it doesn't handle a lot of edge cases / is pretty rough around the edges, nonetheless for anyone that may be interested...

Template

[code]

[code]

Produces

[code]

I just found this project yesterday and it is really awesome by the way! @krzysztofzablocki What do you think about moving this repo to an organization and then creating a sort of

[2018-02-11 19:39] kaygro opened #520 "The type component of member variables doesn't know the the typehierarchy of corresponding swift type."
Assume, member is a member variable, whose type implements protocol P.

Then
{%if member.type.based.P%}
hi
{%endif%}

won't output anything.

[2018-02-12 08:42] ilyapuchka commented on #520
Can you provide example of input for such template that does not produce expected result?

[2018-02-12 13:21] krzysztofzablocki commented on #353
@thevest thanks for sharing the template, we discussed organization before but we don't want to manage multiple projects as its PITA, we already share common startup templates in this repo and have tests for them that run each time Sourcery is changed which helps with maintaining them

@thevest would you mind adding it to our bundled templates along with some basic tests? even if it doesn't handle

[2018-02-14 21:31] drewmclean opened #521 "ArrayType elementType?"
I am trying to get the elementType from a Variable that is a typed array.  variable.isArray returns true, however: variable.type is nil for some reason.

public var controls : [Control] = [Control]()

// {{ variable }} output
<Variable: name = controls, typeName = [Control], isComputed = false, isStatic = false, readAccess = public, writeAccess = public, isMutable = true, defaultValue = Optional("

[2018-02-14 22:17] ilyapuchka commented on #521
@drewmclean instead of `type` you should use `typeName.array`. `Array` type is defined in standard library which Sourcery does not scan, so does not know anything about it, more [here](https://cdn.rawgit.com/krzysztofzablocki/Sourcery/master/docs/writing-templates.html)

[2018-02-14 22:17] #521 closed

[2018-02-15 00:54] drewmclean commented on #521
Thanks!

[2018-02-16 11:52] AndriiDoroshko opened #523 "Working with Generics"
What do i have?

`let start: CommandWith<Progress>`

Progress is ContentControlsViewController.Props.Progress

What do i want to get?

`public init(start: CommandWith<ContentControlsViewController.Props.Progress>) {}`

What i do have!

`public init(start: CommandWith<Progress>) {}`

Question:

How to get `type.name` instead of default `typeName` inside generic?

[2018-02-16 12:00] ilyapuchka commented on #523
what are you using in template that outputs `CommandWith<Progress>`?

[2018-02-16 12:07] ilyapuchka commented on #523
As a workaround you can use full type name in the property definition, if you can change code. Or you can deconstruct the type parameter and access it's `type.globalName` property to build full type name.

[2018-02-16 12:46] AndriiDoroshko commented on #523
@ilyapuchka
Simple:
`{{ variable.typeName }}`
But if i use:
`{{ variable.type.name }}` , it doesn't work at all...

How can i get type in generic type, and than, i wanna do checks like:
 `    {% if variable.type.**generic**.type.name != nil %}
           {{ case.associatedValues.first.type.name }}
       {% else %}
           {{ case.associatedValues.first.typeName }}`
???
But `.**generic**` doesn

[2018-02-16 13:09] AndriiDoroshko commented on #523
@ilyapuchka Could you give an example, please?
Thanks)

[2018-02-16 13:55] ilyapuchka commented on #523
`{% if variable.typeName.generic.typeParameter.type.actualTypeName %}` should give you global name of generic parameter, so it should be `ContentControlsViewController.Props.Progress`. But we should provide a better way for that, probably in this case `variable.typeName.actualTypeName` instead of `CommandWith<Progress>` should contain fully qualified type, so that it can be used in any context.

@

[2018-02-16 14:47] AndriiDoroshko commented on #523
@ilyapuchka Sorry, but `{{ variable.typeName.generic.typeParameter.type.actualTypeName }}` doesn't work(
`sourcery 0.10.1`

[2018-02-16 14:49] ilyapuchka commented on #523
Yes, because there was no release yet since we implemented generic support, you need to get latest master version.

[2018-02-16 14:52] AndriiDoroshko commented on #523
We use brew on the project, so i have to install it through the brew.
When could release be expected in a brew?

[2018-02-16 16:09] ilyapuchka commented on #523
Don't know, I think we can make release after pr with my fix is merged, there are a lot of things already. If not 1.0 then 0.11

[2018-02-19 15:22] #523 closed

[2018-02-20 11:00] RomanTysiachnik commented on #523
@ilyapuchka looking forward for the next release ;)

[2018-02-21 16:40] mxcl opened #526 "CLI usage is a little tedious due to lack of support for globbing."
Since you cannot use a glob, eg:

    sourcery --templates LinuxMain.stencil --sources Tests/A+/*

Doesn’t work since all but one of the sources I specify is treated as arguments. This seems like a common way to use a command line tool to me.

Close if you don’t care, if you care we can talk about it, but it would be a somewhat difficult change to make at this point.

[2018-02-21 16:42] ilyapuchka commented on #526
@mxcl do you want all files from `Tests/A+` to be scanned? Then you can just provide it without `*`.

[2018-02-21 16:49] mxcl commented on #526
K that'll do me, thanks.

[2018-02-21 16:49] #526 closed

[2018-02-21 17:40] mxcl commented on #306
Hi, I need this for various reasons, would you accept the patch that removes `--watch` on Linux as for my use (and I think most other people too) we need Sourcery in our CI environments but we don’t need it as a workflow tool (on Linux at least).

[2018-02-21 17:41] ilyapuchka commented on #306
@mxcl I guess this is acceptable for now, but why not just commit generated code instead of running Sourcery on CI?

[2018-02-21 17:52] mxcl commented on #306
Two reasons:

* Humans make mistakes, if I have to generate it manually, I'll forget.
* I don't like committing generated files (especially generated files that are only used for CI on two platforms out of six)

Well, if you aren't cool with it then I'd rather not. Since maintaining something that core don't want is not fun.

[2018-02-21 17:55] ilyapuchka commented on #306
I think it is fine as I suppose watcher does not work on Linux any way, but I didn't try it. @krzysztofzablocki you probably know better if thats the case?

[2018-02-21 17:55] felix91gr commented on #306
I agree with @mxcl

Committing generated code seems like a very bad idea. The whole point of Sourcery is that the _canonical code_ are your macros. If you’re committing generated code, you’re not committing canonical code. I might be wrong, but that seems like a very bad idea.

[2018-02-22 09:42] krzysztofzablocki commented on #306
@mxcl we'd be happy to accept a PR that enables Linux support, even without the watcher especially since its nice to have and not a critical feature 👍

I totally agree with `Humans make mistakes, if I have to generate it manually, I'll forget.`, the whole idea behind Sourcery is to limit human mistakes as much as possible, its the driving principle for this project.

@felix91gr I do disagree on no

[2018-02-22 09:49] ilyapuchka commented on #306
@krzysztofzablocki I could not explain it better, completely agree with all the points (the only thing is probably LinuxMain is really not that necessary to commit, but if so, I would consider it as exception). I think we should put it in README as general recommendation.

[2018-02-22 11:22] Sajjon opened #528 "Thin documentation of .swifttemplate format: How to use "string filters"?"
Can you help me with how to use string "filters" writing a `.swifttemplate` and not `.stencil`?

I am using `//sourcery:file` command to rename my generated files to contain the type, but when working with nested types, thus containing a dot, Sourcery skips adding ".generated.swift" as per documentation. So I need to use "string filters" to replace the dots in my type name to some other char, mayb

[2018-02-22 11:25] ilyapuchka commented on #528
swift templates are just plain swift programs, so you can use standard library or define any custom functions. You just need to wrap it with `<% %>` tags.

[2018-02-22 11:25] ilyapuchka commented on #528
You can check [this](https://github.com/krzysztofzablocki/Sourcery/blob/master/Templates/Templates/Decorator.swifttemplate) template for example

[2018-02-22 13:04] Sajjon commented on #528
@ilyapuchka thanks!

Sorry, I just thought that there still would be some macros that we could use for quick mutation of variable names.

I have written some quite powerful templates already but when I wrote them (some months ago) I felt that the documentation was a bit lacking.

What is the best way of extending some type to some protocol? I used `<% guard enumType.based["AutoCases"] != nil else

[2018-02-22 13:08] ilyapuchka commented on #528
You can still use `where` in `for` loops in Swift, so I would use that. But if it will be removed in future versions of swift, `guard` seems like the only option and I think it's fine and much more familiar to any developer that custom Stencil syntax.

[2018-02-22 13:16] Sajjon commented on #528
Great thanks, closing this!

[2018-02-22 13:16] #528 closed

[2018-02-22 13:21] Sajjon opened #529 "Ruby script for automatically adding generated folder to target"
Hi, I do not know if you find this as convenient as I do but when generating many Sourcery files, especially when I use one file per type, it is cumbersome to manually having to add said generated files to the target. So I wrote a small ruby script doing this for me. It is using the gem called [xcodeproj](https://github.com/CocoaPods/Xcodeproj)

The script is based on this by [Kevin Lee](https://g

[2018-02-22 13:28] ilyapuchka commented on #529
Actually this will be supported by Sourcery with next release, it was implemented in  https://github.com/krzysztofzablocki/Sourcery/pull/514
But thanks anyway, maybe some users will find it easier to use or more extensible than doing it via configuration

[2018-02-22 13:33] Sajjon commented on #529
Haha wow that's awesome!

I actually the same script for [ModelGen](https://github.com/hebertialmeida/ModelGen) and [SwiftGen](https://github.com/SwiftGen/SwiftGen) too, so I can have the same script in root of my project dir and just use the same script for adding all generated files, if all files are in the same folder named "Generated", but great to have it "natve" via Sourcery!

[2018-02-22 13:33] #529 closed

[2018-02-22 15:18] mxcl commented on #306
K great, I'll spin up my docker.

[2018-02-22 20:12] mxcl opened #530 "Sourcery is not affected by `#if os(foo)`"
While making it compile on Linux I have noticed that `#if os(macOS)` blocks are ingested on Linux leading to generation of classes that don’t exist when compiled.

For example, I put `#if os(macOS)` inside everything in `Method.swift` (since I see no other way to conditionalize use for Sourcery) but the type is still generated into eg.`Description.generated.stencil`.

Suggestions? Work arounds? Fi

[2018-02-22 21:13] ilyapuchka commented on #530
@mxcl yes, that's the issue we were discussing in #500. It seems that SourceKitten does not care about these conditions. So we need to do our own preprocessing before feeding files content to it, either by parsing these conditions or using some custom annotations to do the same.

[2018-02-22 21:16] mxcl commented on #530
Thanks, sorry I missed that ticket. I did a search, so my bad search-fu. Probably I can work around this some other way for now.

[2018-02-22 21:16] #530 closed

[2018-02-22 21:33] ilyapuchka commented on #530
I guess the easiest way for now is to annotate types, properties or methods which should be available conditionally, with some annotation and then check it in the template. I.e. if type should be only available on Linux it can be annotated with `// sourcery: platform=linux` and then you can check the value of this annotation in template. The problem is how to check for the platform in the template

[2018-02-22 22:00] ilyapuchka opened #531 "Templates documentation api"
Annotations are not compiled and very easy to type wrong. Then it can produce confusing result for which requires to read template carefully. To improve understanding of templates we can introduce documentation api that can be used in header comment of template and can look like this:

[code]

Then we can parse annotations from in these comments and when we parsing them from code and find unknown

[2018-02-26 13:58] guidomb opened #532 "Version reported by --version flag does not match release and tag version"
Running `swiftlint --version` for binaries attached to releases [0.10.1](https://github.com/krzysztofzablocki/Sourcery/releases/tag/0.10.1) and [0.10.0](https://github.com/krzysztofzablocki/Sourcery/releases/tag/0.10.0) don't match expected version number.

The following screenshots shows this problem.
<img width="1440" alt="screen shot 2018-02-24 at 7 36 02 pm" src="https://user-images.githubuser

[2018-03-04 14:31] ssuhanov opened #533 "Convenient verify using AutoMockable"
I use AutoMockable in my iOS projects. And it would be great to write something like this:
[code]

instead this:
[code]

I have improved the AutoMockable template, and if you want - I can create pull-request with this improvements.

[2018-03-04 14:35] ilyapuchka commented on #533
Thanks for the suggestion @ssuhanov! This definitely looks as a better API to me, but can be a matter of developer own preferences and might vary depending on what testing framework is used. Wouldn't it be possible to achieve the same without changing templates (which only generate mocks and not asserts) but by using separate helper methods which will wrap those asserts?

[2018-03-04 14:45] ssuhanov commented on #533
@ilyapuchka You're right. I can move this functionality to the separate template (for example AutoVerifyable) and do not touch AutoMockable. :)

[2018-03-05 16:40] krzysztofzablocki commented on #533
Also there is https://github.com/MakeAWishFoundation/SwiftyMocky that builds a more advanced mocking system

[2018-03-05 16:40] #533 closed

[2018-03-05 17:58] allenhumphreys opened #534 "`containedTypes` is empty if they're defined within an extension"
Version 0.10.0 installed via cocoapods.

Template:
[code]

Failing code:
[code]

Expected output:
[code]

Actual output:
[code]

The extension and the container type are defined in the same file. Is this expected behavior?

[2018-03-07 21:46] ilyapuchka commented on #534
I think you should check just for "ContainedType" as a type name, not it's full name. Otherwise you need to use `globalName`